{% extends "::base.html.twig" %}
{% block page_title %}{{ parent() }} {{ 'bibliometry.exception.404.page_title'|trans }}{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">{{ 'bibliometry.exception.404.page_title'|trans }}</li>
{% endblock %}

{% block body %}
    <div class="error-page">
        <h2 class="headline text-info">404</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> {{ 'bibliometry.exception.404.message'|trans }}</h3>
            <p>
                {{ 'bibliometry.exception.404.details'|trans }}
            </p>
        </div><!-- /.error-content -->
    </div><!-- /.error-page -->
{% endblock %}
