{% extends "::base.html.twig" %}
{% block page_title %}{{ parent() }} {{ 'bibliometry.exception.403.page_title'|trans }}{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">{{ 'bibliometry.exception.403.page_title'|trans }}</li>
{% endblock %}

{% block body %}
    <div class="error-page">
        <div class="error-content" style="margin-left:0px">
            <h3><i class="fa fa-warning text-yellow"></i> {{ exception.message|trans }}</h3>
        </div><!-- /.error-content -->
    </div><!-- /.error-page -->
{% endblock %}
