{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.conferences.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.conferences.page_title'|trans }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.conferences.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-list"></i> {{ 'bibliometry.conferences.nb_conferences'|trans({'%nb_conferences%': conferences|length}) }}</h3>
            </div>
            <div class="box-body">
                <div class="box-body table-responsive">
                    <table class="researchers_table table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ 'bibliometry.conferences.acronym'|trans }}&nbsp;&nbsp;&nbsp;</th>
                                <th>{{ 'bibliometry.conferences.title'|trans }}</th>
                                <th>{{ 'bibliometry.conferences.nb_publications'|trans }}</th>
                                <th>{{ 'bibliometry.conferences.ranking'|trans }}&nbsp;&nbsp;&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for conference in conferences %}
                                <tr>
                                    <td><a href="{{ path('conference_route', {'slug_conference': conference.slug}) }}"><button class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i> {{ 'bibliometry.conferences.details'|trans }}</button></a></td>
                                    <td align="center"><a href="{{ path('conference_route', {'slug_conference': conference.slug}) }}">{{ conference.acronym }}</a></td>
                                    <td><a href="{{ path('conference_route', {'slug_conference': conference.slug}) }}">{{ conference.title }}</a></td>
                                    <td>{{ conference.getNbPubli }}</td>
                                    {% set confRanking = conference.getLastConferenceRanking() %}
                                    <td align="center" data-order="{{ confRanking ? confRanking.valueInteger : 6 }}">
                                        {% if confRanking %}
                                            {{ confRanking.value|conf_color|raw }}
                                        {% else %}
                                            {% if conference.getConferenceRankingLabel() == "FR" %}
                                                <span class="flag-icon flag-icon-fr" style="font-size:20px"></span>
                                            {% else %}
                                                -
                                            {% endif %}
                                        {% endif %}
                                    </td>   
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box-body -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Scripts for data table #}
    <!-- DATA TABES SCRIPT -->
    <script src="{{ asset('js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(function() {
            var oTable = $('.researchers_table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "iDisplayLength": 50,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "aaSorting": [[ 3, "desc" ]]
            });
        });
    </script>
{% endblock %}