{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ conference.title }}{% endblock %}

{% block page_title %}
    <div style="width:60%;">{{ conference.acronym ? '['~conference.acronym~'] ':'' }}{{ conference.title}} <small>{{ 'bibliometry.conference.page_title'|trans }}</small></div>
    {% if is_granted('ROLE_ADMIN') %}
        <div style="margin-top:10px">
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#edit_conference_popup">
                {{ 'bibliometry.conference.edit_conference'|trans }}
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('all_conferences_route') }}">{{ 'bibliometry.conferences.page_title'|trans }}</a>
    </li>
    <li class="active">
        {{ 'bibliometry.conference.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
{# Left part #}
<div class="col-md-8">
    <h2 class="page-header">{{ 'bibliometry.conference.details'|trans }}</h2>
    
    <div class="box box-solid bg-light-blue">
        <div class="box-header">
            <h3 class="box-title">{{ conference.title }}</h3>
        </div>
    </div><!-- /.box-body -->

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-list"></i> {{ 'bibliometry.conference.publications'|trans }}</h3>
        </div>
        <div class="box-body">
            {% include "BibliometryMainBundle:Conference:showPublicationsTable.html.twig" with {"publiConferences" : conference.getPubliConferences() } %}
        </div>
    </div>
</div>

{# Right part #}
<div class="col-md-4">
    {# Ranking box #}
    <h2 class="page-header">{{ 'bibliometry.conference.ranking'|trans }}</h2>
    <!-- small box -->
    <div class="small-box bg-{{ conference.getConferenceRankingLabel()|conf_background_color }}">
        <div class="inner">
            <h3>
                {{ conference.getConferenceRankingLabel() }}
            </h3>
            <p>
                {{ conference.getLastConferenceRanking() ? 'from CORE '~conference.getLastConferenceRanking().year : 'bibliometry.conference.no_ranking'|trans }}
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        {% set conf_link = conference.getCoreLink() %}
        {% if conf_link %}
            <a href="{{ conf_link }}" class="small-box-footer" target="_blank">
                {{ 'bibliometry.conference.more_info'|trans }} <i class="fa fa-arrow-circle-right"></i>
            </a>
        {% else %}
            <a href="#" class="small-box-footer">
                {{ 'bibliometry.conference.no_ranking'|trans }}
            </a>
        {% endif %}
    </div>
    <h2 class="page-header">{{ 'bibliometry.conference.editions'|trans }}</h2>
    {% for publiConference in conference.getEditions() %}
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>
                    {{ publiConference.getYear() }}
                </h3>
                <p>
                    {{ publiConference.city }}<br>
                    {{ ('bibliometry.countries.'~publiConference.country)|trans }}
                </p>
            </div>
            <div class="icon">
                <span class="flag-icon flag-icon-{{ publiConference.country }}" style="font-size:75px"></span>
            </div>
        </div>
    {% endfor %}
</div>

{% if is_granted('ROLE_ADMIN') %}
    {% block edit_conference %}
        {{ render(controller('BibliometryMainBundle:Conference:editConference', { 'slug_conference': conference.slug })) }}
    {% endblock %}
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Scripts for data table #}
    <!-- DATA TABES SCRIPT -->
    <script src="{{ asset('js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            var oTable = $('.publications_table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "aaSorting": [[ 0, "desc" ]]
            });
        });
    </script>
{% endblock %}