<div class="box-body table-responsive">
    <table class="publications_table table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ 'bibliometry.conference.year'|trans }}&nbsp;&nbsp;&nbsp;</th>
                <th>{{ 'bibliometry.conference.title'|trans }}</th>
                <th>{{ 'bibliometry.conference.authors'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for publiConference in publiConferences %}
                {% set publication = publiConference.publication %}
                {% if publication != null %}
                    <tr>
                        <td align="center">{{ publication.year }}</td>
                        <td><a href="{{ path('publication_route', {'slug_publication':publication.slug}) }}">#{{ publication.id }} {{ publication.title }}</a></td>
                        <td>
                            {% for author in publication.authors %}
                                {% if hasRightToSee %}
                                    <a href="{{ path('researchers_researcher_researcher', {'slug_researcher': author.slug}) }}">{{ author.name }} {{ author.surname }}</a>{% if not loop.last %}, {% endif %}
                                {% else %}
                                    {{ author.name }} {{ author.surname }}{% if not loop.last %}, {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div><!-- /.box-body -->