<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LabMetry{% endblock %}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% block stylesheets %}
            <!-- bootstrap 3.0.2 -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- font Awesome -->
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- Ionicons -->
            <link href="{{ asset('css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- DATA TABLES -->
            <link href="{{ asset('css/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
            <!-- Theme style -->
            <link href="{{ asset('css/AdminLTE.css') }}" rel="stylesheet" type="text/css" />
            <!-- Flags style -->
            <link href="{{ asset('assets/docs.css') }}" rel="stylesheet">
            <link href="{{ asset('css/flag-icon.css') }}" rel="stylesheet">
            <!-- Toaster style -->
            <link href="{{ asset('css/toastr.min.css') }}" rel="stylesheet">
            <!-- Select2 style -->
            <link href="{{ asset('css/select2.css') }}" rel="stylesheet">
        {% endblock %}
        <!-- jQuery 2.0.2 -->
        <script src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
    </head>
    {% set errors = app.session.flashbag.get('error') %}
    {% set successes = app.session.flashbag.get('success') %}
    {% block all_content %}
    <body class="skin-black fixed">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="{{ path('welcome_route') }}" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <img src="{{ asset('img/logo.png') }}" alt="labmetry logo" style="height:40px" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        {% set route = app.request.attributes.get('_route') %}
    {% if route != 'final_registration_route' and route != 'select_matching_researcher_route' and route != 'select_main_researcher_route' %}
                            <li>                    
                                <a href="#" data-toggle="modal" data-target="#report_popup" class="text-yellow">
                                    <i class="fa fa-warning"></i><span class="navbar-help-text">&nbsp;&nbsp;{{ 'bibliometry.base.report_error'|trans }}</span>
                                </a>
                            </li>
                        {% endif %}
                        {# NOTIFICATIONS MENU #}
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell"></i>
                                {% if (app.user.unreadNotifications|length) > 0 %}
                                    <span class="label label-danger">{{ app.user.unreadNotifications|length }}</span>
                                {% endif %}
                                <span class="navbar-help-text">&nbsp;&nbsp;{{ 'bibliometry.base.notifications'|trans }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">{{ 'bibliometry.base.notifications'|trans }}</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        {% if (app.user.unreadNotifications|length) == 0 %}
                                            <li>
                                                <a href =""><i class="fa fa-check success"></i> {{ 'bibliometry.base.all_read_notifications'|trans }}</a>
                                            </li>
                                        {% endif %}
                                        {% for notification in app.user.unreadNotifications %}
                                            <li><!-- Task item -->
                                                {% include "BibliometryMainBundle:Notification:showNotificationItem.html.twig" with {'notification': notification} %}
                                            </li><!-- end task item -->
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="{{ path('notifications_route') }}">{{ 'bibliometry.base.see_all_notifications'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>  
                                {% if app.user.name and app.user.surname %}
                                    {{ app.user.name|slice(0,1)~". "~app.user.surname }}
                                {% else %}
                                    {{ app.user.username }}
                                {% endif %} 
                                 <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    {% if app.user.photo %}
                                        <img src="{{ asset(app.user.photo.getWebPath()) }}" class="img-circle" alt="User Image" />
                                    {% else %}
                                        <img src="{{ asset('img/default_avatar.png') }}" class="img-circle" alt="User Image" />
                                    {% endif %}
                                    <p>
                                        {% if app.user.name and app.user.surname %}
                                            {{ app.user.name~" "~app.user.surname }}
                                        {% else %}
                                            {{ app.user.username }}
                                        {% endif %}
                                        <small>{{ 'bibliometry.base.member_since'|trans({'%date%': app.user.registrationDate|date('F Y')}) }}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-flat">{{ 'bibliometry.base.edit_profile'|trans }}</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path(authentication_type == "FOS" ? 'fos_user_security_logout' : 'logout') }}" class="btn btn-default btn-flat">{{ 'bibliometry.base.sign_out'|trans }}</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            
            {% include "::menu.html.twig" %}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {% block page_title %}{% endblock %}
                    </h1>
                    <ol class="breadcrumb">
                        {% block breadcrumbs %}
                            <li>
                                <a href="{{ path('welcome_route') }}"><i class="fa fa-dashboard"></i> {{ 'bibliometry.base.home'|trans }}</a>
                            </li>
                        {% endblock %}
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                
                {% block body %}{% endblock %}

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        
    {% block flashbag_messages %}
    {% if errors|length > 0 %}
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="error_popup">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        {% for error in errors %}
                            <div class="callout callout-danger">
                                <h4>{{ 'bibliometry.base.error'|trans }}</h4>
                                <p>{{ error|trans }}</p>
                            </div> 
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'bibliometry.base.close'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% endblock %}
    
    {% set route = app.request.attributes.get('_route') %}
    {% if route != 'final_registration_route' and route != 'select_matching_researcher_route' and route != 'select_main_researcher_route' %}
        {% block report_error_popup %}
            {{ render(controller("BibliometryMainBundle:ReportError:reportPopup")) }}
        {% endblock %}
    {% endif %}

    </body>
    {% endblock %}
    {% block javascripts %}
        <!-- Bootstrap -->
        <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
        <!-- Toastr -->
        <script src="{{ asset('js/toastr.min.js') }}" type="text/javascript"></script>
        <!-- Select2 -->
        <script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="{{ asset('js/AdminLTE/app.js') }}" type="text/javascript"></script>        
        {% if errors|length > 0 %}
            <script>
                $( document ).ready(function() {
                    $('#error_popup').modal('show');
                });
            </script>
        {% endif %}
        {% if successes|length > 0 %}
            {% for success in successes %}
                <script>
                    toastr.success('{{ success|trans }}');
                </script>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {# Error report script #}
    <script src="{{ asset('js/bootstrap-combobox.js') }}" type="text/javascript"></script>
    <script>
        var errorType = $('#bibliometry_mainbundle_errorreport_errorType');
        // When errorType change
        errorType.change(function() {
          // ... retrieve the corresponding form.
          var form = $(this).closest('form');
          // Simulate form data, but only include the selected errorType value.
          var data = {};
          data[errorType.attr('name')] = errorType.val();
          // Submit data via AJAX to the form's action path.
          $('body').css({'cursor':'wait'})
          $("#error_report_submit").prop('disabled', true);
          $.ajax({
            url : form.attr('action'),
            type: form.attr('method'),
            data : data,
            success: function(html) {
              // Append the rest of the form
              $("#dynamic_form_part").html(
                $(html).find('#bibliometry_mainbundle_errorreport_'+errorType.val())
              );
              $("#dynamic_form_part").append(
                $(html).find('#bibliometry_mainbundle_errorreport_comments').parent()
              );
              $("#dynamic_form_part").append(
                $(html).find('#bibliometry_mainbundle_errorreport_sendMail').parent()
              );
                $("#dynamic_form_part").find("input[type='checkbox'], input[type='radio']").iCheck({
                    checkboxClass: 'icheckbox_minimal',
                    radioClass: 'iradio_minimal'
                });
                $('#bibliometry_mainbundle_errorreport_'+errorType.val()+" select:not([multiple])").combobox();
                $('#bibliometry_mainbundle_errorreport_'+errorType.val()+" select[multiple]").removeClass("form-control");
                $('#bibliometry_mainbundle_errorreport_'+errorType.val()+" select[multiple]").css("width", "100%");
                $('#bibliometry_mainbundle_errorreport_'+errorType.val()+" select[multiple]").select2();
                
                $('body').css({'cursor':'default'})
                $("#error_report_submit").prop('disabled', false);
            }
          });
        });
        function submitErrorReport (e, dom)
        {
            var postData = dom.serializeArray();
            var formURL = dom.attr("action");
            $.ajax(
            {
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR) 
                {
                    $('#report_popup').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    
                    if (data.url)
                    {
                        window.location.assign(data.url);
                    }
                    else
                    {
                        $('#report_popup').replaceWith(data);
                        $("#report_popup").find("input[type='checkbox'], input[type='radio']").iCheck({
                            checkboxClass: 'icheckbox_minimal',
                            radioClass: 'iradio_minimal'
                        });
                        $('#bibliometry_mainbundle_errorreport_'+errorType.val()+" select:not([multiple])").combobox();
                        $('#bibliometry_mainbundle_errorreport_'+errorType.val()+" select[multiple]").removeClass("form-control");
                        $('#bibliometry_mainbundle_errorreport_'+errorType.val()+" select[multiple]").css("width", "100%");
                        $('#bibliometry_mainbundle_errorreport_'+errorType.val()+" select[multiple]").select2();
                    
                        $("#report_error_form").submit(function(e) { submitErrorReport(e, $(this)); });
                        $('#report_popup').modal('show');
                    }
                },
            });
            e.preventDefault(); //STOP default action
        }
        $("#report_error_form").submit(function(e) { submitErrorReport(e, $(this)); });

        $("#search_form").submit(function(event) {
            event.preventDefault();
            request = $("#search_request").val();
            baseURL = "{{ path('search_route', {'request':'TOREPLACE'}) }}";
            window.location.href = baseURL.replace("TOREPLACE", request);
        });
    </script>
</html>

