<h2>{{ 'bibliometry.base.date'|trans }}</h2>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
            <label>{{ 'bibliometry.stats.begin_month'|trans }} :</label>
        </div>
        <input type="number" name="import_hal_begin_month" class="form-control" value="{{ beginMonth }}" "min="1" max="12" required />
    </div><!-- /.input group -->
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
            <label>{{ 'bibliometry.stats.begin_year'|trans }} :</label>
        </div>
        <input type="number" name="import_hal_begin_year" class="form-control" value="{{ beginYear }}" "min="1900" max="{{ 'now'|date('Y') }}" required />
    </div><!-- /.input group -->
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
            <label>{{ 'bibliometry.stats.end_month'|trans }} :</label>
        </div>
        <input type="number" class="form-control" name="import_hal_end_month" value="{{ endMonth }}" "min="1" max="12" required />
    </div><!-- /.input group -->
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
            <label>{{ 'bibliometry.stats.end_year'|trans }} :</label>
        </div>
        <input type="number" name="import_hal_end_year" class="form-control" value="{{ endYear }}" min="1900" max="{{ 'now'|date('Y') }}" required />
    </div><!-- /.input group -->
</div>
<h2>{{ 'bibliometry.base.otherFilters'|trans }}</h2>
<div class="form-group">
<select name="filter" id="filter">
  <option value="all" {{ constraint == "all" ? "selected='selected'" : "" }} >No other filter</option>
  <option value="foreignCoauthor" {{ constraint == "foreignCoauthor" ? "selected='selected'" : "" }} >{{ 'bibliometry.base.show'|trans }} {{ 'bibliometry.base.foreignCoauthor'|trans }}</option>
  <option value="eurSleightCoauthor" {{ constraint == "eurSleightCoauthor" ? "selected='selected'" : "" }} >{{ 'bibliometry.base.show'|trans }} {{ 'bibliometry.base.eurSleightCoauthor'|trans }}</option>
  <option value="frenchConferences" {{ constraint == "frenchConferences" ? "selected='selected'" : "" }} >{{ 'bibliometry.base.show'|trans }}  {{ 'bibliometry.base.frenchConferences'|trans }}</option>
  <option value="internationalConferences" {{ constraint == "internationalConferences" ? "selected='selected'" : "" }} >{{ 'bibliometry.base.show'|trans }}  {{ 'bibliometry.base.internationalConferences'|trans }}</option>
</select>
</div>

<button class="btn btn-block btn-primary" id="date_picker_apply_button"><i class="fa fa-fw fa-check"></i> {{ 'bibliometry.stats.apply'|trans }}</button>

<script>
    $( "#date_picker_apply_button" ).click(function() {
        var beginYear = $("[name=import_hal_begin_year]").val();
        var endYear = $("[name=import_hal_end_year]").val();
        var beginMonth = $("[name=import_hal_begin_month]").val();
        var endMonth = $("[name=import_hal_end_month]").val();
        var filter = $("[name=filter]").val();
        var baseURL = "{{ baseURL }}";
        var wantedURL = baseURL.replace('0000', beginYear);
        wantedURL = wantedURL.replace('1111', endYear);
        wantedURL = wantedURL.replace('2222', beginMonth);
        wantedURL = wantedURL.replace('3333', endMonth);
        wantedURL = wantedURL.replace('4444', filter);
        window.location = wantedURL;
    });
</script>