{% extends 'form_div_layout.html.twig' %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <label class="control-label" for="inputError" style="color:#f56954"><i class="fa fa-times-circle-o"></i> {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</label>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
{% spaceless %}
    {% if 'checkbox' not in block_prefixes %}
        <div class="form-group {{ errors|length > 0 ? 'has-error' : '' }}">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block widget_attributes %}
    {{ parent() }}
    class="form-control"
{% endblock %}

{% block checkbox_widget %}
{% spaceless %}
    <div class="checkbox">
        <label>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />&nbsp;{{ form_label(form) }}
        </label>
    </div>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block textarea_widget %}
{% spaceless %}
    <textarea class="textarea" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}