<aside class="left-side sidebar-offcanvas">                
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                {% if app.user.photo %}
                    <img src="{{ asset(app.user.photo.getWebPath()) }}" class="img-circle" alt="User Image" />
                {% else %}
                    <img src="{{ asset('img/default_avatar.png') }}" class="img-circle" alt="User Image" />
                {% endif %}
            </div>
            <div class="pull-left info">
                <p>Hello, 
                {% if app.user.name %}
                    {{ app.user.name }}
                {% else %}
                    {{ app.user.username }}
                {% endif %}
                </p>
            </div>
        </div>
        <!-- search form -->
        {% set route = app.request.attributes.get('_route') %}
        {% set route_params = app.request.attributes.get('_route_params') %}
        <form class="sidebar-form" id="search_form">
            <div class="input-group">
                <input type="text" id="search_request" class="form-control" placeholder="{{ 'bibliometry.menu.search'|trans }}" value="{{ route == "search_route" ? request : '' }}" required />
                <span class="input-group-btn">
                    <button type='submit' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li {{ route == 'welcome_route' ? 'class="active"':''}}>
                <a href="{{ path('welcome_route') }}">
                    <i class="fa fa-home"></i> <span>{{ 'bibliometry.menu.homepage'|trans }}</span>
                </a>
            </li>
            <li {{ route == 'all_journals_route' ? 'class="active"':''}}>
                <a href="{{ path('all_journals_route') }}">
                    <i class="fa fa-book"></i> <span>{{ 'bibliometry.researchers.researcher.journals'|trans }}</span>
                </a>
            </li>
            {% if authentication_type == "FOS" or app.user.researcher %}
            <li class="treeview {{ (app.user.researcher and (route == 'researchers_researcher_researcher' or route == 'researchers_researcher_stats') and route_params['slug_researcher'] == app.user.researcher.slug) or route == 'fos_user_profile_edit'  ? 'active':''}}">
                <a href="#">
                    <i class="fa fa-user"></i> <span>{{ 'bibliometry.menu.my_profile'|trans }}</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    {% if app.user.researcher %}
                    <li {{ route == 'researchers_researcher_researcher' and route_params['slug_researcher'] == app.user.researcher.slug ? 'class="active"':''}}><a href="{{ path('researchers_researcher_researcher', {'slug_researcher': app.user.researcher.slug}) }}"><i class="fa fa-angle-double-right"></i> {{ 'bibliometry.menu.general'|trans }}</a></li>
                    <li {{ route == 'researchers_researcher_stats' and route_params['slug_researcher'] == app.user.researcher.slug ? 'class="active"':''}}><a href="{{ path('researchers_researcher_stats', {'slug_researcher': app.user.researcher.slug}) }}"><i class="fa fa-angle-double-right"></i> {{ 'bibliometry.menu.stats'|trans }}</a></li>
                    {% endif %}
                    <li {{ route == 'fos_user_profile_edit' ? 'class="active"':''}}><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-angle-double-right"></i> {{ 'bibliometry.menu.edit_profile'|trans }}</a></li>
                </ul>
            </li>
            {% endif %}
            <li {{ route == 'all_teams_route' ? 'class="active"':''}}>
                <a href="{{ path('all_teams_route') }}">
                    <i class="fa fa-list"></i> <span>{{ 'bibliometry.menu.teams_list'|trans }}</span>
                </a>
            </li>
            {% if app.user.researcher %}
                {% for team in app.user.researcher.teams %}
                <li class="treeview {{ (route == 'show_team_route' and route_params['slug_team'] == team.slug) or (route == 'show_team_stats_route' and route_params['slug_team'] == team.slug) or (route == 'manage_team_route' and route_params['slug_team'] == team.slug) ? 'active':''}}">
                    <a href="#">
                        <i class="fa fa-users"></i> <span>{{ team.name }}</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li {{ route == 'show_team_route' and route_params['slug_team'] == team.slug ? 'class="active"':''}}><a href="{{ path('show_team_route', {'slug_team': team.slug}) }}"><i class="fa fa-angle-double-right"></i> {{ 'bibliometry.menu.general'|trans }}</a></li>
                        <li {{ route == 'show_team_stats_route' and route_params['slug_team'] == team.slug ? 'class="active"':''}}><a href="{{ path('show_team_stats_route', {'slug_team': team.slug}) }}"><i class="fa fa-angle-double-right"></i> {{ 'bibliometry.menu.stats'|trans }}</a></li>
                        {% if team.isManaged(app.user) %}
                            <li {{ route == 'manage_team_route' and route_params['slug_team'] == team.slug ? 'class="active"':''}}><a href="{{ path('manage_team_route', {'slug_team': team.slug}) }}"><i class="fa fa-angle-double-right"></i> {{ 'bibliometry.menu.manage'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endfor %}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or (app.user.researcher and app.user.researcher.leadTeams|length > 0) %}
            <li {{ route == 'show_errors_route' ? 'class="active"':''}}>
                <a href="{{ path('show_errors_route') }}">
                    {% set nb_reports_pending = concerned_reports_service.getConcernedErrorReports(app.user)|length %}
                    <i class="fa fa-warning"></i> <span>{{ 'bibliometry.menu.errors_pending'|trans }}</span> <small class="badge pull-right bg-{{ nb_reports_pending > 0 ? 'red' : 'green' }}">{{ nb_reports_pending }}</small>
                </a>
            </li>
            {% endif %}
            <li {{ route starts with 'help_' ? 'class="active"':''}}>
                <a href="{{ path('help_show_help') }}">
                    <i class="fa fa-question-circle"></i> <span>{{ 'bibliometry.menu.help'|trans }}</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li {{ route == 'admin_route' ? 'class="active"':''}}>
                <a href="{{ path('admin_route') }}">
                    <i class="fa fa-lock"></i> <span>{{ 'bibliometry.menu.administration'|trans }}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>