{% block report_error_popup %}
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="report_popup">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'bibliometry.errors.error_report.popup_title'|trans }}</h4>
                </div>
                {{ form_start(form, {'action': path('report_popup_route'), 'attr': {'id': 'report_error_form'}}) }}
                    <div class="modal-body">
                        {# Explanations box #}
                        <div class="box box-solid bg-light-blue">
                            <div class="box-body">
                                <p>{{ 'bibliometry.errors.error_report.explanations'|trans }}</p>
                            </div>
                        </div>
                        {# Error type selector #}
                        <div class="form-group">
                            {{ form_widget(form.errorType, {"attr" : {"class" : "form-control"}}) }}
                        </div>
                        {{ form_widget(form) }}
                        <div id="dynamic_form_part">
                    
                        </div>
                        {{ form_rest(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'bibliometry.errors.error_report.close'|trans }}</button>
                        <button type="submit" class="btn btn-primary" id="error_report_submit" {{ form.vars.valid ? 'disabled':'' }}>{{ 'bibliometry.errors.error_report.send_report'|trans }}</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}