{% block edit_journal %}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="edit_journal_popup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'bibliometry.journal.edit_journal_popup_title'|trans }}</h4>
            </div>
            {{ form_start(form, {'action': path('edit_journal_route', {'slug_journal': journal.slug})}) }}
                <div class="modal-body">
                    {{ form_row(form.title) }}
                    {{ form_row(form.iSSN) }}
                    
                    <div class="form-group ifs" data-prototype="{% filter escape %}
                     {{ include('BibliometryMainBundle:Journal:IFPrototype.html.twig', { 'form': form.IFs.vars.prototype }) }}
                     {% endfilter %}">
                    <label>{{ 'bibliometry.journal.edit_journal_popup_ifs'|trans }}</label>
                    <div class="row text-center" style="margin-bottom:10px">
                        <div class="col-sm-3">
                            {{ 'bibliometry.journal.edit_journal_popup_if_year'|trans }}
                        </div>
                        <div class="col-sm-3">
                            {{ 'bibliometry.journal.edit_journal_popup_if_value'|trans }}
                        </div>
                        <div class="col-sm-3">
                            {{ 'bibliometry.journal.edit_journal_popup_if_quartile'|trans }}
                        </div>
                        <div class="col-sm-3">
                            {{ 'bibliometry.journal.edit_journal_popup_if_delete'|trans }}
                        </div>
                    </div>
					{% for if in form.IFs %}
						{{ include('BibliometryMainBundle:Journal:IFPrototype.html.twig', { 'form': if }) }}
					{% endfor %}
				</div>
				<div class="form-group"></div>
				{% do form.IFs.setRendered %}
                </div>
                <div class="modal-footer">
                    {{ form_rest(form) }}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'bibliometry.errors.error_report.close'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'bibliometry.journal.edit_journal_popup_submit'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}