{% extends "::base_mail.html.twig" %}

{% block mail_title %}
    {{ 'bibliometry.journal.failed_import_mail.subject'|trans({'%journal%': journal.title}) }}
{% endblock %}

{% block mail_content %}
    {{ 'bibliometry.journal.failed_import_mail.content'|trans({'%journal%': journal.title})|raw }}
{% endblock %}