<div class="row" style="margin-bottom:10px" id="{{ form.vars.id }}">
    <div class="col-sm-3">
        {{ form_widget(form.year) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.value) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.quartile) }}
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-sm btn-danger btn-block remove-if"><i class="fa fa-trash-o"></i></button>
    </div>
</div>