{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.search.html_title'|trans }} {{ 'bibliometry.journals.html_title'|trans }}{% endblock %}

{% block page_title %}
    {% set nbResults = results|length %}
    {{ 'bibliometry.search.page_title'|transchoice(nbResults, {'%request%': request}) }}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.search.search_results'|trans }}
    </li>
{% endblock %}

{% block body %}
    <div class="col-md-12">
	    {% set route = app.request.attributes.get('_route') %}
        {% set route_params = app.request.attributes.get('_route_params') %}
        <div  class="box box-solid box-body">
            <form id="search_form_journal">
                <div class="input-group">
                    <span class="input-group-btn"> </span><span class="input-group-btn">{{ 'bibliometry.journals.search_wok'|trans }}</span><span class="input-group-btn"> </span>
                    <input type="text" id="search_request_journal" class="form-control" placeholder="{{ 'bibliometry.menu.search'|trans }}" value="{{ route == "search_journal_wok_route" ? request : '' }}" required />
                    <span class="input-group-btn"><button type='submit' class="btn btn-flat"><i class="fa fa-search"></i></button></span>
                </div>
            </form>
        </div>
    
    {% if results|length > 0 %}
        <div class="box box-primary">
            <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>{{ 'bibliometry.journals.importJournal'|trans }}</th>
                                <th>{{ 'bibliometry.journals.title'|trans }}</th>
                                <th>{{ 'bibliometry.journals.abbrTitle'|trans }}</th>
                                <th>{{ 'bibliometry.journals.issn'|trans }}</th>
                                <th>{{ 'bibliometry.journals.eissn'|trans }}</th>
                                <th>{{ 'bibliometry.journals.jcrCoverageYears'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                                <tr>
                                    <td><a href="{{ path('import_journal_wok_route', {'journalTitle': result.journalTitle, 'issn': result.issn, 'abbrJournal': result.abbrJournal, 'edition': result.edition}) }}" class="btn btn-primary btn-block"><i class="fa fa-bar-chart-o"></i> {{ 'bibliometry.journals.importJournal'|trans }}</a></td>
                                    <td>{{ result.journalTitle }}</td>
                                    <td>{{ result.abbrJournal }}</td>
                                    <td>{{ result.issn }}</td>
                                    <td>{{ result.eissn }}</td>
                                    <td>
                                    {% for year in result.jcrCoverageYears %}
                                        {{ year }}
                                    {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#search_form_journal").submit(function(event) {
            event.preventDefault();
            requeste = $("#search_request_journal").val();
            baseURL = "{{ path('search_journal_wok_route', {'request':'TOREPLACE'}) }}";
            window.location.href = baseURL.replace("TOREPLACE", requeste);
        });
    </script>
{% endblock %}