<div class="box-body table-responsive">
    <table class="publications_table table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ 'bibliometry.journal.year'|trans }}&nbsp;&nbsp;&nbsp;</th>
                <th>{{ 'bibliometry.journal.if_year'|trans }}</th>
                <th>{{ 'bibliometry.journal.title'|trans }}</th>
                <th>{{ 'bibliometry.journal.authors'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for publiJournal in publiJournals %}
                {% set publication = publiJournal.publication %}
                {% if publication != null %}
                    <tr>
                        <td align="center">{{ publication.year }}</td>
                        {% set journalIF = publication.publiJournal.getImpactFactor() %}
                        <td data-order="{{ journalIF ? journalIF.value : 0 }}">
                        {% if journalIF %}
                            {{ journalIF.value|if_color(journalIF.quartile)|raw }}
                        {% else %}
                            {{ 'bibliometry.journal.no_ranking'|trans }}
                        {% endif %}
                        </td>
                        <td><a href="{{ path('publication_route', {'slug_publication':publication.slug}) }}">#{{ publication.id }} {{ publication.title }}</a></td>
                        <td>
                            {% for author in publication.authors %}
                                {% if hasRightToSee %}
                                    <a href="{{ path('researchers_researcher_researcher', {'slug_researcher': author.slug}) }}">{{ author.name }} {{ author.surname }}</a>{% if not loop.last %}, {% endif %}
                                {% else %}
                                    {{ author.name }} {{ author.surname }}{% if not loop.last %}, {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div><!-- /.box-body -->