{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ journal.title }}{% endblock %}

{% block page_title %}
    <div style="width:60%;">{{ journal.title }} <small>{{ 'bibliometry.journal.page_title'|trans }}</small></div>
    {% if is_granted('ROLE_ADMIN') %}
    <div style="margin-top:10px">
        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#edit_journal_popup">
            {{ 'bibliometry.journal.edit_journal'|trans }}
        </button>
    </div>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('all_journals_route') }}">{{ 'bibliometry.journals.page_title'|trans }}</a>
    </li>
    <li class="active">
        {{ 'bibliometry.journal.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
{# Left part #}
<div class="col-md-8">
    <h2 class="page-header">{{ 'bibliometry.journal.details'|trans }}</h2>
    
    <div class="box box-solid bg-light-blue">
        <div class="box-header">
            <h3 class="box-title">{{ journal.title }}</h3>
        </div>
    </div><!-- /.box-body -->

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-list"></i> {{ 'bibliometry.journal.publications'|trans }}</h3>
        </div>
        <div class="box-body">
            {% include "BibliometryMainBundle:Journal:showPublicationsTable.html.twig" with {"publiJournals" : journal.getPubliJournals() } %}
        </div>
    </div>
</div>

{# Right part #}
<div class="col-md-4">
    {# Ranking box #}
    <h2 class="page-header">{{ 'bibliometry.journal.ranking'|trans }}</h2>
    <!-- small box -->
    <div class="small-box bg-{{ journal.getLastIF() ? journal.getLastIF().quartile|journal_background_color : 'darkgrey' }}">
        <div class="inner">
            <h3>
                {{ journal.getLastIF() ? journal.getLastIF().value~' (Q'~journal.getLastIF.quartile~')' : 'NC' }}
            </h3>
            <p>
                {{ journal.getLastIF() ? 'from WOK '~journal.getLastIF.year : 'bibliometry.journal.no_ranking'|trans }}
            </p>
        </div>
        <div class="icon" style="margin-bottom: -15px">
            <i class="ion ion-stats-bars"></i>
        </div>
    </div>
    
    {% if journal.getLastIF() %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"><i class="ion ion-arrow-graph-up-right"></i> {{ 'bibliometry.journal.if_evolution'|trans }}</h3>
                <div class="box-tools pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.stats.export'|trans }} <span class="fa fa-caret-down"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" name="download_flot_canvas_png_button" graph_id="barchart-ifevolution" target="_blank" download="{{ journal.slug }}_if_evolution_per_year.png">{{ 'bibliometry.stats.export_png'|trans }}</a></li>
                            <li><a href="{{ path('export_stats_journal_route', {'slug_journal': journal.slug, 'graph': 'if_evolution', '_format': 'csv'}) }}" target="_blank" download="{{ journal.slug }}_if_evolution_per_year.csv">{{ 'bibliometry.stats.export_csv'|trans }}</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div>
            </div>
            <div class="box-body chart-responsive">
                <div id="barchart-ifevolution" style="width:100% ; height:200px"></div>
            </div>
        </div>
        
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"><i class="ion ion-arrow-graph-up-right"></i> {{ 'bibliometry.journal.quartile_evolution'|trans }}</h3>
                <div class="box-tools pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.stats.export'|trans }} <span class="fa fa-caret-down"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" name="download_flot_canvas_png_button" graph_id="barchart-quartileevolution" target="_blank" download="{{ journal.slug }}_quartile_evolution_per_year.png">{{ 'bibliometry.stats.export_png'|trans }}</a></li>
                            <li><a href="{{ path('export_stats_journal_route', {'slug_journal': journal.slug, 'graph': 'quartile_evolution', '_format': 'csv'}) }}" target="_blank" download="{{ journal.slug }}_quartile_evolution_per_year.csv">{{ 'bibliometry.stats.export_csv'|trans }}</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div>
            </div>
            <div class="box-body chart-responsive">
                <div id="barchart-quartileevolution" style="width:100% ; height:200px"></div>
            </div>
        </div>
    {% endif %}

</div>

{% if is_granted('ROLE_ADMIN') %}
    {% block edit_journal %}
        {{ render(controller('BibliometryMainBundle:Journal:editJournal', { 'slug_journal': journal.slug })) }}
    {% endblock %}
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Scripts for data table #}
    <!-- DATA TABES SCRIPT -->
    <script src="{{ asset('js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            var oTable = $('.publications_table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "aaSorting": [[ 0, "desc" ]]
            });
        });
    </script>
    {% if journal.getLastIF() %}
        {# Script for IF evolution #}
        <script src="{{ asset('js/plugins/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/plugins/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/plugins/flot/jquery.flot.canvas.min.js') }}" type="text/javascript"></script>
        <script>
            $(function() {

                var dataIF = {
                    label: "IF",
                    data : [
                    {% for IF in journal.getIFs() %}
                        [{{ IF.year }}, {{ IF.value }}],
                    {% endfor %}
                    ],
                    color: "#f56954"
                };
            
                var options = {
                    canvas: true,
                    series: {
                        lines: {
                            show: true,
                        },
                        points: {
                            show: true,
                        }
                    },
                    yaxes: [ 
                        {
                            tickDecimals: 2,
                        },
                    ],
                    grid: {
                        hoverable: true,
                        clickable: true,
                        borderWidth: 0,
                    },
                    xaxis: {
                            tickDecimals: 0,
                            tickLength: 0
                    },
                    legend: {
                        show: false
                    }
                };

                $.plot("#barchart-ifevolution", [ dataIF ], options);
                
                //Initialize tooltip on hover
                $("<div class='tooltip-inner' id='line-chart-tooltip'></div>").css({
                    position: "absolute",
                    display: "none",
                    opacity: 0.8
                }).appendTo("body");
                $("#barchart-ifevolution").bind("plothover", function(event, pos, item) {

                    if (item) {
                        var x = item.datapoint[0].toFixed(0),
                                y = item.datapoint[1].toFixed(3);

                        $("#line-chart-tooltip").html("IF : "+y)
                                .css({top: item.pageY + 5, left: item.pageX + 5})
                                .fadeIn(200);
                    } else {
                        $("#line-chart-tooltip").hide();
                    }

                });
            
            });
        </script>
        <script>
            $(function() {

                var dataQuartile = {
                    label: "Quartile",
                    data: [
                    {% for IF in journal.getIFs() %}
                        [{{ IF.year }}, {{ 5 - IF.quartile }}],
                    {% endfor %}
                    ],
                    color: "#f56954"
                };
            
                var options = {
                    canvas: true,
                    series: {
                        lines: {
                            show: true,
                            barWidth: 0.6,
					        align: "center",
					        fillColor: "#f56954"
                        },
                        points: {
                            show: true,
                        }
                    },
                    yaxes: [ 
                        {
                            ticks: [[0, ""], [1, "Q4"], [2, "Q3"], [3, "Q2"], [4, "Q1"]]
                        },
                    ],
                    grid: {
                        hoverable: true,
                        clickable: true,
                        borderWidth: 0,
                    },
                    xaxis: {
                        tickDecimals: 0,
                        tickLength: 0
                    },
                    legend: {
                        show: false
                    }
                };

                $.plot("#barchart-quartileevolution", [ dataQuartile ], options);
                
                //Initialize tooltip on hover
                $("<div class='tooltip-inner' id='line-chart-tooltip'></div>").css({
                    position: "absolute",
                    display: "none",
                    opacity: 0.8
                }).appendTo("body");
                $("#barchart-ifevolution").bind("plothover", function(event, pos, item) {

                    if (item) {
                        var x = item.datapoint[0].toFixed(0),
                                y = item.datapoint[1].toFixed(3);

                        $("#line-chart-tooltip").html("IF : "+y)
                                .css({top: item.pageY + 5, left: item.pageX + 5})
                                .fadeIn(200);
                    } else {
                        $("#line-chart-tooltip").hide();
                    }

                });
            
            });
        </script>
        <script>
            $("[name=download_flot_canvas_png_button]").click(function() { downloadPNGCanvas($(this)); })
            function downloadPNGFlotCanvas(button) {
                var div_graph = $("#"+button.attr('graph_id'));
                var canvas = div_graph.children()[0];
                var img = canvas.toDataURL("image/png");
                button.attr("href", img);
            }
        </script>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <script>
            function addTagForm(collectionHolder, $newLinkLi)
            {
                // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
                var prototype = collectionHolder.attr('data-prototype');

                // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
                // la longueur de la collection courante
                var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

                // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
                $newLinkLi.before(newForm);
            }
        
            // Récupère le div qui contient la collection de tags
            var collectionHolder = $('.ifs');

            // ajoute un lien « add a tag »
            var $addTagLink = $('<a href="#" class="btn btn-block btn-info btn-sm"><i class="fa fa-plus-circle"></i> {{ 'bibliometry.journal.edit_journal_popup_addif'|trans }}</a>');
            var $newLinkLi = $addTagLink;

            jQuery(document).ready(function() {
                // ajoute l'ancre « ajouter un tag » et li à la balise ul
                collectionHolder.append($newLinkLi);
            
                function newIF() {
                 // empêche le lien de créer un « # » dans l'URL
                

                    // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
                    addTagForm(collectionHolder, $newLinkLi);
                
                    // Initialisations JS
                    var blockId = "#bibliometry_mainbundle_journal_IFs___name__".replace(/__name__/g, collectionHolder.children().length-1);
                
                    $(blockId).find('.remove-if').on('click', function(){
                        $(this).closest('.row').remove();
                    });
                } 
            

                $addTagLink.on('click', function(e) {
                    newIF(e);
                    e.preventDefault();
                });

                $('.remove-if').on('click', function(){
                    $(this).closest('.row').remove();
                });
            
            });
            </script>
    {% endif %}
	
{% endblock %}