{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.journals.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.journals.page_title'|trans }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.journals.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
    <!-- search form -->
    {% set route = app.request.attributes.get('_route') %}
    {% set route_params = app.request.attributes.get('_route_params') %}
    
    <div class="col-md-12">
        <div  class="box box-solid box-body">
            <form id="search_form_journal">
                <div class="input-group">
                    <span class="input-group-btn"> </span><span class="input-group-btn">{{ 'bibliometry.journals.search_wok'|trans }}</span><span class="input-group-btn"> </span>
                    <input type="text" id="search_request_journal" class="form-control" placeholder="{{ 'bibliometry.menu.search'|trans }}" required />
                    <span class="input-group-btn"><button type='submit' class="btn btn-flat"><i class="fa fa-search"></i></button></span>
                </div>
            </form>
        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-list"></i> {{ 'bibliometry.journals.nb_journals'|trans({'%nb_journals%': journals|length}) }}</h3>
            </div>
            <div class="box-body">
                <div class="box-body table-responsive">
                    <table class="researchers_table table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ 'bibliometry.journals.title'|trans }}</th>
                                <th>{{ 'bibliometry.journals.nb_publications'|trans }}</th>
                                <th>{{ 'bibliometry.journals.if'|trans }}&nbsp;&nbsp;&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for journal in journals %}
                                <tr>
                                    <td><a href="{{ path('journal_route', {'slug_journal': journal.slug}) }}"><button class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i> {{ 'bibliometry.journals.details'|trans }}</button></a></td>
                                    <td><a href="{{ path('journal_route', {'slug_journal': journal.slug}) }}">{{ journal.title }}</a></td>
                                    <td>{{ journal.getNbPubli }}</td>
                                    {% set journalIF = journal.getLastIF() %}
                                    <td align="center" data-order="{{ journalIF ? journalIF.value : 0 }}">
                                        {% if journalIF %}
                                            {{ journalIF.value|if_color(journalIF.quartile)|raw }}
                                        {% else %}
                                            {{ 'bibliometry.journals.no_if'|trans }}
                                        {% endif %}
                                    </td>   
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box-body -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Scripts for data table #}
    <!-- DATA TABES SCRIPT -->
    <script src="{{ asset('js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(function() {
            var oTable = $('.researchers_table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "iDisplayLength": 50,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "aaSorting": [[ 2, "desc" ]]
            });
        });

        $("#search_form_journal").submit(function(event) {
            event.preventDefault();
            request = $("#search_request_journal").val();
            baseURL = "{{ path('search_journal_wok_route', {'request':'TOREPLACE'}) }}";
            window.location.href = baseURL.replace("TOREPLACE", request);
        });
    </script>
{% endblock %}