{% extends "::base.html.twig" %}

{% block title %}BibliometryMainsBundle:Researcher:showResearcher{% endblock %}

{% block page_title %}{{ app.user.username }} <small>{{ 'bibliometry.edit_profile.page_title'|trans }}</small>{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.edit_profile.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
    <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.edit_profile.modify_informations'|trans }}</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            {{ form_start(form, {'class': 'fos_user_profile_edit', 'action': path('fos_user_profile_edit')}) }}
                <div class="box-body">
                    {% if authentication_type != "LDAP"  %}
                    <div class="form-group {{ (not form.username.vars.valid)?'has-error':'' }}">
                        <label for="{{ form.username.vars.id }}">{{ "bibliometry.edit_profile.username"|trans }}</label>
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, {"attr" : {"class" : "form-control"}}) }}
                    </div>
                    {% endif %}
                    {% if authentication_type != "LDAP"  %}
                    <div class="form-group {{ (not form.email.vars.valid)?'has-error':'' }}">
                         <label for="{{ form.email.vars.id }}">{{ "bibliometry.edit_profile.email"|trans }}</label>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {"attr" : {"class" : "form-control"}}) }}
                    </div>
                    {% endif %}
                    <div class="form-group {{ (not form.name.vars.valid)?'has-error':'' }}"">
                        <label for="{{ form.name.vars.id }}">{{ "bibliometry.edit_profile.name"|trans }}</label>
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="form-group {{ (not form.surname.vars.valid)?'has-error':'' }}"">
                        <label for="{{ form.surname.vars.id }}">{{ "bibliometry.edit_profile.surname"|trans }}</label>
                        {{ form_errors(form.surname) }}
                        {{ form_widget(form.surname) }}
                    </div>
                    <div class="form-group {{ (not form.photo.vars.valid)?'has-error':'' }}"">
                        <label for="{{ form.photo.vars.id }}">{{ "bibliometry.edit_profile.photo"|trans }}</label>
                        {{ form_errors(form.photo.file) }}
                        {{ form_widget(form.photo.file) }}
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary btn-block">{{ "bibliometry.edit_profile.submit"|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div><!-- /.box -->
    </div><!--/.col (left) -->
    {% if authentication_type != "LDAP"  %}
        <div class="col-md-6">
    <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.edit_profile.change_password'|trans }}</h3>
            </div><!-- /.box-header -->
            {{ form_start(formPassword, {'class': 'fos_user_change_password', 'action': path('fos_user_profile_edit')}) }}
                <div class="box-body">
                        <div class="form-group {{ (not formPassword.current_password.vars.valid)?'has-error':'' }}">
                            <label for="{{ formPassword.current_password.vars.id }}">{{ "bibliometry.edit_profile.current_password"|trans }}</label>
                            {{ form_errors(formPassword.current_password) }}
                            {{ form_widget(formPassword.current_password, {"attr" : {"class" : "form-control"}}) }}
                        </div>
                        <div class="form-group {{ (not formPassword.plainPassword.first.vars.valid)?'has-error':'' }}">
                            <label for="{{ formPassword.plainPassword.first.vars.id }}">{{ "bibliometry.edit_profile.new_password"|trans }}</label>
                            {{ form_errors(formPassword.plainPassword.first) }}
                            {{ form_widget(formPassword.plainPassword.first, {"attr" : {"class" : "form-control"}}) }}
                        </div>
                        <div class="form-group {{ (not formPassword.plainPassword.second.vars.valid)?'has-error':'' }}">
                            <label for="{{ formPassword.plainPassword.second.vars.id }}">{{ "bibliometry.edit_profile.confirm_password"|trans }}</label>
                            {{ form_errors(formPassword.plainPassword.second) }}
                            {{ form_widget(formPassword.plainPassword.second, {"attr" : {"class" : "form-control"}}) }}
                        </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    {{ form_rest(formPassword) }}
                    <button type="submit" class="btn btn-primary btn-block">{{ "bibliometry.edit_profile.change_password"|trans }}</button>
                </div>
            {{ form_end(formPassword) }}
        </div><!-- /.box -->
    </div><!--/.col (left) -->
    {% endif %}
{% endblock %}