{% extends "::base.html.twig" %}
{% block all_content %}
<body class="bg-black">

        <div class="form-box" id="login-box">
            <div class="header">{{ 'bibliometry.login.title'|trans }}</div>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="body bg-gray">
                    {% if authentication_type == "LDAP" %}
                    <div class="callout callout-info">
                        {{ 'bibliometry.login.university_account'|trans }}
                    </div>
                    {% endif %}
                    {% if error %}
                        <div class="callout callout-danger">{{ error.message|trans }}</div>
                    {% endif %}
                    <div class="form-group">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'bibliometry.security.login.username'|trans }}" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'bibliometry.security.login.password'|trans }}" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked"> {{ 'bibliometry.security.login.remember_me'|trans }}
                        </label>
                    </div>
                </div>
                <div class="footer">                                                               
                    <button type="submit" class="btn bg-light-blue btn-block">{{ 'bibliometry.login.submit'|trans }}</button>
                    {% if authentication_type != "LDAP" %}
                    <p><a href="{{ path('fos_user_resetting_request') }}">{{ 'bibliometry.login.forgot_password'|trans }}</a></p>
                    
                    <a href="{{ path('fos_user_registration_register') }}" class="text-center">{{ 'bibliometry.login.register'|trans }}</a>
                    {% endif %}
                </div>
            </form>
        </div>   
    </body>
{% endblock %}
