{% extends "::base.html.twig" %}
{% block all_content %}
    <body class="bg-black">
        <div class="form-box" id="login-box">
            <div class="header">{{ 'bibliometry.forgot_password.title'|trans }}</div>
                <div class="body bg-gray">
                    <p>{{ 'bibliometry.resetting.password_already_requested'|trans }}</p>
                </div>
                <div class="footer">                                                               
                    <p><a href="{{ path('fos_user_security_login') }}">{{ 'bibliometry.forgot_password.goto_login'|trans }}</a></p>
                </div>
        </div>   
    </body>
{% endblock %}
