{% extends "::base.html.twig" %}

{% block all_content %}
<body class="bg-black">

        <div class="form-box" id="login-box">
            <div class="header">{{ "bibliometry.registration.title"|trans }}</div>
            {{ form_start(form, {'class': 'fos_user_registration_register', 'action': path('fos_user_registration_register')}) }}
                <div class="body bg-gray">
                    <div class="form-group {{ (not form.username.vars.valid)?'has-error':'' }}">
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, {"attr" : {"class" : "form-control", "placeholder" : "bibliometry.registration.username"|trans }}) }}
                    </div>
                    <div class="form-group {{ (not form.email.vars.valid)?'has-error':'' }}">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {"attr" : {"class" : "form-control", "placeholder" : "bibliometry.registration.email"|trans }}) }}
                    </div>
                    <div class="form-group {{ (not form.plainPassword.first.vars.valid)?'has-error':'' }}">
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, {"attr" : {"class" : "form-control", "placeholder" : "bibliometry.registration.password1"|trans }}) }}
                    </div>
                    <div class="form-group {{ (not form.plainPassword.second.vars.valid)?'has-error':'' }}">
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {"attr" : {"class" : "form-control", "placeholder" : "bibliometry.registration.password2"|trans }}) }}
                    </div>
                    {{ form_rest(form) }}
                </div>
                <div class="footer">                    

                    <button type="submit" class="btn bg-light-blue btn-block">{{ 'bibliometry.registration.submit'|trans }}</button>

                    <a href="{{ path('fos_user_security_login') }}" class="text-center">{{ "bibliometry.registration.already_member"|trans }}</a>
                </div>
            {{ form_end(form) }}

        </div>
    </body>
{% endblock %}

