{% extends "::base.html.twig" %}
{% block all_content %}
<body class="bg-black">

        <div class="form-box" id="login-box">
            <div class="header">{{ 'bibliometry.forgot_password.title'|trans }}</div>
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                <div class="body bg-gray">
                    {% if invalid_username is defined %}
                        <div class="callout callout-danger">{{ 'bibliometry.resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
                    {% endif %}
                    <div class="form-group">
                        <input type="text" id="username" name="username" required="required" class="form-control" placeholder="{{ 'bibliometry.forgot_password.username_or_email'|trans }}" />
                    </div>
                </div>
                <div class="footer">                                                               
                    <button type="submit" class="btn bg-light-blue btn-block">{{ 'bibliometry.resetting.request.submit'|trans }}</button>
                    
                    <p><a href="{{ path('fos_user_security_login') }}">{{ 'bibliometry.forgot_password.goto_login'|trans }}</a></p>
                
                </div>
            </form>
        </div>   
    </body>
{% endblock %}
