{% extends "::base_mail.html.twig" %}

{% block mail_title %}
    {{ 'bibliometry.resetting.email.subject'|trans }}
{% endblock %}

{% block mail_content %}
    {{ 'bibliometry.resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endblock %}