{% extends "::base.html.twig" %}
{% block all_content %}
<body class="bg-black">

        <div class="form-box" id="login-box">
            <div class="header">{{ 'bibliometry.forgot_password.title'|trans }}</div>
            {{ form_start(form, {'action': path('fos_user_resetting_reset', {'token': token}) }) }}
                <div class="body bg-gray">
                    <div class="form-group {{ (not form.plainPassword.first.vars.valid)?'has-error':'' }}">
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, {"attr" : {"class" : "form-control", "placeholder" : "bibliometry.reset_password.first_password"|trans }}) }}
                    </div>
                    <div class="form-group {{ (not form.plainPassword.second.vars.valid)?'has-error':'' }}">
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {"attr" : {"class" : "form-control", "placeholder" : "bibliometry.reset_password.second_password"|trans }}) }}
                    </div>
                    {{ form_rest(form) }}
                </div>
                <div class="footer">                                                               
                    <button type="submit" class="btn bg-light-blue btn-block">{{ 'bibliometry.reset_password.send_button'|trans }}</button>
                    
                    <p><a href="{{ path('fos_user_security_login') }}">{{ 'bibliometry.forgot_password.goto_login'|trans }}</a></p>
                
                </div>
            {{ form_end(form) }}
        </div>   
    </body>
{% endblock %}
