Year;Publications in conferences;Publications in journals
{% set publicationsConferencesYear = subject.getPublicationsIndexedPerYear(subject.getPublicationsConferences(beginYear, endYear, beginMonth, endMonth, constraint), beginYear, endYear, constraint) %}
{% set publicationsJournalsYear = subject.getPublicationsIndexedPerYear(subject.getPublicationsJournals(beginYear, endYear, beginMonth, endMonth, constraint), beginYear, endYear, constraint) %}
{% for year in beginYear..endYear %}
{{ year }};{{ publicationsConferencesYear[year]|length }};{{ publicationsJournalsYear[year]|length }}
{% endfor %}