<div class="col-md-6">
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title"><i class="ion ion-stats-bars"></i> {{ 'bibliometry.stats.graph_conference_repartition'|trans }}</h3>
            <div class="box-tools pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.stats.export'|trans }} <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" name="download_flot_canvas_png_button" graph_id="barchart-conferencerepartition" target="_blank" download="{{ subject.slug }}_conference_repartition.png">{{ 'bibliometry.stats.export_png'|trans }}</a></li>
                        <li><a href="{{ path(export_path, {(slug_name): subject.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'graph': 'barchart_conference_ranking_repartition', '_format': 'csv'}) }}" target="_blank" download="{{ subject.slug }}_conference_ranking_repartition.csv">{{ 'bibliometry.stats.export_csv'|trans }}</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div id="barchart-conferencerepartition" style="width:100%; height:400px"></div>
            {{ 'bibliometry.stats.not_ranked_publications'|trans }}: {{ conferenceRepartition["NC"] }}
            <br>
            {{ 'bibliometry.stats.french_publications'|trans }}: {{ conferenceRepartition["FR"] }}
        </div>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        var quartileRepData = { label: "{{ 'bibliometry.stats.nb_publis_conference'|trans }}",
            data: [
                [ 'A*', {{ conferenceRepartition['A*'] }} ],
                [ 'A', {{ conferenceRepartition['A'] }} ],
                [ 'B', {{ conferenceRepartition['B'] }} ],
                [ 'C', {{ conferenceRepartition['C'] }} ],
            ], color: "rgba(0, 192, 239, 1)"
        };

        $.plot("#barchart-conferencerepartition", [quartileRepData], {
            canvas: true,
            grid: {
                borderWidth: 0,
                minBorderMargin: 30,
            },
            series: {
                bars: {
                    show: true,
                    barWidth: 0.6,
                    align: "center",
                }
            },
            xaxis: {
                mode: "categories",
                tickLength: 0
            },
            yaxis: {
                tickDecimals: 0,
                min: 0
            },
            legend: {
                show: true,
                noColumns: 1,
                position: "ne"
            },
        });
    });
</script>