{% set currentYear = "now"|date("Y") %}
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"><i class="ion ion-stats-bars"></i> {{ 'bibliometry.team.graph_publi_per_year'|trans }}</h3>
        <div class="box-tools pull-right">
            {% if subject.leader is defined %}
                <a href="{{ path('show_team_stats_route', {'slug_team': team.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint}) }}"><button class="btn btn-primary btn-flat"><i class="fa fa-bar-chart-o"></i> {{ 'bibliometry.team.see_stats'|trans }}</button></a>
            {% endif %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.stats.export'|trans }} <span class="fa fa-caret-down"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" name="download_flot_canvas_png_button" graph_id="barchart-publiperyear" target="_blank" download="{{ subject.slug }}_publication_year.png">{{ 'bibliometry.stats.export_png'|trans }}</a></li>
                    <li><a href="{{ path(export_path, {(slug_name): subject.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'graph': 'barchart_publications_per_year', '_format': 'csv'}) }}" target="_blank" download="{{ subject.slug }}_publication_year.csv">{{ 'bibliometry.stats.export_csv'|trans }}</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div>
    </div>
    <div class="box-body chart-responsive">
        <div id="barchart-publiperyear" style="width:100% ; height:400px"></div>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        var data_conf = { "label": "{{ 'bibliometry.team.publi_conference'|trans }}",
            "data": [
                {% for year in beginYear..endYear %}
                    [ '{{ year }}', {{ publicationsConferencesIndexedPerYear[year] }} ],
                {% endfor %}
            ], "color": "rgba(0, 192, 239, 1)"
        };
        
        var data_journal = { "label": "{{ 'bibliometry.team.publi_journal'|trans }}",
            "data": [
                {% for year in beginYear..endYear %}
                    [ '{{ year }}', {{ publicationsJournalsIndexedPerYear[year] }} ],
                {% endfor %}
            ], "color": "rgba(245, 105, 84, 1)"
        };

        $.plot("#barchart-publiperyear", [data_conf, data_journal], {
            canvas: true,
            series: {
                stack: true,
                bars: {
                    show: true,
                    barWidth: 0.6,
                    align: "center",
                    lineWidth: 0,
                    fill: 0.8
                }
            },
            grid: {
                hoverable: true,
                clickable: true,
                borderWidth: 0,
            },
            xaxis: {
                tickDecimals: 0,
                tickLength: 0
            },
            yaxis: {
                tickDecimals: 0,
                min: 0
            },
            legend: {
                sorted: "reverse",
                show: true,
                noColumns: 1,
                position: "ne"
            },
        });
        
        //Initialize tooltip on hover
        $("<div class='tooltip-inner' id='bar-chart-tooltip'></div>").css({
            position: "absolute",
            display: "none",
            opacity: 0.8
        }).appendTo("body");
        $("#barchart-publiperyear").bind("plothover", function(event, pos, item) {
            if (item) {
                var x = item.datapoint[0].toFixed(0),
                    y = item.datapoint[1].toFixed(0) - item.datapoint[2],
                    w = window.innerWidth;
                if(w - item.pageX < 200)
                    var leftPixel = w - 200;
                else
                    var leftPixel = item.pageX + 5;
                $("#bar-chart-tooltip").html(item.series.label + " of " + x + " : " + y)
                .css({top: item.pageY + 5, left: leftPixel})
                .fadeIn(200);
            } else {
                $("#bar-chart-tooltip").hide();
            }

        });
    });
</script>