{% set conferenceRepartition = subject.getConferenceRankingRepartition(beginYear, endYear, beginMonth, endMonth, constraint) %}
Ranking;Number of publications
A*;{{ conferenceRepartition['A*'] }}
A;{{ conferenceRepartition['A'] }}
B;{{ conferenceRepartition['B'] }}
C;{{ conferenceRepartition['C'] }}
FR;{{ conferenceRepartition['FR'] }}
NC;{{ conferenceRepartition['NC'] }}