{% set quartileRepartition = subject.getQuartileRepartition(beginYear, endYear, constraint) %}
Quartile;Number of publications
Q1;{{ quartileRepartition['Q1'] }}
Q2;{{ quartileRepartition['Q2'] }}
Q3;{{ quartileRepartition['Q3'] }}
Q4;{{ quartileRepartition['Q4'] }}
NC;{{ quartileRepartition['NC'] }}