<div class="col-md-6">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title"><i class="ion ion-stats-bars"></i> {{ 'bibliometry.stats.graph_quartile_repartition'|trans }}</h3>
            <div class="box-tools pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.stats.export'|trans }} <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" name="download_flot_canvas_png_button" graph_id="barchart-quartilerepartition" target="_blank" download="{{ subject.slug }}_quartile_repartition.png">{{ 'bibliometry.stats.export_png'|trans }}</a></li>
                        <li><a href="{{ path(export_path, {(slug_name): subject.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'graph': 'barchart_quartile_repartition', '_format': 'csv'}) }}" target="_blank" download="{{ subject.slug }}_quartile_repartition.csv">{{ 'bibliometry.stats.export_csv'|trans }}</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div id="barchart-quartilerepartition" style="width:100%; height:400px"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        var quartileRepData = { label: "{{ 'bibliometry.stats.nb_publis_quartile'|trans }}",
            data: [
                [ 'Q1', {{ quartileRepartition['Q1'] }} ],
                [ 'Q2', {{ quartileRepartition['Q2'] }} ],
                [ 'Q3', {{ quartileRepartition['Q3'] }} ],
                [ 'Q4', {{ quartileRepartition['Q4'] }} ],
                [ 'NC', {{ quartileRepartition['NC'] }} ],
            ], color: "rgba(245, 105, 84, 1)"
        };

        $.plot("#barchart-quartilerepartition", [quartileRepData], {
            canvas: true,
            grid: {
                borderWidth: 0,
                minBorderMargin: 30,
            },
            series: {
                bars: {
                    show: true,
                    barWidth: 0.6,
                    align: "center",
                }
            },
            xaxis: {
                mode: "categories",
                tickLength: 0
            },
            yaxis: {
                tickDecimals: 0,
                min: 0
            },
            legend: {
                show: true,
                noColumns: 1,
                position: "ne"
            },
        });
    });
</script>