{# Export graphs to PNG #}
<script type="text/javascript" src="{{ asset('js/html2canvas.min.js') }}"></script> 
<script type="text/javascript" src="{{ asset('js/html2canvas.svg.min.js') }}"></script> 
<script>
    $( document ).ready(function() {
        $("#canvas").hide();
        $("[name=download_canvas_graph_png_button]").click(function() { downloadPNGCanvas($(this)); })
        $("[name=download_flot_canvas_png_button]").click(function() { downloadPNGCanvas($(this)); })
    });
    
    function downloadPNGCanvas(button) {
        var div_graph = $("#"+button.attr('graph_id'));
		html2canvas(div_graph, {
            onrendered: function(canvas) {
                var a = document.createElement('a');
		        a.href = canvas.toDataURL("image/png");
		        a.download = button.attr('download');
		        document.body.appendChild(a);
		        a.click();
		        document.body.removeChild(a);
            }
        });
    }
</script>