{% set ranking_evolution = subject.getConferenceRankingEvolution(beginYear, endYear, beginMonth, endMonth, constraint) %}
Ranking;{% for year in beginYear..endYear %}{{ year }};{% endfor %}

A*;{% for year in beginYear..endYear %}{{ ranking_evolution[year]["A*"] }};{% endfor %}

A;{% for year in beginYear..endYear %}{{ ranking_evolution[year]["A"] }};{% endfor %}

B;{% for year in beginYear..endYear %}{{ ranking_evolution[year]["B"] }};{% endfor %}

C;{% for year in beginYear..endYear %}{{ ranking_evolution[year]["C"] }};{% endfor %}

FR;{% for year in beginYear..endYear %}{{ ranking_evolution[year]["FR"] }};{% endfor %}

NC;{% for year in beginYear..endYear %}{{ ranking_evolution[year]["NC"] }};{% endfor %}