{% set average_if_evolution = subject.getAverageIFEvolution(beginYear, endYear, beginMonth, endMonth, constraint) %}
Year;Average IF
{% for year in beginYear..endYear %}
{{ year }};{{ average_if_evolution[year] }}
{% endfor %}