<div class="col-md-12">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title"><i class="ion ion-arrow-graph-up-right"></i> {{ 'bibliometry.stats.quartile_evolution'|trans }}</h3>
            <div class="box-tools pull-right">
                <span id="quartile_evolution_choices"></span>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.stats.export'|trans }} <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" name="download_flot_canvas_png_button" graph_id="quartile_evolution_graph" target="_blank" download="{{ subject.slug }}_quartile_evolution_per_year.png">{{ 'bibliometry.stats.export_png'|trans }}</a></li>
                        <li><a href="{{ path(export_path, {(slug_name): subject.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'graph': 'linechart_quartile_evolution', '_format': 'csv'}) }}" target="_blank" download="{{ subject.slug }}_quartile_repartition.csv">{{ 'bibliometry.stats.export_csv'|trans }}</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div id="quartile_evolution_graph" style="width:100%; height:400px"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        var choiceContainer = $("#quartile_evolution_choices");
        {% set quartile_evolution = quartileEvolution %}
        var quartile_datasets = {
            "Q1": {
                    label: "Q1",
                    data: [
                    {% for year in beginYear..endYear %}
                        [ {{ year }}, {{ quartile_evolution[year]["Q1"] }}],
                    {% endfor %}
                    ]
            },
            "Q2": {
                    label: "Q2",
                    data: [
                    {% for year in beginYear..endYear %}
                        [{{ year }}, {{ quartile_evolution[year]["Q2"] }}],
                    {% endfor %}
                    ]
            },
            "Q3": {
                    label: "Q3",
                    data: [
                    {% for year in beginYear..endYear %}
                        [{{ year }}, {{ quartile_evolution[year]["Q3"] }}],
                    {% endfor %}
                    ]
            },
            "Q4": {
                    label: "Q4",
                    data: [
                    {% for year in beginYear..endYear %}
                        [{{ year }}, {{ quartile_evolution[year]["Q4"] }}],
                    {% endfor %}
                    ]
            },
            "NC": {
                    label: "NC",
                    data: [
                    {% for year in beginYear..endYear %}
                        [{{ year }}, {{ quartile_evolution[year]["NC"] }}],
                    {% endfor %}
                    ]
            },
        };
        
        function quartile_evolution() {
            var i = 0;
            $.each(quartile_datasets, function(key, val) {
                    val.color = i;
                    ++i;
            });

            // insert checkboxes 
            $.each(quartile_datasets, function(key, val) {
                    choiceContainer.append("<label><input type='checkbox' class='minimal' name='" + key +
                            "' checked='checked' id='id" + key + "'></input> " + val.label + "</label>&nbsp;");
            });

            choiceContainer.find("input").on('ifChanged', function(event){
                plotAccordingToChoices();
            });

            plotAccordingToChoices();
        }
        
        function plotAccordingToChoices() {
            var data = [];

            choiceContainer.find("input:checked").each(function () {
                    var key = $(this).attr("name");
                    if (key && quartile_datasets[key]) {
                            data.push(quartile_datasets[key]);
                    }
            });

            if (data.length > 0) {
                    $.plot("#quartile_evolution_graph", data, {
                            canvas: true,
                            series: {
                                stack: true,
                                bars: {
                                    show: true,
                                    barWidth: 0.6,
                                    align: "center",
                                    lineWidth: 0,
                                    fill: 0.8
                                }
                            },
                            yaxis: {
                                    min: 0,
                                    tickDecimals: 0
                            },
                            grid: {
                                hoverable: true,
                                clickable: true,
                                borderWidth: 0,
                            },
                            xaxis: {
                                    tickDecimals: 0,
                                    tickLength: 0
                            },
                            legend: {
                                sorted: "reverse",
                                show: true,
                                noColumns: 1,
                                position: "ne"
                            },
                            colors: ["#00a65a", "#71a600", "#f39c12", "#f56954", "darkgrey"]
                    });
                
                    //Initialize tooltip on hover
                    $("<div class='tooltip-inner' id='line-chart-tooltip'></div>").css({
                        position: "absolute",
                        display: "none",
                        opacity: 0.8
                    }).appendTo("body");
                    $("#quartile_evolution_graph").bind("plothover", function(event, pos, item) {
                        if (item) {
                        var x = item.datapoint[0].toFixed(0),
                            y = item.datapoint[1].toFixed(0) - item.datapoint[2],
                            w = window.innerWidth;
                        if(w - item.pageX < 120)
                            var leftPixel = w - 120;
                        else
                            var leftPixel = item.pageX + 5;
                        $("#line-chart-tooltip").html(item.series.label + " of " + x + " : " + y)
                        .css({top: item.pageY + 5, left: leftPixel})
                        .fadeIn(200);
                        } else {
                            $("#line-chart-tooltip").hide();
                        }

                    });
            }
    }
        
        quartile_evolution();
    });
</script>