<div class="col-md-12">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title"><i class="ion ion-arrow-graph-up-right"></i> {{ 'bibliometry.stats.average_if_evolution'|trans }}</h3>
            <div class="box-tools pull-right">
                <span id="if_evolution_choice"></span>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.stats.export'|trans }} <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" name="download_flot_canvas_png_button" graph_id="average_if_evolution_graph" target="_blank" download="{{ subject.slug }}_average_if_evolution_per_year.png">{{ 'bibliometry.stats.export_png'|trans }}</a></li>
                        <li><a href="{{ path(export_path, {(slug_name): subject.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'graph': 'linechart_average_if_evolution', '_format': 'csv'}) }}" target="_blank" download="{{ subject.slug }}_quartile_repartition.csv">{{ 'bibliometry.stats.export_csv'|trans }}</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div id="average_if_evolution_graph" style="width:100%; height:400px"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        var choiceContainer = $("#if_evolution_choice");
        {% set average_if_evolution = averageIFEvolution %}
        choiceContainer.append("<label><input type='checkbox' class='minimal' name='with0' id='with0'></input> By taking into account journals with no impact factor </label>&nbsp;");
        
        var dataWithout0 = [{ label: "{{ 'bibliometry.stats.average_if'|trans }}",
            data: [
                {% for year in beginYear..endYear %}
                    [ {{ year }}, {{ average_if_evolution[year][0] }} ],
                {% endfor %}
            ], color: "rgba(245, 105, 84, 1)"
        }];
        var dataWith0 = [{ label: "{{ 'bibliometry.stats.average_if'|trans }}",
            data: [
                {% for year in beginYear..endYear %}
                    [ {{ year }}, {{ average_if_evolution[year][1] }} ],
                {% endfor %}
            ], color: "rgba(245, 105, 84, 1)"
        }];

        
        function plotAccordingToChoice() {
            var data = dataWithout0;
            choiceContainer.find("input:checked").each(function () {
                data = dataWith0;    
            });

            $.plot("#average_if_evolution_graph", data, {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    },
                    yaxis: {
                            min: 0,
                            tickDecimals: 0
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        borderWidth: 0,
                    },
                    xaxis: {
                            tickDecimals: 0,
                            tickLength: 0
                    }
            });
    
            //Initialize tooltip on hover
            $("<div class='tooltip-inner' id='line-chart-tooltip'></div>").css({
                position: "absolute",
                display: "none",
                opacity: 0.8
            }).appendTo("body");
            
            $("#average_if_evolution_graph").bind("plothover", function(event, pos, item) {
                if (item) {
                    var x = item.datapoint[0].toFixed(0),
                        y = item.datapoint[1].toFixed(2);
    
                    $("#line-chart-tooltip").html(item.series.label + " of " + x + " : " + y)
                            .css({top: item.pageY + 5, left: item.pageX + 5})
                            .fadeIn(200);
                } else {
                    $("#line-chart-tooltip").hide();
                }
    
            });
        }
        choiceContainer.find("input").on('ifChanged', function(event){
                plotAccordingToChoice();
        });
        plotAccordingToChoice();
    });
</script>