{% set quartile_evolution = subject.getQuartileEvolution(beginYear, endYear, beginMonth, endMonth, constraint) %}
Quartile;{% for year in beginYear..endYear %}{{ year }};{% endfor %}

Q1;{% for year in beginYear..endYear %}{{ quartile_evolution[year]["Q1"] }};{% endfor %}

Q2;{% for year in beginYear..endYear %}{{ quartile_evolution[year]["Q2"] }};{% endfor %}

Q3;{% for year in beginYear..endYear %}{{ quartile_evolution[year]["Q3"] }};{% endfor %}

Q4;{% for year in beginYear..endYear %}{{ quartile_evolution[year]["Q4"] }};{% endfor %}

NC;{% for year in beginYear..endYear %}{{ quartile_evolution[year]["NC"] }};{% endfor %}