<div class="col-md-6">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title"><i class="ion ion-pie-graph"></i> {{ 'bibliometry.stats.journal_repartition_per_quartile'|trans }}</h3>
            <div class="box-tools pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span id="journal_rep_selected_quartile">Q1</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#" name="change_quartile_button" quartile="all">{{ 'bibliometry.stats.all'|trans }}</a></li>
                        {% for quartile in 1..4 %}
                            <li><a href="#" name="change_quartile_button" quartile="{{ quartile }}">Q{{ quartile }}</a></li>
                        {% endfor %}
                        <li><a href="#" name="change_quartile_button" quartile="0">NC</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.stats.export'|trans }} <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" name="download_flot_canvas_png_button" graph_id="journal_rep_graph" target="_blank" download="{{ subject.slug }}_journal_repartition_per_quartile.png">{{ 'bibliometry.stats.export_png'|trans }}</a></li>
                        <li><a href="{{ path(export_path, {(slug_name): subject.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'graph': 'piechart_journal_repartition', '_format': 'csv'}) }}" target="_blank" download="{{ subject.slug }}_journal_repartition_per_quartile.csv">{{ 'bibliometry.stats.export_csv'|trans }}</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div id="journal_rep_graph" style="width:100%; height:400px"><div class="callout callout-info"><h4>{{ 'bibliometry.stats.no_data_available_quartile'|trans }}</h4></div></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        var quartileRepDataQuartile = [
                {% if quartileRepartition['Q1'] > 0 %}
                    { label:'Q1', data:{{ quartileRepartition['Q1']}}, color:"#00a65a" },
                {% endif %}
                {% if quartileRepartition['Q2'] > 0 %}
                    { label:'Q2', data:{{ quartileRepartition['Q2'] }}, color:"#71a600" },
                {% endif %}
                {% if quartileRepartition['Q3'] > 0 %}
                    { label:'Q3', data:{{ quartileRepartition['Q3'] }}, color:"#f39c12" },
                {% endif %}
                {% if quartileRepartition['Q4'] > 0 %}
                    { label:'Q4', data:{{ quartileRepartition['Q4'] }}, color:"#f56954" },
                {% endif %}
                {% if quartileRepartition['NC'] > 0 %}
                    { label:'NC', data:{{ quartileRepartition['NC'] }}, color:"darkgrey" },
                {% endif %}
        ];
        var data_journal_rep = [];
        {% for q in 0..4 %}
            {% set journal_rep = journalRepartitionQuartile[q == 0 ? "NC" : q] %}
            {% if journal_rep|length > 0 %}
                data_journal_rep[{{q}}] = [
                    {% for journal in journal_rep %}
                        {
                            label: "{{ journal[0].title }}",
                            data: {{ journal[1] }}
                        },
                    {% endfor %}		
                ];
            {% endif %}
        {% endfor %}

        $("#journal_rep_graph").height($("#barchart-quartilerepartition").height());
        function labelFormatter(label, series) {
            return "<div style='font-size:10pt; text-align:center; width:100px'>" + label + "<br/>" + series.data[0][1] + "</div>";
        }

        var flot_pie_options = {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    label: {
                        show: false,
                    }
                }
            },
            legend: {
                show: false,
            },
            grid: {
                hoverable: true,
            },
            canvas: true,
            colors: ["#00a65a", "#f56954", "#0073b7", "#f39c12", "#932ab6", "#39cccc", "#85144b"]
        };

        var flot_pie_legend_options = {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 3/4,
                        opacity: 1,
                        formatter: function labelFormatter(label, series) {
                            return "<div style='font-size:16pt; text-align:center; width:100px'>" + label + "<br/>" + series.data[0][1] + "</div>";
                        }
                    }
                }
            },
            legend: {
                show: false
            },
            canvas: true,
            colors: ["#00a65a", "#71a600", "#f39c12", "#f56954", "darkgrey"]
        };

        $("<div class='tooltip-inner' id='journal-rep-graph-tooltip'></div>").css({
                    position: "absolute",
                    display: "none",
                    opacity: 0.8
        }).appendTo("body");

        function changePieJournalRep(quartile)
        {
            if (quartile == "all")
            {
                label = "{{ 'bibliometry.stats.all'|trans }}";
                data = quartileRepDataQuartile;
                options = flot_pie_legend_options;
            }
            else if (quartile == 0)
            {
                label = "NC";
                data = data_journal_rep[quartile];
                options = flot_pie_options;
            }
            else
            {
                label = "Q"+quartile;
                data = data_journal_rep[quartile];
                options = flot_pie_options;
            }
            $('#journal_rep_selected_quartile').html(label);
            if (data)
            { 
                $('#journal_rep_graph').empty();
                $.plot('#journal_rep_graph', data, options);
            }
            else
            {
                $('#journal_rep_graph').empty();
                $('#journal_rep_graph').html('<div class="callout callout-info"><h4>{{ 'bibliometry.stats.no_data_available_quartile'|trans }}</h4></div>');
            }

            $('#journal_rep_graph').bind("plothover", function(event, pos, item) {
                if (item) {
                    $("#journal-rep-graph-tooltip").html(item.series.label+" : "+Number(item.series.percent.toFixed(1))+"% ("+item.series.data[0][1]+")")
                            .css({top: pos.pageY + 5, left: pos.pageX + 5})
                            .fadeIn(200);
                } else {
                    $("#journal-rep-graph-tooltip").hide();
                }
            });
        }
        changePieJournalRep("all");
        $("[name=change_quartile_button]").click(function(e) {
            e.preventDefault();
            var quartile = $(this).attr('quartile');
            changePieJournalRep(quartile);
        });
    });
</script>