<div class="col-md-6">
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title"><i class="ion ion-pie-graph"></i> {{ 'bibliometry.stats.conf_repartition_per_ranking'|trans }}</h3>
            <div class="box-tools pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span id="conf_rep_selected_ranking">A*</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#" name="change_ranking_button" ranking="all">{{ 'bibliometry.stats.all'|trans }}</a></li>
                        {% for ranking in ["A*", "A", "B", "C"] %}
                            <li><a href="#" name="change_ranking_button" ranking="{{ ranking }}">{{ ranking }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.stats.export'|trans }} <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" name="download_flot_canvas_png_button" graph_id="conf_rep_graph" target="_blank" download="{{ subject.slug }}_conference_repartition_per_ranking.png">{{ 'bibliometry.stats.export_png'|trans }}</a></li>
                        <li><a href="{{ path(export_path, {(slug_name): subject.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'graph': 'piechart_conference_repartition', '_format': 'csv'}) }}" target="_blank" download="{{ subject.slug }}_conference_repartition_per_ranking.csv">{{ 'bibliometry.stats.export_csv'|trans }}</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div id="conf_rep_graph" style="width:100%; height:400px"><div class="callout callout-info"><h4>{{ 'bibliometry.stats.no_data_available_ranking'|trans }}</h4></div></div>
            &nbsp;
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        var flot_pie_options = {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    label: {
                        show: false,
                    }
                }
            },
            legend: {
                show: false,
            },
            grid: {
                hoverable: true,
            },
            canvas: true,
            colors: ["#00a65a", "#f56954", "#0073b7", "#f39c12", "#932ab6", "#39cccc", "#85144b"]
        };

        var flot_pie_legend_options = {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 3/4,
                        opacity: 1,
                        formatter: function labelFormatter(label, series) {
                            return "<div style='font-size:16pt; text-align:center; width:100px'>" + label + "<br/>" + series.data[0][1] + "</div>";
                        }
                    }
                }
            },
            legend: {
                show: false
            },
            canvas: true,
            colors: ["#00a65a", "#71a600", "#f39c12", "#f56954", "darkgrey"]
        };
        
        var quartileRepDataConference = [
            {% if conferenceRepartition['A*'] > 0 %}
                { label:'A*', data:{{ conferenceRepartition['A*']}}, color:"#00a65a" },
            {% endif %}
            {% if conferenceRepartition['A'] > 0 %}
                { label:'A', data:{{ conferenceRepartition['A']}}, color:"#71a600" },
            {% endif %}
            {% if conferenceRepartition['B'] > 0 %}
                { label:'B', data:{{ conferenceRepartition['B']}}, color:"#f39c12" },
            {% endif %}
            {% if conferenceRepartition['C'] > 0 %}
                { label:'C', data:{{ conferenceRepartition['C']}}, color:"#f56954" },
            {% endif %}
        ];
        var data_conf_rep = [];
        {% for r in ["A*", "A", "B", "C"] %}
            {% set conf_rep = conferenceRepartitionRanking[r] %}
            {% if conf_rep|length > 0 %}
                data_conf_rep["{{r}}"] = [
                    {% for conf in conf_rep %}
                        {
                            {% if conf[0].acronym %}
                                label: "{{ conf[0].acronym }}",
                            {% else %}
                                label: "{{ conf[0].title|slice(0,27)|e('js') }}{{ (conf[0].title|length > 27) ? '...':'' }}",
                            {% endif %}
                            data: {{ conf[1] }}
                        },
                    {% endfor %}		
                ];
            {% endif %}
        {% endfor %}
    
        $("#conf_rep_graph").height($("#barchart-conferencerepartition").height());
    
        function changePieConfRep(ranking)
        {
            if (ranking == "all")
            {
                var label = "{{ 'bibliometry.stats.all'|trans }}";
                data = quartileRepDataConference;
                options = flot_pie_legend_options;
            }
            else
            {
                label = ranking;
                data = data_conf_rep[ranking];
                options = flot_pie_options;
            }
            $('#conf_rep_selected_ranking').html(label);
            if (data)
            { 
                $('#conf_rep_graph').empty();
                $.plot('#conf_rep_graph', data, options);
            }
            else
            {
                $('#conf_rep_graph').empty();
                $('#conf_rep_graph').html('<div class="callout callout-info"><h4>{{ 'bibliometry.stats.no_data_available_ranking'|trans }}</h4></div>');
            }
        
            $('#conf_rep_graph').bind("plothover", function(event, pos, item) {
                if (item) {
                    $("#journal-rep-graph-tooltip").html(item.series.label+" : "+Number(item.series.percent.toFixed(1))+"% ("+item.series.data[0][1]+")")
                            .css({top: pos.pageY + 5, left: pos.pageX + 5})
                            .fadeIn(200);
                } else {
                    $("#journal-rep-graph-tooltip").hide();
                }
            });
        }
        changePieConfRep("all");
        $("[name=change_ranking_button]").click(function(e) {
            e.preventDefault();
            var ranking = $(this).attr('ranking');
            changePieConfRep(ranking);
        });
    });  
</script>