{% for r in ["A*", "A", "B", "C", "NC", "FR"] %}
    {% set conf_rep = subject.getConferenceRepartitionRanking(beginYear, endYear, r, beginMonth, endMonth, constraint) %}
    
    Ranking {{ r }}
    
    {% for conf in conf_rep %}
    {{ conf[0].acronym|raw }};{{ conf[0].title|replace({";":" "})|replace({",":" "})|raw }};{{ conf[1] }}  
    {% endfor %}
{% endfor %}