{% for q in 0..4 %}
    {% set journal_rep = subject.getJournalRepartitionQuartile(beginYear, endYear, q == 0 ? "NC" : q, beginMonth, endMonth, constraint) %}
    
    {{ q == 0 ? "NC" : "Q"~q }}
    
    {% for journal in journal_rep %}
    {{ journal[0].title|replace({";":" "})|replace({",":" "})|raw }};{{ journal[1] }}  
    {% endfor %}
{% endfor %}