{% block edit_publication %}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="edit_publication_popup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'bibliometry.publication.edit_publication_popup_title'|trans }}</h4>
            </div>
            {{ form_start(form, {'action': path('edit_publication_route', {'slug_publication': publication.slug})}) }}
                <div class="modal-body">
                    {{ form_row(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'bibliometry.errors.error_report.close'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'bibliometry.publication.edit_publication_popup_submit'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}