{
    "title": "{{ publication.title }}",
    "HAL_URL": "{{ publication.hALURL }}",
    "author": [
{% for author in publication.publicationAuthors %}
               {"firstname": "{{ author.researcher.name }}", "lastname": "{{ author.researcher.surname }}", "isFromLab": {% if author.researcher.id in researchersFromLabIds %}1{% else %}0{% endif %}}{% if not loop.last %},{% endif %}

{% endfor %}
              ],
    "type": {% if publication.type == "conference" %}"inproceedings",
{% elseif publication.type == "journal" %}"article",
{% elseif publication.type == "book" or publication.type == "direction_book" %}"book",
{% elseif publication.type == "chapter" %}"incollection",
{% elseif publication.type == "thesis" or publication.type == "hdr" %}"phdthesis",
{% endif %}
{% if publication.type == "journal" %}
    "journal": {
                "name": "{{ publication.publiJournal.journal.title }}",
{% if publication.publiJournal.impactFactor %}
                "IF": "{{ publication.publiJournal.impactFactor.value }}",
                "quartile": "{{ publication.publiJournal.impactFactor.quartile }}",
{% endif %}
                "volume": "{{ publication.publiJournal.volume }}",
                "number": "{{ publication.publiJournal.number }}",
                "pages": "{{ publication.pages }}"
               },
{% elseif publication.type == "conference" %}
    "conference": {
                   "name": "{{ publication.publiConference.titleOfConferenceInHAL }}",
{% if publication.publiConference.conferenceRanking %}
                   "CORE Ranking": "{{ publication.publiConference.conferenceRanking.value }}",
{% endif %}
                   "pages": "{{ publication.pages }}",
                   "city": "{{ publication.publiConference.city }}",
                   "country": "{{ publication.publiConference.country }}"
                  },
{% elseif publication.type == "book" or publication.type == "direction_book" or publication.type == "chapter" %}
    "book": {
{% if publication.type == "chapter" %}
             "name": "{{ publication.publiOther.booktitle }}",
             "pages": "{{ publication.pages }}",
{% endif %}
             "publisher": "{{ publication.publiOther.publisher }}"
            },
{% endif %}
    "year": "{{ publication.year }}"
}
