{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ publication.title }}{% endblock %}

{% block page_title %}
<div style="width:60%;">{{ publication.title }} <small>{{ 'bibliometry.publication.page_title'|trans }}</small></div>
{% if is_granted('ROLE_ADMIN') %}
<div style="margin-top:10px">
    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#edit_publication_popup">
        {{ 'bibliometry.publication.edit_publication'|trans }}
    </button>
</div>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.publication.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
{# Left part #}
<div class="col-md-7">
    {# Abstract #}
    <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title">
                <i class="fa fa-fw fa-quote-left"></i> {{ 'bibliometry.publication.abstract'|trans }}
            </h3>
        </div>
        <div class="box-body">
            {% if publication.abstract %}
                <p><em>{{ publication.abstract }}</em></p>
            {% else %}
                <p>{{ 'bibliometry.publication.no_abstract'|trans }}</p>
            {% endif %}
        </div>
    </div>
</div>

{# Right part #}
<div class="col-md-5">
    {# Hal Button #}
    <a href="{{ publication.hALURL }}" class="btn btn-danger btn-block" target="_blank"><i class="fa fa-fw fa-external-link"></i> {{ 'bibliometry.publication.hal_link'|trans }}</a>
    {# PDF Button #}
    {% if publication.PDFURL %}
        <a href="{{ publication.PDFURL }}" class="btn btn-danger btn-block" target="_blank"><i class="fa fa-fw fa-external-link"></i> {{ 'bibliometry.publication.pdf_link'|trans }}</a>
    {% endif %}
    {# BibTeX Button #}
    <a href="{{ path('publication_route', {'slug_publication': publication.slug, '_format': 'bib'}) }}" class="btn btn-primary btn-block" style="margin-bottom: 20px" download="{{ publication.slug }}.bib"><i class="fa fa-fw fa-download"></i> {{ 'bibliometry.publication.export_bib'|trans }}</a>
    {# General #}
    <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title">
                {% if publication.type == "conference" %}
                    <i class="fa fa-fw fa-file-text-o"></i> {{ 'bibliometry.publication.conference'|trans }}
                {% elseif publication.type == "journal" %}
                    <i class="fa fa-fw fa-book"></i> {{ 'bibliometry.publication.journal'|trans }}
                {% else %}
                    <i class="fa fa-fw fa-book"></i> {{ ('bibliometry.publication.'~publication.type)|trans }}
                {% endif %}
            </h3>
            {% if publication.type == "conference" or publication.type == "journal" %}
            <div class="box-tools pull-right" style="margin-top:2px;font-size:20px">
                {{ 'bibliometry.publication.ranking'|trans }} : {{ publication.getRankingOrIF }}
            </div>
            {% endif %}
        </div>
        <div class="box-body">
            {% if publication.type == "conference" %}
                <dl>
                    <dt>{{ 'bibliometry.publication.conference'|trans }}</dt>
                    {% if publication.publiConference.conference %}
                    	<dd>{{ (publication.publiConference.conference.acronym ? '<strong>['~publication.publiConference.conference.acronym~']</strong> ':'')|raw }}{{ publication.publiConference.titleOfConferenceInHAL }}</dd>
                    	{% set confRanking = publication.publiConference.getConferenceRanking() %}
                    {% else %}
                    	<dd>{{publication.publiConference.titleOfConferenceInHAL }}</dd>
                    	{% set confRanking = null %}
                    {% endif %}
                    {% if publication.year %}
                        <dt>{{ 'bibliometry.publication.year'|trans }}</dt>
                        <dd>{{ publication.year }}</dd>
                    {% endif %}
                    {% if publication.pages %}
                        <dt>{{ 'bibliometry.publication.pages'|trans }}</dt>
                        <dd>{{ publication.pages }}</dd>
                    {% endif %}
                    {% if publication.publiConference.city or publication.publiConference.country %}
                        <dt>{{ 'bibliometry.publication.location'|trans }}</dt>
                        <dd><span class="flag-icon flag-icon-{{publication.publiConference.country}}"></span> {{ publication.publiConference.city }}</dd>
                    {% endif %}
                    <dt>{{ 'bibliometry.publication.ranking'|trans }}</dt>
                    <dd>
                        {% if confRanking %}
                            {{ confRanking.value|conf_color|raw }}
                        {% else %}
                            {% if publication.language == "fr" %}
                                <span class="flag-icon flag-icon-fr"></span>
                            {% else %}
                                {{ 'bibliometry.researchers.publications.no_core_ranking'|trans }}
                            {% endif %}
                        {% endif %}
                    </dd>
                </dl>
                {% if publication.publiConference.conference %}
                	<a href="{{ path('conference_route', {'slug_conference':publication.publiConference.conference.slug}) }}" class="btn btn-primary btn-block"><i class="fa fa-file-text-o"></i> {{ 'bibliometry.publication.about_conference'|trans }}</a>
                {% endif %}
            {% elseif publication.type == "journal" %}
                <dl>
                    <dt>{{ 'bibliometry.publication.journal'|trans }}</dt>
                    <dd>{{ publication.publiJournal.journal.title }}</dd>
                    {% if publication.year %}
                        <dt>{{ 'bibliometry.publication.year'|trans }}</dt>
                        <dd>{{ publication.year }}</dd>
                    {% endif %}
                    {% if publication.pages %}
                        <dt>{{ 'bibliometry.publication.pages'|trans }}</dt>
                        <dd>{{ publication.pages }}</dd>
                    {% endif %}
                    <dt>{{ 'bibliometry.publication.ranking'|trans }}</dt>
                    {% set journalIF = publication.publiJournal.getImpactFactor() %}
                    <dd>
                        {% if journalIF %}
                            {{ journalIF.value|if_color(journalIF.quartile)|raw }}
                        {% else %}
                            {{ 'bibliometry.researchers.publications.no_impact_factor'|trans }}
                        {% endif %}
                    </dd>
                </dl>
                <a href="{{ path('journal_route', {'slug_journal':publication.publiJournal.journal.slug}) }}" class="btn btn-primary btn-block"><i class="fa fa-file-text-o"></i> {{ 'bibliometry.publication.about_journal'|trans }}</a>
            {% else %}
                <dl>
                    {% if publication.year %}
                        <dt>{{ 'bibliometry.publication.year'|trans }}</dt>
                        <dd>{{ publication.year }}</dd>
                    {% endif %}
                    {% if publication.publiOther.type == "chapter" %}
                        <dt>{{ 'bibliometry.publication.book'|trans }}</dt>
                        <dd>{{ publication.publiOther.bookTitle }}</dd>
                    {% endif %}
                    {% if publication.publiOther.publisher %}
                        <dt>{{ 'bibliometry.publication.publisher'|trans }}</dt>
                        <dd>{{ publication.publiOther.publisher }}</dd>
                    {% endif %}
                    {% if publication.pages %}
                        <dt>{{ 'bibliometry.publication.pages'|trans }}</dt>
                        <dd>{{ publication.pages }}</dd>
                    {% endif %}
                    {% if publication.publiOther.supervisor|length > 0 %}
                        <dt>{{ 'bibliometry.publication.supervisor'|trans }}</dt>
                        <dd>
                            {% for supervisor in publication.publiOther.supervisor %}
                                {% if hasRightToSee %}
                                    <a href="{{ path('researchers_researcher_researcher', {'slug_researcher': supervisor.slug}) }}">{{ supervisor.name }} {{ supervisor.surname }}</a>
                                {% else %}
                                    {{ supervisor.name }} {{ supervisor.surname }}
                                {% endif %}
                                {% if not loop.last %}
                                , 
                                {% endif %}
                            {% endfor %}
                        </dd>
                    {% endif %}
                </dl>
            {% endif %}
        </div>
    </div>
    
    {# Authors #}
    <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title">
                <i class="fa fa-fw fa-users"></i> {{ 'bibliometry.publication.authors'|trans }} ({{ publication.authors|length }})
            </h3>
        </div>
        <div class="box-body">
            <ul>
                {% for author in publication.authors %}
                    {% if hasRightToSee %}
                        <li><a href="{{ path('researchers_researcher_researcher', {'slug_researcher': author.slug}) }}">{{ author.name }} {{ author.surname }}</a>{{ author.laboratory ? ' ('~author.laboratory.name~')' : '' }}</li>
                    {% else %}
                        <li>{{ author.name }} {{ author.surname }}{{ author.laboratory ? ' ('~author.laboratory.name~')' : '' }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
    {% block edit_publication %}
        {{ render(controller('BibliometryMainBundle:Publication:editPublication', { 'slug_publication': publication.slug })) }}
    {% endblock %}
{% endif %}

{% endblock %}