{% for author in publication.publicationAuthors %}
    {% if not (author.researcher.id in researchersFromLabIds) %}
        {% if author.researcher.name matches '/(.*?)-(.*?)/' %}
            {% set first = author.researcher.name|split('-')[0] %}
            {% set second = author.researcher.name|split('-')[1] %}
            {{- first|slice(0,1)~". "~second|slice(0,1)~"." }} {{ author.researcher.surname~", " -}}
        {% else %}
            {{- author.researcher.name|slice(0,1)~"." }} {{ author.researcher.surname~", " -}}
        {% endif %}
    {% else %}
        {% if author.researcher.name matches '/(.*?)-(.*?)/' %}
            {% set first = author.researcher.name|split('-')[0] %}
            {% set second = author.researcher.name|split('-')[1] %}
            {{'\\underline{'}} {{- first|slice(0,1)~". "~second|slice(0,1)~"." }} {{ author.researcher.surname~"}, " -}}
        {% else %}
            {{'\\underline{'}} {{- author.researcher.name|slice(0,1)~"." }} {{ author.researcher.surname~"}, " -}}
        {% endif %}
    {% endif %}
{% endfor %}
{{- publication.title|toLaTeX -}}{{ ", " -}}
{% if publication.type == "conference" %}
    {{- publication.publiConference.titleOfConferenceInHAL|toLaTeX }}, {{ publication.pages ? "pp. "~publication.pages~", " : "" }}{{ publication.publiConference.city ? publication.publiConference.city~", " : "" }}{{ publication.publiConference.country ? ('bibliometry.countries.'~publication.publiConference.country)|trans~" " : "" -}}
{% elseif publication.type == "journal" %}
    {{- publication.publiJournal.journal.title|toLaTeX -}}, {{ publication.publiJournal.volume ? "vol. "~publication.publiJournal.volume~"("~publication.publiJournal.number~"), " : "" }}{{ publication.pages ? "pp. "~publication.pages~" " : "" -}}
{% elseif publication.type == "book" or publication.type == "direction_book" %}
    {{- publication.publiOther.publisher~". "|toLaTeX -}}
{% elseif publication.type == "chapter" %}
    {{- publication.publiOther.booktitle|toLaTeX }}{{ publication.pages ? " (pp. "~publication.pages~")." : "" }}{{ publication.publiOther.publisher -}}.
{% endif %}
{{- "(" ~ publication.year ~")" -}}
{# Display IF and Ranking #}
{% if publication.type == "journal" and publication.publiJournal.impactFactor %}
 - IF : {{ publication.publiJournal.impactFactor.value ~ " (Q" ~ publication.publiJournal.impactFactor.quartile ~ ")" -}}
 {% elseif publication.type == "conference" and publication.publiConference.conferenceRanking %}
 - CORE Ranking : {{ publication.publiConference.conferenceRanking.value -}}
 {% endif %}
