{% if publication.type == "conference" %}
@inproceedings{
{% elseif publication.type == "journal" %}
@article{
{% elseif publication.type == "book" or publication.type == "direction_book" %}
@book{
{% elseif publication.type == "chapter" %}
@incollection{
{% elseif publication.type == "thesis" or publication.type == "hdr" %}
@phdthesis{
{% endif %}
    {{ publication.hALId }},
    hal_id = {{ "{" }}{{ publication.hALId }}{{ "}" }},
    url = {{ "{" }}{{ publication.hALURL }}{{ "}" }},
    {% if publication.pDFURL %}
    pdf = {{ "{" }}{{ publication.pDFURL }}{{ "}" }},
    {% endif %}
title = {{ "{{" }}{{ publication.title|toLaTeX|raw }}{{ "}}" }},
    author = { {% for author in publication.publicationAuthors %}{{ author.researcher.surname|toLaTeX|replace({",":""})|toLaTeX|raw }}, {{ author.researcher.name|replace({",":""})|toLaTeX|raw }}{% if not loop.last %} and {% endif %}{% endfor %} },
{% if publication.type == "conference" %}
    {% if publication.publiConference.titleOfConferenceInHAL %}
    booktitle = {{ "{{" }}{{ publication.publiConference.titleOfConferenceInHAL|toLaTeX|raw }}{{ "}}" }},
    {% endif %}
    {% if publication.pages %}
    pages = {{ "{" }}{{ publication.pages }}{{ "}" }},
    {% endif %}
    {% if publication.publiConference.city %}
    address = {{ "{" }}{{ publication.publiConference.city|toLaTeX|raw }}{{ ", " }}{{ ('bibliometry.countries.'~publication.publiConference.country)|trans }}{{ "}" }},
    {% endif %}
{% elseif publication.type == "journal" %}
    {% if publication.publiJournal.journal.title %}
    journal = {{ "{{" }}{{ publication.publiJournal.journal.title|toLaTeX|raw }}{{ "}}" }},
    {% endif %}
    {% if publication.publiJournal.volume %}
    volume = {{ "{" }}{{ publication.publiJournal.volume }}{{ "}" }},
    {% endif %}
    {% if publication.publiJournal.number %}
    number = {{ "{" }}{{ publication.publiJournal.number }}{{ "}" }},
    {% endif %}
    {% if publication.pages %}
    pages = {{ "{" }}{{ publication.pages }}{{ "}" }},
    {% endif %}
{% elseif publication.type == "book" or publication.type == "direction_book" %}
    {% if publication.publiOther.publisher %}
    publisher = {{ "{" }}{{ publication.publiOther.publisher|toLaTeX|raw }}{{ "}" }},
    {% endif %}
{% elseif publication.type == "chapter" %}
    {% if publication.publiOther.booktitle %}
    booktitle = {{ "{{" }}{{ publication.publiOther.booktitle|toLaTeX|raw }}{{ "}}" }},
    {% endif %}
    {% if publication.publiOther.publisher %}
    publisher = {{ "{" }}{{ publication.publiOther.publisher|toLaTeX|raw }}{{ "}" }},
    {% endif %}
    {% if publication.pages %}
    pages = {{ "{" }}{{ publication.pages }}{{ "}" }},  
    {% endif %}  
{% endif %}
    {% if publication.year %}
    year = {{ "{" }}{{ publication.year }}{{ "}" }}
    {% endif %}
}