{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.notifications.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.notifications.page_title'|transchoice(app.user.notifications|length) }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.notifications.page_title_breadcrumb'|trans }}
    </li>
{% endblock %}

{% block body %}
<div class="col-md-12">
    <ul class="timeline">
        {% set lastDate = null %}
        {% for notification in app.user.notifications|reverse %}
        
        
        {% if lastDate == null or notification.notificationDate|date('j/m/Y') != lastDate|date('j/m/Y') %}
            <li class="time-label">
                <span class="bg-red">
                    {{ notification.notificationDate|date('j/m/Y') }}
                </span>
            </li>
            {% set lastDate = notification.notificationDate %}
        {% endif %}

        <!-- timeline item -->
        <span id="{{ notification.id }}" style="padding-top:55px;margin-top:-55px;display:block;visibility:hidden"></span>
        <li>
            <!-- timeline icon -->
            {% if notification.type == "errorReport" %}
                <i class="fa fa-warning bg-orange"></i> 
            {% elseif notification.type == "publication" %}
                <i class="fa fa-file-text-o bg-green"></i> 
            {% elseif notification.type == "teamMember" %}
                <i class="fa fa-group bg-blue"></i> 
            {% elseif notification.type == "teamLeader" %}
                <i class="fa fa-group bg-blue"></i> 
            {% endif %}
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{ notification.notificationDate|dateRelative }} {{ 'bibliometry.notifications.ago'|trans }}</span>

                <h3 class="timeline-header"><a href="#">{{ notification.shortMessage }}</a></h3>

                <div class="timeline-body">
                    {{ notification.fullMessage }}
                </div>
                
                {% if notification.type == "publication" %}
                    <div class="timeline-footer">
                        <a href="{{ path('publication_route', {'slug_publication':notification.publication.slug}) }}" class="btn btn-primary btn-xs">{{ 'bibliometry.notifications.view_publication'|trans }}</a>
                    </div>
                {% elseif notification.type == "teamMember" or notification.type == "teamLeader" %}
                    <div class="timeline-footer">
                        <a href="{{ path('show_team_route', {'slug_team':notification.team.slug}) }}" class="btn btn-primary btn-xs">{{ 'bibliometry.notifications.view_team'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </li>
        <!-- END timeline item -->
        {% endfor %}
        <li>
            <i class="fa fa-clock-o"></i>
        </li>
    </ul>
</div>
{% endblock %}
