<a href="{{ path('notifications_route') }}#{{ notification.id }}">
    {% if notification.type == "errorReport" %}
        <i class="fa fa-warning warning"></i> 
    {% elseif notification.type == "publication" %}
        <i class="fa fa-file-text-o success"></i> 
    {% elseif notification.type == "teamMember" %}
        <i class="fa fa-group info"></i> 
    {% elseif notification.type == "teamLeader" %}
        <i class="fa fa-group info"></i> 
    {% endif %}
    {{ notification.shortMessage }}
</a>