{% extends "::base_mail.html.twig" %}

{% block mail_title %}
    {{ 'bibliometry.mail.mail_leader_team_title'|trans({'%team%': team.name}) }}
{% endblock %}

{% block mail_content %}
    {{ 'bibliometry.mail.mail_leader_team_content'|trans({'%path_manage%': app.request.scheme ~'://' ~ app.request.httpHost ~ path('manage_team_route', {'slug_team': team.slug})})|raw }}
{% endblock %}