<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="show_error_popup">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{ 'bibliometry.errors.handle_errors.popup_title'|trans }} #{{ error.id }}</h4>
        </div>
        {{ form_start(form, {'action': path('handle_error_route') }) }}
            <div class="modal-body">
                <div class="box box-solid box-primary">
                    <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                        <h3 class="box-title"><i class="fa fa-warning"></i>&nbsp;&nbsp;{{ 'bibliometry.errors.handle_errors.problem'|trans }}</h3>
                    </div>
                    <div class="box-body">
                        <p>
                            {{ ('bibliometry.errors.error_report.'~error.errorType)|trans }} :
                        </p>
                        <div align="center">
                            {% if error.errorType == "duplicatePublications" %}
                            <h4><a href="{{ path('publication_route', {'slug_publication':error.duplicatePublications.rightPublication.slug}) }}" target="_blank">#{{ error.duplicatePublications.rightPublication.id }} {{ error.duplicatePublications.rightPublication.title }}</a></h4>
                            <h4><i class="glyphicon glyphicon-sort"></i></h4>
                            <h4><a href="{{ path('publication_route', {'slug_publication':error.duplicatePublications.wrongPublication.slug}) }}" target="_blank">#{{ error.duplicatePublications.wrongPublication.id }} {{ error.duplicatePublications.wrongPublication.title }}</a></h4>
                            {% elseif error.errorType == "duplicateJournals" %}
                            <h4><a href="{{ path('journal_route', {'slug_journal':error.duplicateJournals.rightJournal.slug}) }}" target="_blank">#{{ error.duplicateJournals.rightJournal.id }} {{ error.duplicateJournals.rightJournal.title }}</a></h4>
                            <h4><i class="glyphicon glyphicon-sort"></i></h4>
                            <h4><a href="{{ path('journal_route', {'slug_journal':error.duplicateJournals.wrongJournal.slug}) }}" target="_blank">#{{ error.duplicateJournals.wrongJournal.id }} {{ error.duplicateJournals.wrongJournal.title }}</a></h4>
                            {% elseif error.errorType == "duplicateResearchers" %}
                            <h4><a href="{{ path('researchers_researcher_researcher', {'slug_researcher': error.duplicateResearchers.rightResearcher.slug}) }}" target="_blank">#{{ error.duplicateResearchers.rightResearcher.id }} {{ error.duplicateResearchers.rightResearcher }}</a></h4>
                            <h4><i class="glyphicon glyphicon-sort"></i></h4>
                            {% for duplicateResearcher in error.duplicateResearchers.duplicateResearchers %}
                                <h4><a href="{{ path('researchers_researcher_researcher', {'slug_researcher': duplicateResearcher.slug}) }}" target="_blank">#{{ duplicateResearcher.id }} {{ duplicateResearcher }}</a></h4>
                            {% endfor %}
                            {% elseif error.errorType == "wrongPublicationMatch" %}
                            <h4><a href="{{ path('publication_route', {'slug_publication':error.wrongPublicationMatch.publication.slug}) }}" target="_blank">#{{ error.wrongPublicationMatch.publication.id }} {{ error.wrongPublicationMatch.publication.title }}</a></h4>
                            <h4>{{ 'bibliometry.errors.handle_errors.with'|trans }} </h4>
                            {% if error.wrongPublicationMatch.publication.publiConference %}
                                {% if error.wrongPublicationMatch.publication.publiConference.conference %}
                                    <h4><a href="{{ path('conference_route', {'slug_conference':error.wrongPublicationMatch.publication.publiConference.conference.slug}) }}" target="_blank">#{{ error.wrongPublicationMatch.publication.publiConference.conference.id }} {{ error.wrongPublicationMatch.publication.publiConference.conference.title }}</a></h4>
                                {% else %}
                                    <h4>{{ 'bibliometry.errors.handle_errors.not_matched'|trans }}</h4>
                                {% endif %}
                            {% elseif error.wrongPublicationMatch.publication.publiJournal %}
                                <h4><a href="{{ path('journal_route', {'slug_journal':error.wrongPublicationMatch.publication.publiJournal.journal.slug}) }}" target="_blank">#{{ error.wrongPublicationMatch.publication.publiJournal.journal.id }} {{error.wrongPublicationMatch.publication.publiJournal.journal.title }}</a></h4>
                            {% endif %}
                            {% elseif error.errorType == "splitResearchers" %}
                            <h4><a href="{{ path('researchers_researcher_researcher', {'slug_researcher': error.splitResearchers.multipleResearcher.slug}) }}" target="_blank">#{{ error.splitResearchers.multipleResearcher.id }} {{ error.splitResearchers.multipleResearcher }}</a></h4>
                            <h4><i class="glyphicon glyphicon-sort"></i></h4>
                            {% for splitResearcher in error.splitResearchers.splitResearchers %}
                                <h4><a href="{{ path('researchers_researcher_researcher', {'slug_researcher': splitResearcher.slug}) }}" target="_blank">#{{ splitResearcher.id }} {{ splitResearcher }}</a></h4>
                            {% endfor %}
                            {% elseif error.errorType == "notLabPublication" %}
                            <h4><a href="{{ path('publication_route', {'slug_publication':error.notLabPublication.publication.slug}) }}" target="_blank">#{{ error.notLabPublication.publication.id }} {{ error.notLabPublication.publication.title }}</a></h4>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        {{ 'bibliometry.errors.handle_errors.reported_by'|trans }} 
                        {% if error.reporter.researcher %}
                        <a href="{{ path('researchers_researcher_researcher', {'slug_researcher': error.reporter.researcher.slug}) }}">
                        {% endif %}
                        {{ error.reporter }}
                        {% if error.reporter.researcher %}
                        </a>
                        {% endif %}
                        {{ 'bibliometry.errors.handle_errors.on'|trans }} 
                        {{ error.reportDate|date("d/m/Y") }}
                    </div>
                    <!-- /.box-footer-->
                </div>
                <div class="box box-solid box-primary">
                    <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                        <h3 class="box-title"><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;{{ 'bibliometry.errors.handle_errors.suggestion'|trans }}</h3>
                    </div>
                    <div class="box-body">
                        <p>
                            {{ error.reporter }} {{ 'bibliometry.errors.handle_errors.proposes_to'|trans }} :
                        </p>
                        <div align="center">
                            {% if error.errorType == "duplicatePublications" %}
                            <h4><span class="text-green">{{ 'bibliometry.errors.handle_errors.keep'|trans }} #{{ error.duplicatePublications.rightPublication.id }} {{ error.duplicatePublications.rightPublication.title }}</span></h4>
                            <h4><span class="text-red">{{ 'bibliometry.errors.handle_errors.delete'|trans }} #{{ error.duplicatePublications.wrongPublication.id }} {{ error.duplicatePublications.wrongPublication.title }}</span></h4>
                            {% elseif error.errorType == "duplicateJournals" %}
                            <h4><span class="text-green">{{ 'bibliometry.errors.handle_errors.keep'|trans }} #{{ error.duplicateJournals.rightJournal.id }} {{ error.duplicateJournals.rightJournal.title }}</span></h4>
                            <h4><span class="text-red">{{ 'bibliometry.errors.handle_errors.delete'|trans }} #{{ error.duplicateJournals.wrongJournal.id }} {{ error.duplicateJournals.wrongJournal.title }}</span></h4>
                            {% elseif error.errorType == "duplicateResearchers" %}
                            <h4><span class="text-green">{{ 'bibliometry.errors.handle_errors.keep'|trans }} #{{ error.duplicateResearchers.rightResearcher.id }} {{ error.duplicateResearchers.rightResearcher }}</span></h4>
                            {% for duplicateResearcher in error.duplicateResearchers.duplicateResearchers %}
                                <h4><span class="text-red">{{ 'bibliometry.errors.handle_errors.merge_delete'|trans }} #{{ duplicateResearcher.id }} {{ duplicateResearcher }}</span></h4>
                            {% endfor %}
                            {% elseif error.errorType == "wrongPublicationMatch" %}
                            <h4>{{ 'bibliometry.errors.handle_errors.match'|trans }} #{{ error.wrongPublicationMatch.publication.id }} {{ error.wrongPublicationMatch.publication.title }}</h4>
                            <h4>{{ 'bibliometry.errors.handle_errors.with'|trans }} </h4>
                            {% if error.wrongPublicationMatch.rightConference %}
                                <h4><span class="text-green">#{{ error.wrongPublicationMatch.rightConference.id }} {{ error.wrongPublicationMatch.rightConference.title }}</span></h4>
                            {% elseif error.wrongPublicationMatch.rightJournal %}
                                <h4><span class="text-green">#{{ error.wrongPublicationMatch.rightJournal.id }} {{error.wrongPublicationMatch.rightJournal.title }}</span></h4>
                            {% elseif error.wrongPublicationMatch.conferenceNotReferenced %}
                                <h4><span class="text-green">#{{ 'bibliometry.errors.handle_errors.not_matched'|trans }}</span></h4>
                            {% endif %}
                            {% elseif error.errorType == "splitResearchers" %}
                            <h4><span class="text-red">{{ 'bibliometry.errors.handle_errors.split_delete'|trans }} #{{ error.splitResearchers.multipleResearcher.id }} {{ error.splitResearchers.multipleResearcher }}</span></h4>
                            {% for splitResearcher in error.splitResearchers.splitResearchers %}
                                <h4><span class="text-green">{{ 'bibliometry.errors.handle_errors.keep'|trans }} #{{ splitResearcher.id }} {{ splitResearcher }}</span></h4>
                            {% endfor %}
                            {% elseif error.errorType == "notLabPublication" %}
                            <h4><span class="text-red">{{ 'bibliometry.errors.handle_errors.delete'|trans }} #{{ error.notLabPublication.publication.id }} {{ error.notLabPublication.publication.title }}</span></h4>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.box-body -->
                    {% if error.comments %}
                    <div class="box-footer">
                        <em>{{ 'bibliometry.errors.handle_errors.comments'|trans }} : {{ error.comments }}</em>
                    </div>
                    <!-- /.box-footer-->
                    {% endif %}
                </div>
                <div class="box box-solid box-danger">
                    <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                        <h3 class="box-title"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;{{ 'bibliometry.errors.handle_errors.action_to_take'|trans }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            {% if error.errorType == "duplicatePublications" %}
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="{{ error.duplicatePublications.rightPublication.id }}" required checked="checked"/>
                                <span class="text-green">{{ 'bibliometry.errors.handle_errors.keep'|trans }} #{{ error.duplicatePublications.rightPublication.id }} "{{ error.duplicatePublications.rightPublication.title }}"</span> <br> <span class="text-red">{{ 'bibliometry.errors.handle_errors.delete'|trans }} #{{ error.duplicatePublications.wrongPublication.id }} "{{ error.duplicatePublications.wrongPublication.title }}"</span>
                                </label> 
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="{{ error.duplicatePublications.wrongPublication.id }}" required/>
                                <span class="text-green">{{ 'bibliometry.errors.handle_errors.keep'|trans }} #{{ error.duplicatePublications.wrongPublication.id }} "{{ error.duplicatePublications.wrongPublication.title }}"</span> <br> <span class="text-red">{{ 'bibliometry.errors.handle_errors.delete'|trans }} #{{ error.duplicatePublications.rightPublication.id }} "{{ error.duplicatePublications.rightPublication.title }}"</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="NULL" required/>
                                {{ 'bibliometry.errors.handle_errors.incorrect_do_nothing'|trans }}
                                </label>
                            </div> 
                            {% elseif error.errorType == "duplicateJournals" %}
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="{{ error.duplicateJournals.rightJournal.id }}" required checked="checked"/>
                                <span class="text-green">{{ 'bibliometry.errors.handle_errors.keep'|trans }} #{{ error.duplicateJournals.rightJournal.id }} "{{ error.duplicateJournals.rightJournal.title }}"</span> <br> <span class="text-red">{{ 'bibliometry.errors.handle_errors.delete'|trans }} #{{ error.duplicateJournals.wrongJournal.id }} "{{ error.duplicateJournals.wrongJournal.title }}"</span>
                                </label> 
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="{{ error.duplicateJournals.wrongJournal.id }}" required/>
                                <span class="text-green">{{ 'bibliometry.errors.handle_errors.keep'|trans }} #{{ error.duplicateJournals.wrongJournal.id }} "{{ error.duplicateJournals.wrongJournal.title }}"</span> <br> <span class="text-red">{{ 'bibliometry.errors.handle_errors.delete'|trans }} #{{ error.duplicateJournals.rightJournal.id }} "{{ error.duplicateJournals.rightJournal.title }}"</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="NULL" required/>
                                {{ 'bibliometry.errors.handle_errors.incorrect_do_nothing'|trans }}
                                </label>
                            </div>
                            {% elseif error.errorType == "duplicateResearchers" %}
                            {{ 'bibliometry.errors.handle_errors.researcher_select'|trans }}
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="{{ error.duplicateResearchers.rightResearcher.id }}" required checked="checked"/>
                                #{{ error.duplicateResearchers.rightResearcher.id }} {{ error.duplicateResearchers.rightResearcher }}
                                </label> 
                            </div>
                            {% for duplicateResearcher in error.duplicateResearchers.duplicateResearchers %}
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="right" value="{{ duplicateResearcher.id }}" required />
                                    #{{ duplicateResearcher.id }} {{ duplicateResearcher }}
                                    </label> 
                                </div>  
                            {% endfor %}
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="NULL" required/>
                                {{ 'bibliometry.errors.handle_errors.incorrect_do_nothing'|trans }}
                                </label>
                            </div>
                            {% elseif error.errorType == "wrongPublicationMatch" %}
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="{{ error.wrongPublicationMatch.getRightMatch? error.wrongPublicationMatch.getRightMatch.id : '-1' }}" required checked="checked"/>
                                <span class="text-green">{{ 'bibliometry.errors.handle_errors.match_with'|trans }} #{{ error.wrongPublicationMatch.getRightMatch? error.wrongPublicationMatch.getRightMatch.id : '' }} "{{ error.wrongPublicationMatch.getRightMatch? error.wrongPublicationMatch.getRightMatch.title: 'bibliometry.errors.handle_errors.not_matched'|trans}}"</span>
                                </label> 
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="NULL" required/>
                                {{ 'bibliometry.errors.handle_errors.incorrect_do_nothing'|trans }}
                                </label>
                            </div>
                            {% elseif error.errorType == "splitResearchers" %}
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="true" required checked="checked"/>
                                <span class="text-red">{{ 'bibliometry.errors.handle_errors.split_delete'|trans }} #{{ error.splitResearchers.multipleResearcher.id }} {{ error.splitResearchers.multipleResearcher }}</span>
                                <br>
                                {% for splitResearcher in error.splitResearchers.splitResearchers %}
                                    <span class="text-green">{{ 'bibliometry.errors.handle_errors.keep'|trans }} #{{ splitResearcher.id }} {{ splitResearcher }}</span>
                                {% endfor %}
                                </label> 
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="NULL" required/>
                                {{ 'bibliometry.errors.handle_errors.incorrect_do_nothing'|trans }}
                                </label>
                            </div>  
                            {% elseif error.errorType == "notLabPublication" %}
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="{{ error.notLabPublication.publication.id }}" required checked="checked"/>
                                <span class="text-red">{{ 'bibliometry.errors.handle_errors.delete'|trans }} #{{ error.notLabPublication.publication.id }} "{{ error.notLabPublication.publication.title }}"</span>
                                </label> 
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="right" value="NULL" required/>
                                {{ 'bibliometry.errors.handle_errors.incorrect_do_nothing'|trans }}
                                </label>
                            </div>      
                            {% endif %}                   
                        </div>
                    </div>
                    <div class="box-footer">
                        {{ form_row(form.finalComments) }}
                        <input type="hidden" name="error_id" value="{{ error.id }}" />
                        {{ form_rest(form) }} 
                    </div>  
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'bibliometry.errors.error_report.close'|trans }}</button>
                <button type="submit" class="btn btn-primary">{{ 'bibliometry.errors.handle_errors.submit'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>