{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.errors.handle_errors.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.errors.handle_errors.page_title'|trans }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.errors.handle_errors.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box box-solid bg-light-blue">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.errors.handle_errors.x_errors_requiring'|trans({'%nb_errors%':error_reports|length}) }}</h3>
            </div>
            <div class="box-body">
                <p>
                    {{ 'bibliometry.errors.handle_errors.error_reports_explanations'|trans }}
                </p>
            </div><!-- /.box-body -->
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ 'bibliometry.errors.handle_errors.report_date'|trans }}</th>
                    <th>{{ 'bibliometry.errors.handle_errors.reporter'|trans }}</th>
                    <th>{{ 'bibliometry.errors.handle_errors.problem'|trans }}</th>
                    <th>{{ 'bibliometry.errors.handle_errors.content'|trans }}</th>
                    <th>{{ 'bibliometry.errors.handle_errors.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for error in error_reports|reverse %}
                    <tr>
                        <td>{{ error.reportDate|dateRelative }} {{ 'bibliometry.errors.handle_errors.ago'|trans }}</td>
                        <td>
                            {% if error.reporter.researcher %}
                                <a href="{{ path('researchers_researcher_researcher', {'slug_researcher': error.reporter.researcher.slug}) }}">
                            {% endif %}
                            {{ error.reporter }}
                            {% if error.reporter.researcher %}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {{ ('bibliometry.errors.error_report.'~error.errorType)|trans }}
                        </td>
                        <td>
                            {{ error }}
                        </td>
                        <td>
                            <button class="show_error btn btn-primary btn-xs" error_id="{{ error.id }}"><i class="fa fa-cog"></i> {{ 'bibliometry.errors.handle_errors.handle'|trans }}</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="error_popup_div"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".show_error").click(function()
        {
            var error_id = $(this).attr("error_id");
            $.post(
                "{{ path('show_error_popup_route') }}",
                { error_id: error_id },
                function(data){
                    $("#error_popup_div").html(data);
                    $("#show_error_popup").modal();
                    $("#show_error_popup input").iCheck({
                        checkboxClass: 'icheckbox_minimal',
                        radioClass: 'iradio_minimal'
                    });
                }
            );
        });
    </script>
{% endblock %}