<script>
    var checkLoopHAL;
    $(document).ready(function() {
        $("#import_hal_success_message").hide();
        $("#import_hal_error_message").hide();
        $("#import_hal_close_button").attr("disabled", true);
        // Initiate the loop that will check the progress
        checkLoopHAL = window.setInterval(function(){checkHalImport()}, 1000);
    });
    
    // Attach a submit handler to the form
    $( "#import_hal_form" ).submit(function( event ) {

      // Stop form from submitting normally
      event.preventDefault();

      // Get some values from elements on the page:
      var $form = $( this ),
        beginYear = $form.find( "input[name='import_hal_begin_year']" ).val(),
        endYear = $form.find( "input[name='import_hal_end_year']" ).val(),
        url = $form.attr( "action" );

      // Send the data using post
      var posting = $.post( url, { beginYear: beginYear, endYear: endYear } );
      
      // Show popup
      $("#import_hal_popup").modal("show");
      // Put progress bar at 0
      $("#import_hal_success_message").hide();
      $("#import_hal_close_button").attr("disabled", true);
      $("#import_hal_progressbar").attr("aria-valuenow", 0);
      $("#import_hal_progressbar").css("width", "0%");
      $("#import_hal_popup_progress").html("0%");
      
      // Initiate the loop that will check the progress
      checkLoopHAL = window.setInterval(function(){checkHalImport()}, 1000);

    });
    
    function checkHalImport() {
        $.ajax({
          url: '{{ path('admin_check_import_hal') }}',
          cache: false
        })
          .done(function( response ) {                
            // If no import is launched
            if (response == "Not launched")
            {
                // Break the check loop
                window.clearInterval(checkLoopHAL);
            }
            else 
            {
                // Show popup
                $("#import_hal_popup").modal("show");
                // Update the progress bar
                $("#import_hal_progressbar").attr("aria-valuenow", response);
                $("#import_hal_progressbar").css("width", response+"%");
                $("#import_hal_popup_progress").html(response+"%");
            
                // If finished
                if (response == "100")
                {
                    // Stop the progress bar
                    $("#import_hal_close_button").attr("disabled", false);
                    $("#import_hal_progressbar_div").removeClass("active");
                    $("#import_hal_progressbar_div").removeClass("progress-striped");
                    $("#import_hal_success_message").show();
                    // Break the check loop
                    window.clearInterval(checkLoopHAL);
                }
                // If error occured
                else if (response.indexOf("ERROR : ") > -1)
                {
                    // Enable close button
                    $("#import_hal_close_button").attr("disabled", false);
                    // Make the progress bar red and at 100%
                    $("#import_hal_progressbar_div").removeClass("active");
                    $("#import_hal_progressbar_div").removeClass("progress-striped");
                    $("#import_hal_progressbar").removeClass("progress-bar-success");
                    $("#import_hal_progressbar").addClass("progress-bar-red");
                    $("#import_hal_progressbar").attr("aria-valuenow", "100");
                    $("#import_hal_progressbar").css("width", "100%");
                    // Show error on top of popup
                    $("#import_hal_popup_progress").html("ERROR");
                    // Show error message
                    $("#import_hal_error_message").append(response);
                    $("#import_hal_error_message").show();
                }
            }
          });
    }
</script>