<script>
    var checkLoopDblp;
    $(document).ready(function() {
        $("#import_dblp_success_message").hide();
        $("#import_dblp_error_message").hide();
        $("#import_dblp_close_button").attr("disabled", true);
        // Initiate the loop that will check the progress
        checkLoopDblp = window.setInterval(function(){checkDblpImport()}, 1000);
    });
    
    // Attach a submit handler to the form
    $( "#import_dblp_form" ).submit(function( event ) {

      // Stop form from submitting normally
      event.preventDefault();

      // Get some values from elements on the page:
      var $form = $( this ),
        url = $form.attr( "action" );

      // Send the data using post
      var posting = $.post( url );
      
      // Show popup
      $("#import_dblp_popup").modal("show");
      // Put progress bar at 0
      $("#import_dblp_success_message").hide();
      $("#import_dblp_close_button").attr("disabled", true);
      $("#import_dblp_progressbar").attr("aria-valuenow", 0);
      $("#import_dblp_progressbar").css("width", "0%");
      $("#import_dblp_popup_progress").html("0%");
      
      // Initiate the loop that will check the progress
      checkLoopDblp = window.setInterval(function(){checkDblpImport()}, 1000);

    });
    
    function checkDblpImport() {
        $.ajax({
          url: '{{ path('admin_check_import_dblp') }}',
          cache: false
        })
          .done(function( response ) {                
            // If no import is launched
            if (response == "Not launched")
            {
                // Break the check loop
                window.clearInterval(checkLoopDblp);
            }
            else 
            {
                // Show popup
                $("#import_dblp_popup").modal("show");
                // Update the progress bar
                $("#import_dblp_progressbar").attr("aria-valuenow", response);
                $("#import_dblp_progressbar").css("width", response+"%");
                $("#import_dblp_popup_progress").html(response+"%");
            
                // If finished
                if (response == "100")
                {
                    // Stop the progress bar
                    $("#import_dblp_close_button").attr("disabled", false);
                    $("#import_dblp_progressbar_div").removeClass("active");
                    $("#import_dblp_progressbar_div").removeClass("progress-striped");
                    $("#import_dblp_success_message").show();
                    // Break the check loop
                    window.clearInterval(checkLoopDblp);
                }
                // If error occured
                else if (response.indexOf("ERROR : ") > -1)
                {
                    // Enable close button
                    $("#import_dblp_close_button").attr("disabled", false);
                    // Make the progress bar red and at 100%
                    $("#import_dblp_progressbar_div").removeClass("active");
                    $("#import_dblp_progressbar_div").removeClass("progress-striped");
                    $("#import_dblp_progressbar").removeClass("progress-bar-success");
                    $("#import_dblp_progressbar").addClass("progress-bar-red");
                    $("#import_dblp_progressbar").attr("aria-valuenow", "100");
                    $("#import_dblp_progressbar").css("width", "100%");
                    // Show error on top of popup
                    $("#import_dblp_popup_progress").html("ERROR");
                    // Show error message
                    $("#import_dblp_error_message").append(response);
                    $("#import_dblp_error_message").show();
                }
            }
          });
    }
</script>