<div class="col-md-3">
    <!-- Default box -->
    <div class="box box-solid box-danger">
        <div class="box-header">
            <h3 class="box-title">{{ 'bibliometry.admin.import_core.box_title'|trans }}</h3>
        </div>
        <div class="box-body" id="test">
            {{ 'bibliometry.admin.import_core.warning'|trans }}
        </div><!-- /.box-body -->
        <div class="box-footer">
            <form method="POST" id="import_core_form" action="{{ path('admin_import_core') }}">
                <button class="btn btn-block btn-primary" type="submit" id="import_core_button"><i class="fa fa-fw fa-download"></i> {{ 'bibliometry.admin.import_core.import'|trans }}</button>
            </form>
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</div><!-- /.col -->

{# Core Import Popup #}
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="import_core_popup" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ 'bibliometry.admin.import_core.popup_title'|trans }} (<span id="import_core_popup_progress">0 %</span>)</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="progress progress-striped active" id="import_core_progressbar_div">
                        <div class="progress-bar progress-bar-success" id="import_core_progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success" id="import_core_success_message">
                    <i class="fa fa-check"></i>
                    {{ 'bibliometry.admin.import_core.finished'|trans }}
                </div>
                <div class="alert alert-danger" id="import_core_error_message">
                    <i class="fa fa-ban"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="import_core_close_button">{{ 'bibliometry.admin.close_button'|trans }}</button>
            </div>
        </div>
    </div>
</div>