<script>
    var checkLoopWOK;
    $(document).ready(function() {
        $("#import_wok_success_message").hide();
        $("#import_wok_error_message").hide();
        $("#import_wok_close_button").attr("disabled", true);
        // Initiate the loop that will check the progress
        checkLoopWOK = window.setInterval(function(){checkWOKImport()}, 1000);
        
        $("#see_years_wok_button").click(function() { seeAvailableYearsWok(); });
    });
    
    // Attach a submit handler to the form
    $( "#import_wok_form" ).submit(function( event ) {

      // Stop form from submitting normally
      event.preventDefault();

      // Get some values from elements on the page:
      var $form = $( this ),
        beginYear = $form.find( "input[name='import_wok_begin_year']" ).val(),
        endYear = $form.find( "input[name='import_wok_end_year']" ).val(),
        url = $form.attr( "action" );

      // Send the data using post
      var posting = $.post( url, { beginYear: beginYear, endYear: endYear } );
      
      // Show popup
      $("#import_wok_popup").modal("show");
      // Put progress bar at 0
      $("#import_wok_success_message").hide();
      $("#import_wok_close_button").attr("disabled", true);
      $("#import_wok_progressbar").attr("aria-valuenow", 0);
      $("#import_wok_progressbar").css("width", "0%");
      $("#import_wok_popup_progress").html("0%");
      
      // Initiate the loop that will check the progress
      checkLoopWOK = window.setInterval(function(){checkWOKImport()}, 1000);

    });
    
    function checkWOKImport() {
        $.ajax({
          url: '{{ path('admin_check_import_wok') }}',
          cache: false
        })
          .done(function( response ) {                
            // If no import is launched
            if (response == "Not launched")
            {
                // Break the check loop
                window.clearInterval(checkLoopWOK);
            }
            else 
            {
                // Show popup
                $("#import_wok_popup").modal("show");
                // Update the progress bar
                $("#import_wok_progressbar").attr("aria-valuenow", response);
                $("#import_wok_progressbar").css("width", response+"%");
                $("#import_wok_popup_progress").html(response+"%");
            
                // If finished
                if (response == "100")
                {
                    // Stop the progress bar
                    $("#import_wok_close_button").attr("disabled", false);
                    $("#import_wok_progressbar_div").removeClass("active");
                    $("#import_wok_progressbar_div").removeClass("progress-striped");
                    $("#import_wok_success_message").show();
                    // Break the check loop
                    window.clearInterval(checkLoopWOK);
                }
                // If error occured
                else if (response.indexOf("ERROR : ") > -1)
                {
                    // Enable close button
                    $("#import_wok_close_button").attr("disabled", false);
                    // Make the progress bar red and at 100%
                    $("#import_wok_progressbar_div").removeClass("active");
                    $("#import_wok_progressbar_div").removeClass("progress-striped");
                    $("#import_wok_progressbar").removeClass("progress-bar-success");
                    $("#import_wok_progressbar").addClass("progress-bar-red");
                    $("#import_wok_progressbar").attr("aria-valuenow", "100");
                    $("#import_wok_progressbar").css("width", "100%");
                    // Show error on top of popup
                    $("#import_wok_popup_progress").html("ERROR");
                    // Show error message
                    $("#import_wok_error_message").append(response);
                    $("#import_wok_error_message").show();
                }
            }
          });
    }
    
    function seeAvailableYearsWok()
    {
        $('body').css({'cursor':'wait'})
        $.ajax({
            url: '{{ path('admin_see_available_years_wok') }}'
        })
        .done(function( response ) {
            $('body').css({'cursor':'default'})
            $("#see_years_wok_popup_ul").html('');
            response.split(',').forEach(function(year)
            {
                $("#see_years_wok_popup_ul").append("<li>"+year+"</li>");
            });
            $("#see_years_wok_popup").modal("show");
        }); 
    }
</script>