<div class="col-md-3">
    <!-- Default box -->
    <div class="box box-solid box-danger">
        <div class="box-header">
            <h3 class="box-title">{{ 'bibliometry.admin.import_wok.box_title'|trans }}</h3>
        </div>
        <div class="box-body" id="test">
            {{ 'bibliometry.admin.import_wok.warning'|trans }}
        </div><!-- /.box-body -->
        <div class="box-footer">
            <form method="POST" id="import_wok_form" action="{{ path('admin_import_wok') }}">
                <div class="form-group">
                    <label>{{ 'bibliometry.admin.import_wok.begin_year'|trans }} :</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="number" name="import_wok_begin_year" class="form-control" min="1900" max="{{ 'now'|date('Y') }}" required />
                    </div><!-- /.input group -->
                </div>
                <div class="form-group">
                    <label>{{ 'bibliometry.admin.import_wok.end_year'|trans }} :</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="number" name="import_wok_end_year" class="form-control" min="1900" max="{{ 'now'|date('Y') }}" required />
                    </div><!-- /.input group -->
                </div>
                <button class="btn btn-block btn-primary" type="submit" id="import_wok_button"><i class="fa fa-fw fa-download"></i> {{ 'bibliometry.admin.import_wok.import'|trans }}</button>
            </form>
            <br>
            <button class="btn btn-block btn-info" id="see_years_wok_button"><i class="fa fa-fw fa-calendar"></i> {{ 'bibliometry.admin.import_wok.see_years'|trans }}</button>
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</div><!-- /.col -->

{# Hal Import Popup #}
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="import_wok_popup" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ 'bibliometry.admin.import_wok.popup_title'|trans }} (<span id="import_wok_popup_progress">0 %</span>)</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="progress progress-striped active" id="import_wok_progressbar_div">
                        <div class="progress-bar progress-bar-success" id="import_wok_progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success" id="import_wok_success_message">
                    <i class="fa fa-check"></i>
                    {{ 'bibliometry.admin.import_wok.finished'|trans }}
                </div>
                <div class="alert alert-danger" id="import_wok_error_message">
                    <i class="fa fa-ban"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="import_wok_close_button">{{ 'bibliometry.admin.close_button'|trans }}</button>
            </div>
        </div>
    </div>
</div>

{# Hal Available Years Popup #}
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="see_years_wok_popup">
    <div class="modal-dialog modal-sm" style="width:300px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ 'bibliometry.admin.import_wok.see_years_popup_title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <ul id="see_years_wok_popup_ul">
                
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'bibliometry.admin.close_button'|trans }}</button>
            </div>
        </div>
    </div>
</div>