{% extends "::base.html.twig" %}

{% block title %}BibliometryMainBundle:Admin:showAdmin{% endblock %}

{% block page_title %}{{ 'bibliometry.admin.page_title'|trans }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.admin.admin'|trans }}
    </li>
{% endblock %}



{% block body %}
    <h2 class="page-header">{{ 'bibliometry.admin.versionWebsite'|trans }}: {{ currentVersion }}</h2>
    
    <h2 class="page-header">{{ 'bibliometry.admin.notFromLeafTeams'|trans }}: <a href="{{ path('show_team_route', {'slug_team': 'NotFromLeafTeams'}) }}">NotFromLeafTeams</a></h2>

    <h2 class="page-header">{{ 'bibliometry.admin.imports'|trans }}</h2>
    
    <div class="row">
        
        {# Import Core Box #}
        {% include "BibliometryMainBundle:Admin:importCore.html.twig" %}
        
        {# Import Scholar Box #}
        {% include "BibliometryMainBundle:Admin:importScholar.html.twig" %}
        
        {# Import HAL Box #}
        {% include "BibliometryMainBundle:Admin:importHAL.html.twig" %}

        {# Import WOK Box #}
        {% include "BibliometryMainBundle:Admin:importWOK.html.twig" %}

        {# Import DBLP Box #}
        {% include "BibliometryMainBundle:Admin:importDblp.html.twig" %}

        {# Import Cache publications grade Box #}
        {% include "BibliometryMainBundle:Admin:cachePublicationsGrade.html.twig" %}

    </div><!-- /.row -->
    
    <h2 class="page-header">{{ 'bibliometry.admin.administrators'|trans }} <small>{{ 'bibliometry.admin.administrators_explanations'|trans }}</small></h2>
    
    <div class="col-md-8">
        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.admin.current_administrators'|trans }}</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'bibliometry.admin.username'|trans }}</th>
                            <th>{{ 'bibliometry.admin.name'|trans }}</th>
                            <th>{{ 'bibliometry.admin.surname'|trans }}</th>
                            <th>{{ 'bibliometry.admin.revoke'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for administrator in administrators %}
                        <tr>
                            <td>
                                {{ administrator.username }}
                            </td>
                            <td>
                                {{ administrator.name }}
                            </td>
                            <td>
                                {{ administrator.surname }}
                            </td>
                            <td>
                                <a href="{{ path('admin_revoke_route', {'username': administrator.username}) }}" class="btn btn-danger btn-xs">{{ 'bibliometry.admin.revoke_button'|trans }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.admin.promote_user'|trans }}</h3>
            </div>
            <div class="box-body">
                <select name="promoteUser" id="promoteUser_select" style="width:100%">
                    <option></option>
                    {% for user in users %}
                        <option value="{{ user.username }}">{{ user.name }} {{ user.surname }}</option> 
                    {% endfor %}   
                </select>
            </div>
            <div class="box-footer">
                <button class="btn btn-warning btn-block" id="promoteUser_submit">{{ 'bibliometry.admin.promote_user'|trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "BibliometryMainBundle:Admin:importHAL.js.twig" %}
    {% include "BibliometryMainBundle:Admin:importCore.js.twig" %}
    {% include "BibliometryMainBundle:Admin:importWOK.js.twig" %}
    {% include "BibliometryMainBundle:Admin:importScholar.js.twig" %}
    {% include "BibliometryMainBundle:Admin:importDblp.js.twig" %}
    {% include "BibliometryMainBundle:Admin:cachePublicationsGrade.js.twig" %}
    
    <script>
        $("#promoteUser_select").select2({
            placeholder: "{{ 'bibliometry.admin.select_user'|trans }}"
        });
        
        $("#promoteUser_submit").click(function()
        {
            var promoteUrl = "{{ path('admin_promote_route', {'username': 'username'}) }}";
            var username = $("#promoteUser_select").val();
            if (username != "")
            {
                window.location.href = promoteUrl.replace('username', username);
            }
        });
    </script>
{% endblock %}