{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.researchers.final_registration_step.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.researchers.final_registration_step.page_title'|trans }} <small></small>{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.researchers.final_registration_step.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
    <div class="col-md-7">
    <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.researchers.final_registration_step.give_more_infos'|trans }}</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            {{ form_start(form, {'action': path('final_registration_route')}) }}
                <div class="box-body">
                    <div class="form-group {{ (not form.name.vars.valid)?'has-error':'' }}">
                        <label for="{{ form.name.vars.id }}">{{ "bibliometry.researchers.final_registration_step.name"|trans }}</label>
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {"attr" : {"class" : "form-control"}}) }}
                    </div>
                    <div class="form-group {{ (not form.surname.vars.valid)?'has-error':'' }}">
                         <label for="{{ form.surname.vars.id }}">{{ "bibliometry.researchers.final_registration_step.surname"|trans }}</label>
                        {{ form_errors(form.surname) }}
                        {{ form_widget(form.surname, {"attr" : {"class" : "form-control"}}) }}
                    </div>
                    <div class="form-group {{ (not form.photo.vars.valid)?'has-error':'' }}"">
                        <label for="{{ form.photo.vars.id }}">{{ "bibliometry.researchers.final_registration_step.photo"|trans }}</label>
                        {{ form_errors(form.photo.file) }}
                        {{ form_widget(form.photo.file) }}
                    </div>
                    <div class="radio">                                    
                        <label>
                            <input type="radio" name="user_role" class="minimal" value="researcher" />
                            {{ "bibliometry.researchers.final_registration_step.im_researcher"|trans }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="user_role" class="minimal" value="admin" /> 
                            {{ "bibliometry.researchers.final_registration_step.im_administrative"|trans }}                                                   
                        </label>
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary btn-block">{{ "bibliometry.researchers.final_registration_step.submit"|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div><!-- /.box -->
    </div><!--/.col (left) -->
    <div class="col-md-5">
    <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.researchers.final_registration_step.why_we_need'|trans }}</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                {{ 'bibliometry.researchers.final_registration_step.explanations'|trans }}
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!--/.col (left) -->
{% endblock %}
