{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.researchers.select_main_researcher.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.researchers.select_main_researcher.page_title'|trans }} <small></small>{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.researchers.select_main_researcher.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
    <div class="col-md-12">
    <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.researchers.select_main_researcher.box_title'|trans }}</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="{{ path('select_main_researcher_route') }}" method="POST">
                <div class="box-body">
                    <div class="callout callout-info">{{ 'bibliometry.researchers.select_main_researcher.explanations'|trans }}<br><b>{{ 'bibliometry.researchers.select_main_researcher.legend'|trans }}</b> : <span class="text-light-blue">{{ 'bibliometry.researchers.select_main_researcher.name'|trans }}</span> <span class="text-red">{{ 'bibliometry.researchers.select_main_researcher.surname'|trans }}</span></div>
                    <div class="form-group"> 
                        {% for researcher in selectedResearchers %}                      
                            <div class="radio">
                                <label>
                                    <input type="radio" name="main_researcher" value="{{ researcher.id }}" required/>
                                    <span class="text-light-blue">{{ researcher.name }}</span> <span class="text-red">{{ researcher.surname }}</span>
                                </label>                                                
                            </div>
                        {% endfor %}
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-block">{{ "bibliometry.researchers.select_main_researcher.submit"|trans }}</button>
                </div>
            </form>
        </div><!-- /.box -->
    </div><!--/.col (left) -->
{% endblock %}
