{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.researchers.select_matching_researcher.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.researchers.select_matching_researcher.page_title'|trans }} <small></small>{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.researchers.select_matching_researcher.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
    <div class="col-md-12">
    <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    {% if matchingResearchers|length > 0 %}
                        {{ 'bibliometry.researchers.select_matching_researcher.box_title'|trans }}
                    {% else %}
                        {{ 'bibliometry.researchers.select_matching_researcher.box_title_not_found'|trans({'%name%': app.user.name, '%surname%': app.user.surname}) }}
                    {% endif %}
                </h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            {# If matching researchers found, form to select them #}
            {% if matchingResearchers|length > 0 %}
                <form role="form" action="{{ path('select_matching_researcher_route') }}" method="POST">
                <div class="box-body">
                    <div class="callout callout-info">{{ 'bibliometry.researchers.select_matching_researcher.explanations'|trans|raw }}<br><b>{{ 'bibliometry.researchers.select_matching_researcher.legend'|trans }}</b> : <span class="text-light-blue">{{ 'bibliometry.researchers.select_matching_researcher.name'|trans }}</span> <span class="text-red">{{ 'bibliometry.researchers.select_matching_researcher.surname'|trans }}</span></div>
                    <div class="form-group"> 
                        {% for researcher in matchingResearchers %}                      
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="matched_researchers[]" value="{{ researcher.id }}"/>
                                    <span class="text-light-blue">{{ researcher.name }}</span> <span class="text-red">{{ researcher.surname }}</span>
                                </label>                                                
                            </div>
                        {% endfor %}
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <a href="{{ path('final_registration_route') }}" class="btn btn-danger btn-block"><i class="fa fa-fw fa-mail-reply"></i> {{ 'bibliometry.researchers.select_matching_researcher.go_back_button'|trans }}</a>
                    <button type="submit" class="btn btn-danger btn-block" style="margin-top:5px" name="no_researcher_match" value="true"><i class="fa fa-fw fa-times"></i> {{ "bibliometry.researchers.select_matching_researcher.no_one_mine_button"|trans }}</button>
                    <button type="submit" class="btn btn-success btn-block"><i class="fa fa-fw fa-check"></i> {{ "bibliometry.researchers.select_matching_researcher.submit"|trans }}</button>
                </div>
            </form>
            {# No one found, we propose to correct or continue #}
            {% else %}
                <div class="box-body">
                    <div class="callout callout-danger">{{ 'bibliometry.researchers.select_matching_researcher.no_match_found'|trans }}</div>
                </div>
                <div class="box-footer">
                    <a href="{{ path('final_registration_route') }}" class="btn btn-danger btn-block"><i class="fa fa-fw fa-mail-reply"></i> {{ 'bibliometry.researchers.select_matching_researcher.go_back_button'|trans }}</a>
                    <form role="form" action="{{ path('select_matching_researcher_route') }}" method="POST">
                        <button type="submit" class="btn btn-success btn-block" style="margin-top:5px" name="no_researcher_match" value="true"><i class="fa fa-fw fa-check"></i> {{ 'bibliometry.researchers.select_matching_researcher.continue_button'|trans }}</button>
                    </form>
                </div>
            {% endif %}
        </div><!-- /.box -->
    </div><!--/.col (left) -->
{% endblock %}
