{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.researchers.welcome.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.researchers.welcome.page_title'|trans({'%name%': app.user.name, '%surname%': app.user.surname}) }} <small></small>{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.researchers.welcome.page_title'|trans({'%name%': app.user.name, '%surname%': app.user.surname}) }}
    </li>
{% endblock %}

{% block body %}
<div class="col col-md-12">
    <div class="box box-solid bg-green">
        <div class="box-header">
            <h3 class="box-title">{{ 'bibliometry.researchers.welcome.registration_completed'|trans }}</h3>                                    
        </div>
        <div class="box-body">
            <p>{{ 'bibliometry.researchers.welcome.registration_completed_explanations'|trans }}</p>
        </div><!-- /.box-body -->
    </div>
</div>
{% endblock %}
