{% extends "::base_mail.html.twig" %}

{% block mail_title %}
    {{ 'bibliometry.researchers.final_registration_step.welcome_mail_title'|trans({'%name%': user.name}) }}
{% endblock %}

{% block mail_content %}
    {{ 'bibliometry.researchers.final_registration_step.welcome_mail_content'|trans|raw }}
{% endblock %}