<li class="{{ team.daughterTeams|length > 0 ? 'mjs-nestedSortable-branch':'mjs-nestedSortable-leaf' }}" id="list_{{ team.id }}">
    <div>
        {{ team.name }} {% if team.leader %} ({{ 'bibliometry.team.leader'|trans }} : <a href="{{ path('researchers_researcher_researcher', {'slug_researcher': team.leader.slug}) }}">{{ team.leader.name }} {{ team.leader.surname }}</a>) {% endif %}
        <button class="delete btn btn-danger btn-xs pull-right" {{ laboratory.laboratoryTeam == team ? 'disabled':'' }}><i class="fa fa-times"></i> {{ 'bibliometry.team.delete_team'|trans }}</button>
        <a href="{{ path('manage_team_route', {'slug_team': team.slug}) }}" class="btn btn-primary btn-xs pull-right" style="margin-right:5px"><i class="fa fa-cog"></i> {{ 'bibliometry.team.manage_team'|trans }}</a>
        <a href="{{ path('show_team_route', {'slug_team': team.slug}) }}" class="btn btn-success btn-xs pull-right" style="margin-right:5px"><i class="fa fa-search"></i> {{ 'bibliometry.team.view_team'|trans }}</a>
    </div>
    {% if team.daughterTeams|length > 0 %}
        <ol>
            {% for daughterTeam in team.daughterTeams %}
                {% include "BibliometryMainBundle:Team:adminTeamsRecursive.html.twig" with {'team': daughterTeam} %}
            {% endfor %}
        </ol>
    {% endif %}
</li>