<h1>{{ 'bibliometry.export_publications.publications_of_team'|trans({'%team%': team.name})|upper }} {{ 'bibliometry.export_publications.from'|trans }} {{ ('bibliometry.export_publications.month' ~ beginMonth)|trans }} {{ beginYear }} {{ 'bibliometry.export_publications.to'|trans }}  {{ ('bibliometry.export_publications.month' ~ endMonth)|trans }} {{ endYear }} {{ ('bibliometry.base.' ~ constraint)|trans }}</h1>

{% if sort == "ranked" %}
{% set section = 0 %}
{% for publication in publications %}
{% if section < 1 and publication.type == "journal" %}
{% set section = 1 %}

<h2>{{ 'bibliometry.export_publications.journals_IF'|trans }}</h2>
<ul>
{% elseif section < 2 and publication.type == "conference" %}
{% if section > 0 %}
</ul>
{% endif %}
{% set section = 2 %}

<h2>{{ 'bibliometry.export_publications.conferences_ranking_html'|trans|raw }}</h2>
<ul>
{% elseif section < 3 and publication.type != "conference"  and publication.type != "journal"  %}
{% if section > 0 %}
</ul>
{% endif %}
{% set section = 3 %}

<h2>{{ 'bibliometry.export_publications.other_publication'|trans }}</h2>
<ul>
{% endif %}
    <li>{{ "["~referencesPublications[publication.id]~"] "}}{% include "BibliometryMainBundle:Publication:showPublicationExport.html.twig" with {'publication': publication} %}</li>

{% endfor %}
{% if section > 0 %}
</ul>
{% endif %}

{% elseif sort == "chronological" %}
    {% set lastYear = endYear %}
    {% for publication in publications %}
        {% if loop.first or publication.year != lastYear %}
            {% set lastYear = publication.year %}
            {% if not loop.first %}
                </ul>
            {% endif %}
            <h2>{{ lastYear }}</h2>
            <ul>
        {% endif %}
        <li>{{ "["~referencesPublications[publication.id]~"] "}}{% include "BibliometryMainBundle:Publication:showPublicationExport.html.twig" with {'publication': publication} %}</li>
        {% if loop.last %}
            </ul>
        {% endif %}
    {% endfor %}
    
{% elseif sort == "alphabetical" %}
    <ul>
    {% for publication in publications %}
        <li>{{ "["~referencesPublications[publication.id]~"] "}}{% include "BibliometryMainBundle:Publication:showPublicationExport.html.twig" with {'publication': publication} %}</li>
    {% endfor %}
    </ul>
{% endif %}