%% Publications of {{ team.name }} {{ 'bibliometry.export_publications.from'|trans }} {{ ('bibliometry.export_publications.month' ~ beginMonth)|trans }} {{ beginYear }} {{ 'bibliometry.export_publications.to'|trans }} {{ ('bibliometry.export_publications.month' ~ endMonth)|trans }} {{ endYear }} {{ ('bibliometry.base.' ~ constraint)|trans }}
%% Exported the {{ "now"|date("d/m/Y") }}
{% for publication in publications %}
    {% include "BibliometryMainBundle:Publication:showPublication.bib.twig" with {'publication': publication} %},
    
{% endfor %}