\documentclass[10pt,a4paper]{article}
\usepackage[english]{babel}
\usepackage[T1]{fontenc}
\usepackage[utf8x]{inputenc}
\usepackage{filecontents}
\usepackage{enumitem}

{% if sort == "alphabetical" %}
\usepackage{filecontents}
\begin{filecontents}{{ '{'~fileName~'.bib}' }}
{% for publication in publications %}
{% include "BibliometryMainBundle:Publication:showPublication.bib.twig" with {'publication': publication} %},
{% endfor %}
\end{filecontents}
{% endif %}

\title{Publications of {{ team.name }} {{ 'bibliometry.export_publications.from'|trans }} {{ ('bibliometry.export_publications.month' ~ beginMonth)|trans }} {{ beginYear }} {{ 'bibliometry.export_publications.to'|trans }} {{ ('bibliometry.export_publications.month' ~ endMonth)|trans }} {{ endYear }} {{ ('bibliometry.base.' ~ constraint)|trans }}}
\begin{document}
\maketitle

{% if sort == "ranked" %}
{% set section = 0 %}
{% for publication in publications %}
{% if section < 1 and publication.type == "journal" %}
{% set section = 1 %}

\section*{ {{ 'bibliometry.export_publications.journals_IF'|trans }} }
\begin{itemize}[leftmargin=*]
{% elseif section < 2 and publication.type == "conference" %}
{% if section > 0 %}
\end{itemize}
{% endif %}
{% set section = 2 %}

\section*{ {{ 'bibliometry.export_publications.conferences_ranking_txt'|trans }} }
\begin{itemize}[leftmargin=*]
{% elseif section < 3 and publication.type != "conference"  and publication.type != "journal"  %}
{% if section > 0 %}
\end{itemize}
{% endif %}
{% set section = 3 %}

\section*{ {{ 'bibliometry.export_publications.other_publication'|trans }} }
\begin{itemize}[leftmargin=*]
{% endif %}
    \item {{ "[]["~referencesPublications[publication.id]~"] "}}{% include "BibliometryMainBundle:Publication:showPublication.tex.twig" with {'publication': publication} %}

{% endfor %}
{% if section > 0 %}
\end{itemize}
{% endif %}

{% elseif sort == "chronological" %}
{% set lastYear = endYear %}
{% for publication in publications %}
{% if loop.first or publication.year != lastYear %}
{% set lastYear = publication.year %}
{% if not loop.first %}
\end{itemize}
{% endif %}
\section*{ {{ lastYear }} }
\begin{itemize}[leftmargin=*]
{% endif %}
    \item {{ "[]["~referencesPublications[publication.id]~"] "}}{% include "BibliometryMainBundle:Publication:showPublication.tex.twig" with {'publication': publication} %}

{% if loop.last %}
\end{itemize}
{% endif %}
{% endfor %}

{% elseif sort == "alphabetical" %}
\bibliographystyle{apalike}
\nocite{*}
\bibliography{{ '{'~fileName~'.bib}' }}

{% endif %}

\end{document}