{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.team.manage.html_title'|trans }}{% endblock %}

{% block page_title %}{{ team.name }} <small>{{ 'bibliometry.team.manage.page_title'|trans }}</small>{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('all_teams_route') }}">{{ 'bibliometry.team.teams'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('show_team_route', {'slug_team': team.slug}) }}">{{ team.name }}</a>
    </li>
    <li class="active">
       {{ 'bibliometry.team.manage.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
<div class="col-md-12">
    <div class="box box-solid box-primary" style="overflow:hidden">
        <div class="box-header">
            <h3 class="box-title">
                <i class="fa fa-gear"></i> {{ 'bibliometry.team.manage.box_title'|trans }}
            </h3>
        </div>
        <div class="box-body">
            {{ form_start(addResearcherForm, {'action': path('manage_team_route', {'slug_team': team.slug})}) }}
                {{ form_row(addResearcherForm.name) }}
                {{ form_row(addResearcherForm.leader, {"attr" : {"style" : "width:100%"}}) }}
                {{ form_row(addResearcherForm.researchers, {"attr" : {"placeholder" : "bibliometry.team.new_team_name", "style" : "width:100%"}}) }}
                <div class="form-group">
                    {{ form_rest(addResearcherForm) }}
                    <button type="submit" class="btn btn-success btn-block">{{ 'bibliometry.team.manage.update'|trans }}</button>
                </div>
            {{ form_end(addResearcherForm) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#{{ addResearcherForm.leader.vars.id }}").removeClass("form-control");
        $("#{{ addResearcherForm.researchers.vars.id }}").removeClass("form-control");
        $("#{{ addResearcherForm.leader.vars.id }}").select2();
        $("#{{ addResearcherForm.researchers.vars.id }}").select2();       
    </script>
{% endblock %}