{% extends "::base.html.twig" %}

{% set export_path = 'export_team_stats_route' %}
{% set slug_name = 'slug_team' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/jquery-jvectormap.css') }}" rel="stylesheet">
    <style>
        .linkable{
          cursor:pointer;
        }
    </style>
{% endblock %}

{% block title %}{{ parent() }} - {{ team.name }} - {{ 'bibliometry.stats.html_title'|trans }}{% endblock %}

{% block page_title %}
    <div style="width:60%;">{{ team.name }}</div>
    {% if ('now'|date('Y') < endYear) or ('now'|date('Y') == endYear and 'now'|date('m') <= endMonth) %}
        <div style="margin-top:10px"><small>{{ 'bibliometry.stats.page_now'|trans({'%beginYear%': beginYear, '%beginMonth%': beginMonth})|raw}} {{ ('bibliometry.base.' ~ constraint)|trans }}</small>
    {% else %}
        <div style="margin-top:10px"><small>{{ 'bibliometry.stats.page_title'|trans({'%beginYear%': beginYear, '%endYear%': endYear, '%beginMonth%': beginMonth, '%endMonth%': endMonth})|raw}} {{ ('bibliometry.base.' ~ constraint)|trans }}</small>
    {% endif %}
{# Date range picker #}
{% set baseURL = path('show_team_stats_route', {'slug_team': team.slug, 'beginYear':'0000', 'endYear':'1111', 'beginMonth': '2222', 'endMonth': '3333', 'constraint': '4444'}) %}
<button type="button" class="btn btn-sm btn-danger" id="date_picker" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="{% filter escape %}{% include 'dateRangePicker.html.twig' with {'baseURL': baseURL, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint} %}{% endfilter %}">
  {{ 'bibliometry.base.changeFilters'|trans }}
</button></div>
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('all_teams_route') }}">{{ 'bibliometry.team.teams'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('show_team_route', {'slug_team': team.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint}) }}">{{ team.name }}</a>
    </li>
    <li class="active">
        {{ 'bibliometry.stats.page_title_breadcrumb'|trans }}
    </li>
{% endblock %}

{% block body %}
{# Main content #}

<h2>{{ 'bibliometry.stats.conference_per_country'|trans }} <a href="{{ path('team_data_to_download_route', {'slug_team': team.slug, 'data_to_download': 'histogram_conference_countries', 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint}) }}" target="_blank"><button class="btn btn-primary btn-flat"><i class="fa fa-download"></i>{{ 'bibliometry.stats.export'|trans }}</button></a></h2>
<h2>{{ 'bibliometry.stats.author_per_country'|trans }} <a href="{{ path('team_data_to_download_route', {'slug_team': team.slug, 'data_to_download': 'histogram_affiliations_nationalities', 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint}) }}" target="_blank"><button class="btn btn-primary btn-flat"><i class="fa fa-download"></i>{{ 'bibliometry.stats.export'|trans }}</button></a></h2>
<br>

<h2 class="page-header">{{ 'bibliometry.stats.journals'|trans }}</h2>
{# Graph quartile repartition #}
{% include 'BibliometryMainBundle:Graphs:barchart_quartile_repartition.html.twig' with {'subject': team, 'quartileRepartition': quartileRepartition} %}

{# Quartile journal repartition #}
{% include 'BibliometryMainBundle:Graphs:piechart_journal_repartition.html.twig' with {'subject': team, 'quartileRepartition': quartileRepartition, 'journalRepartitionQuartile': journalRepartitionQuartile} %}

{# Quartile evolution over years #}
{% include 'BibliometryMainBundle:Graphs:linechart_quartile_evolution.html.twig' with {'subject': team, 'quartileEvolution': quartileEvolution} %}

{# Average IF evolution over years #}
{% include 'BibliometryMainBundle:Graphs:linechart_average_if_evolution.html.twig' with {'subject': team, 'averageIFEvolution': averageIFEvolution} %}

<div class="col-md-12">
    <h2 class="page-header">{{ 'bibliometry.stats.conferences'|trans }}</h2>
</div>

{# Graph conference ranking repartition #}
{% include 'BibliometryMainBundle:Graphs:barchart_conference_ranking_repartition.html.twig' with {'subject': team, 'conferenceRepartition': conferenceRankingRepartition} %}

{# Conference repartition per ranking #}
{% include 'BibliometryMainBundle:Graphs:piechart_conference_repartition.html.twig' with {'subject': team, 'conferenceRepartition': conferenceRankingRepartition, 'conferenceRepartitionRanking': conferenceRepartitionRanking} %}

{# Conference ranking evolution over years #}
{% include 'BibliometryMainBundle:Graphs:linechart_conference_ranking_evolution.html.twig' with {'subject': team, 'conferenceRankingEvolution': conferenceRankingEvolution} %}

<canvas id="canvas" width="1280" height="720"></canvas> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Handle date mods and show/hide publications #}
    <script>
        $('#date_picker').popover();
        $('#collaborations_graph_options').popover();
    </script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.stack.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.pie.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.categories.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.canvas.min.js') }}" type="text/javascript"></script>
    {% include 'BibliometryMainBundle:Graphs:export_graphs.html.twig' %}
{% endblock %}
