<div class="box-body table-responsive">
    <table class="publications_table table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ 'bibliometry.researchers.publications.type'|trans }}</th>
                <th>{{ 'bibliometry.researchers.publications.year'|trans }}&nbsp;&nbsp;&nbsp;</th>
                <th>{{ 'bibliometry.researchers.publications.id'|trans }}</th>
                <th>{{ 'bibliometry.researchers.publications.title'|trans }}</th>
                <th>{{ 'bibliometry.researchers.publications.conf_journal'|trans }}</th>
                <th>{{ 'bibliometry.researchers.publications.rank_if'|trans }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for publication in publications %}
                <tr>
                    {% if publication.type == "conference" %}
                        <td><table><tr><td><i class="fa fa-file-text-o"></i> </td><td>{{ 'bibliometry.researchers.publications.conference'|trans }}</td></tr></table></td>
                        <td align="center">{{ publication.year }}</td>
                        <td>{{ publication.id }}</td>
                        <td><a href="{{ path('publication_route', {'slug_publication':publication.slug}) }}" target="_blank">{{ publication.title }}</a></td>
                        {% if publication.publiConference.conference is not null %}
                        	<td><a href="{{ path('conference_route', {'slug_conference':publication.publiConference.conference.slug}) }}" target="_blank">{{ publication.publiConference.titleOfConferenceInHAL }}</a></td>
                        {% else %}
                        	<td>{{ publication.publiConference.titleOfConferenceInHAL }}</td>
                        {% endif %}
                        <td align="center" data-order="{{ publication.publiConference.conferenceRanking ? publication.publiConference.conferenceRanking.rankingValueInteger : 90 }}">
                            {% if publication.publiConference.conferenceRanking %}
                                {{ publication.publiConference.conferenceRanking.value|conf_color|raw }}
                            {% else %}
                                {% if publication.language|lower == "fr" %}
                                    <span class="flag-icon flag-icon-fr" style="font-size:20px"></span>
                                {% else %}
                                    {{ 'bibliometry.researchers.publications.no_core_ranking'|trans }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% elseif publication.type == "journal" %}
                        <td><table><tr><td><i class="fa fa-book"></i> </td><td>{{ 'bibliometry.researchers.publications.journal'|trans }}</td></tr></table></td>
                        <td align="center">{{ publication.year }}</td>
                        <td>{{ publication.id }}</td>
                        <td><a href="{{ path('publication_route', {'slug_publication':publication.slug}) }}" target="_blank">{{ publication.title }}</a></td>
                        <td><a href="{{ path('journal_route', {'slug_journal':publication.publiJournal.journal.slug}) }}" target="_blank">{{ publication.publiJournal.journal.title }}</a></td>
                        <td align="center" data-order="{{ publication.publiJournal.impactFactor ? 0.5+publication.publiJournal.impactFactor.quartile : 91 }}">
                            {% if publication.publiJournal.impactFactor %}
                                {{ publication.publiJournal.impactFactor.value|if_color(publication.publiJournal.impactFactor.quartile)|raw }}
                            {% else %}
                                {{ 'bibliometry.researchers.publications.no_impact_factor'|trans }}
                            {% endif %}
                        </td>
                    {% elseif publication.type == "book" or publication.type == "chapter" or publication.type == "direction_book"  or publication.type == "thesis" or publication.type == "hdr" %}
                        <td>{{ ('bibliometry.publication.'~publication.type)|trans }}</td>
                        <td align="center">{{ publication.year }}</td>
                        <td>{{ publication.id }}</td>
                        <td><a href="{{ path('publication_route', {'slug_publication':publication.slug}) }}" target="_blank">{{ publication.title }}</a></td>
                        <td align="center">-</td>
                        <td align="center" data-order="{{ 92 }}">-</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!-- /.box-body -->
