 <div class="box box-solid" style="box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3)">
    <div class="box-header">
        <h3 class="box-title"><a href="{{ path('show_team_route', {'slug_team': team.slug}) }}">{{ team.name }}</a></h3>
        {% if team.leader %}
            <div class="box-tools pull-right" style="margin-top:5px">
                {% if team.isManaged(app.user) %}
                    <a href="{{ path('manage_team_route', {'slug_team': team.slug}) }}"><span class="label label-danger"><i class="fa fa-cog"></i> {{ 'bibliometry.team.manage_team'|trans }}</span></a>
                {% endif %}
                {% if hasRightToSee %}
                    <a href="{{ path('researchers_researcher_researcher', {'slug_researcher': team.leader.slug}) }}"><span class="label label-primary">{{ team.leader.name }} {{ team.leader.surname }}</span></a>
                {% else %}
                    <span class="label label-primary">{{ team.leader.name }} {{ team.leader.surname }}</span>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="box-body" style="overflow:hidden">
        {# If daughter teams, show them #}
        {% if team.daughterTeams|length > 0 %}
            <div class="col-md-12">
                {% for daughterTeam in team.daughterTeams %}
                    {% include "BibliometryMainBundle:Team:showSubteam.html.twig" with {'team': daughterTeam} %}
                {% endfor %}
            </div>
        {# Else, display members #}
        {% else %}
            <ul class="list-unstyled">
                {% for researcher in team.researchers %}
                    {% if hasRightToSee %}
                        <li><a href="{{ path('researchers_researcher_researcher', {'slug_researcher': researcher.slug}) }}">{{ researcher.name }} {{ researcher.surname }}</a></li>
                    {% else %}
                        <li>{{ researcher.name }} {{ researcher.surname }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>