{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.team.teams_page_title'|trans({'%laboratory%': laboratory.name}) }}{% endblock %}

{% block page_title %}{{ 'bibliometry.team.teams_page_title'|trans({'%laboratory%': laboratory.name}) }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.team.teams'|trans }}
    </li>
{% endblock %}

{% block body %}
    {% if not admin %}
        {% for daughterTeam in laboratory.laboratoryTeam.daughterTeams %}
            {% if loop.index % 2 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-md-6">
                {% include "BibliometryMainBundle:Team:showSubteam.html.twig" with {'team': daughterTeam} %}
            </div>
            {% if loop.index % 2 == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                        <i class="fa fa-gear"></i> {{ 'bibliometry.team.manage_teams'|trans }}
                    </h3>
                </div>
                <div class="box-body">
                    {{ form_start(formTeam, {'action': path('all_teams_route')}) }}
                        <div class="row">
                            <div class="col-xs-3">
                                {{ form_widget(formTeam.name, {"attr" : {"class" : "form-control", "placeholder" : "bibliometry.team.new_team_name" }}) }}
                            </div>
                            <div class="col-xs-3">
                                {{ form_widget(formTeam.hierarchicalLevel, {"attr" : {"class" : "form-control", "placeholder" : "bibliometry.team.hierarchical_level" }}) }}
                            </div>
                            <div class="col-xs-3">
                                {{ form_widget(formTeam.leader, {"attr" : {"class" : "form-control combobox", "placeholder" : "bibliometry.team.new_team_leader" }}) }}
                            </div>
                            <div class="col-xs-3">
                                {{ form_rest(formTeam) }}
                                <button type="submit" class="btn btn-success btn-block">{{ 'bibliometry.team.add_team'|trans }}</button>
                            </div>
                        </div>
                    {{ form_end(formTeam) }}
                </div>
            </div>
            <ol class="sortable ui-sortable" style="margin-top:0px">
                {% include "BibliometryMainBundle:Team:adminTeamsRecursive.html.twig" with {'team': laboratory.laboratoryTeam} %}
            </ol>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="delete_confirm_popup">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ 'bibliometry.team.confirm_delete'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'bibliometry.team.cancel'|trans }}</button>
                        <button type="button" class="btn btn-danger" id="confirm_delete_button">{{ 'bibliometry.team.delete_team'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
     <link href="{{ asset('css/bootstrap-combobox.css') }}" rel="stylesheet" type="text/css" />
     <style type="text/css">

		.placeholder {
			outline: 1px dashed #4183C4;
			/*-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			margin: -1px;*/
		}

		.mjs-nestedSortable-error {
			background: #fbe3e4;
			border-color: transparent;
		}

		ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}

		ol.sortable, ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

		ol.sortable {
			margin: 4em 0;
		}

		.sortable li {
			margin: 5px 0 0 0;
			padding: 0;
		}

		.sortable li div  {
			border: 1px solid #d4d4d4;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border-color: #D4D4D4 #D4D4D4 #BCBCBC;
			padding: 6px;
			margin: 0;
			cursor: move;
			background: #f6f6f6;
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
		}

		.sortable li.mjs-nestedSortable-branch div {
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

		}

		.sortable li.mjs-nestedSortable-leaf div {
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

		}

		li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
			border-color: #999;
			background: #fafafa;
		}

		.disclose {
			cursor: pointer;
			width: 10px;
			display: none;
		}

		.sortable li.mjs-nestedSortable-collapsed > ol {
			display: none;
		}

		.sortable li.mjs-nestedSortable-branch > div > .disclose {
			display: inline-block;
		}

		.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
			content: '+ ';
		}

		.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
			content: '- ';
		}
	</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if admin %}
        <script src="{{ asset('js/bootstrap-combobox.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.combobox').combobox();
            });
        </script>
        <script src="{{ asset('js/jquery-ui-1.10.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.mjs.nestedSortable.js') }}" type="text/javascript"></script>
        <script>
            $(document).ready(function(){

                $('ol.sortable').nestedSortable({
                    forcePlaceholderSize: true,
                    handle: 'div',
                    items: 'li',
                    placeholder: 'placeholder',
                    toleranceElement: '> div',
                    protectRoot: true,
                    update: function(event, ui) { updateTeamsHierarchy() }
		        });
            });
            
            toastr.options = {
                "timeOut": "2000",
            }
            
            function updateTeamsHierarchy()
            {
                var hierarchy = $('ol.sortable').nestedSortable('toArray', {startDepthCount: 0});
                $.post('{{ path('update_teams_route') }}', { teamsHierarchy: hierarchy })
                    .done(function(response) {
                        toastr.success('{{ 'bibliometry.team.teams_arranged'|trans }}');
                    });
            }
            
            $('.disclose').on('click', function() {
			    $(this).closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');
		    });
		    
		    var team_to_delete;
		    
		    $(".sortable .delete").click(function() {
		        $("#delete_confirm_popup").modal();
		        team_to_delete = $(this).parent().parent();
            });
            
            $("#confirm_delete_button").click(function()
            {
                $("#delete_confirm_popup").modal('hide');
                team_to_delete.remove();
                updateTeamsHierarchy();
            });
            
        </script>
    {% endif %}
{% endblock %}