{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ team.name }}{% endblock %}

{% block page_title %}
    <div style="width:60%;">{{ team.name }}</div>
    {% if ('now'|date('Y') < endYear) or ('now'|date('Y') == endYear and 'now'|date('m') <= endMonth) %}
        <div style="margin-top:10px"><small>{{ 'bibliometry.team.page_now'|trans({'%beginYear%': beginYear, '%beginMonth%': beginMonth})|raw}} {{ ('bibliometry.base.' ~ constraint)|trans }}</small>
    {% else %}
        <div style="margin-top:10px"><small>{{ 'bibliometry.team.page_title'|trans({'%beginYear%': beginYear, '%endYear%': endYear, '%beginMonth%': beginMonth, '%endMonth%': endMonth})|raw}} {{ ('bibliometry.base.' ~ constraint)|trans }}</small>
    {% endif %}
    {# Date range picker #}
{% set baseURL = path('show_team_route', {'slug_team': team.slug, 'beginYear':'0000', 'endYear':'1111', 'beginMonth': '2222', 'endMonth': '3333', 'constraint': '4444'}) %}
<button type="button" class="btn btn-sm btn-danger" id="date_picker" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="{% filter escape %}{% include 'dateRangePicker.html.twig' with {'baseURL': baseURL, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint} %}{% endfilter %}">
  {{ 'bibliometry.base.changeFilters'|trans }}
</button></div>
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('all_teams_route') }}">{{ 'bibliometry.team.teams'|trans }}</a>
    </li>
    <li class="active">
        {{ team.name }}
    </li>
{% endblock %}

{% set export_path = 'export_team_stats_route' %}
{% set slug_name = 'slug_team' %}

{% block body %}
{# Main content #}
<div class="col-md-12">
    {# Stats boxes #}
    <div class="row">
        <div class="col-lg-4 col-xs-4">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        {{ publicationsConferences|length }}
                    </h3>
                    <p>
                        {{ 'bibliometry.team.publi_conference'|trans }}
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <a href="#" id="conferences_tab_link" data-toggle="tab" class="small-box-footer">
                    {{ 'bibliometry.team.see_publications_conferences'|trans }} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-xs-4">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        {{ publicationsJournals|length }}
                    </h3>
                    <p>
                        {{ 'bibliometry.team.publi_journal'|trans }}
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <a href="#" id="journals_tab_link" class="small-box-footer">
                    {{ 'bibliometry.team.see_publications_journals'|trans }} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-xs-4">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>
                        {{ team.researchers|length }}
                    </h3>
                    <p>
                        {% if laboratory.laboratoryTeam == team %}
                            {{ 'bibliometry.team.members_and_former'|trans }}
                        {% else %}
                            {{ 'bibliometry.team.members'|trans }}
                        {% endif %}
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
                <a href="#" id="members_link" class="small-box-footer">
                    {{ 'bibliometry.team.see_members'|trans }} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    {# Graph publi per year #}
    {% include 'BibliometryMainBundle:Graphs:barchart_publications_per_year.html.twig' with {'subject': team, 'publicationsJournalsIndexedPerYear': publicationsJournalsIndexedPerYear, 'publicationsConferencesIndexedPerYear': publicationsConferencesIndexedPerYear} %}
    
</div>
{# Box teams members #}
    <h2 class="page-header">
        {{ 'bibliometry.team.members'|trans }}
        {% if team.leader %} ({{ 'bibliometry.team.leader'|trans }} :
            {% if hasRightToSee %}
                <a href="{{ path('researchers_researcher_researcher', {'slug_researcher': team.leader.slug}) }}">{{ team.leader.name }} {{ team.leader.surname }}</a>)
            {% else %}
                {{ team.leader.name }} {{ team.leader.surname }})
            {% endif %}
        {% endif %}
        {% if team.isManaged(app.user) %}
            <a href="{{ path('manage_team_route', {'slug_team': team.slug}) }}" class="btn btn-sm btn-danger"><i class="fa fa-cog"></i> {{ 'bibliometry.team.manage_team'|trans }}</a>
        {% endif %}
    </h2>
    <div class="box-group" id="members_box">
        {% if team.daughterTeams|length > 0 %}
            {% for daughterTeam in team.daughterTeams %}
                {% if loop.index % 2 == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-6">
                    {% include "BibliometryMainBundle:Team:showSubteam.html.twig" with {'team': daughterTeam, 'hasRightToSee' : hasRightToSee} %}
                </div>
                {% if loop.index % 2 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <div class="box box-solid" style="box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3)">
                    <div class="box-body">
                        <ul class="list-unstyled">
                            {% for researcher in team.researchers %}
                                {% if hasRightToSee %}
                                    <li><a href="{{ path('researchers_researcher_researcher', {'slug_researcher': researcher.slug}) }}">{{ researcher.name }} {{ researcher.surname }}</a></li>
                                 {% else %}
                                    <li>{{ researcher.name }} {{ researcher.surname }}</li>
                                 {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

<div class="col-md-12">
    {# Publications list #}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right" id="publications_tabs">
            <li><a href="#others" data-toggle="tab">{{ 'bibliometry.team.others'|trans }}</a></li>
            <li><a href="#journals" data-toggle="tab">{{ 'bibliometry.team.journals'|trans }}</a></li>
            <li><a href="#conferences" data-toggle="tab">{{ 'bibliometry.team.conferences'|trans }}</a></li>
            <li class="active"><a href="#all" data-toggle="tab">{{ 'bibliometry.team.all'|trans }}</a></li>
            <li class="pull-left header"><i class="fa fa-list"></i> {{ 'bibliometry.team.publications'|trans }}</li>
            <li class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.team.export_publications'|trans }} <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <form target="_blank" action="{{ path('export_publications_team_route', {'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'slug_team': team.slug}) }}" method="get">
                            <li class="dropdown-header">{{ 'bibliometry.export_publications.export_types'|trans }}</li>
                            <label><input type="checkbox" name="giveJournals" value="1" checked="checked"/>{{ 'bibliometry.team.journals'|trans }}</label><br>
                            <label><input type="checkbox" name="giveConferences" value="1" checked="checked"/>{{ 'bibliometry.team.conferences'|trans }}</label><br>
                            <label><input type="checkbox" name="giveOthers" value="1" checked="checked"/>{{ 'bibliometry.team.others'|trans }}</label><br>

                            <li class="dropdown-header">{{ 'bibliometry.export_publications.export_format'|trans }}</li>
                            <label><input type="radio" name="format" value="pdf" checked/>{{ 'bibliometry.export_publications.export_pdf'|trans }}</label><br>
                            <label><input type="radio" name="format" value="doc" />{{ 'bibliometry.export_publications.link_doc'|trans }}</label><br>
                            <label><input type="radio" name="format" value="bib"/>{{ 'bibliometry.export_publications.export_bibtex'|trans }}</label><br>
                            <label><input type="radio" name="format" value="txt"/>{{ 'bibliometry.export_publications.export_txt'|trans }}</label><br>

                            <li class="dropdown-header">{{ 'bibliometry.export_publications.sorted'|trans }}</li>
                            <label><input type="radio" name="sort" value="ranked" checked/>{{ 'bibliometry.export_publications.sorted_rank'|trans }}</label><br>
                            <label><input type="radio" name="sort" value="chronological"/>{{ 'bibliometry.export_publications.sorted_chronological'|trans }}</label><br>
                            <label><input type="radio" name="sort" value="alphabetical"/>{{ 'bibliometry.export_publications.sorted_alphabetical'|trans }}</label><br>

                            <input type="hidden" name="apikey" value="{{ app.user.apiKey }}"/>
                            <input type="submit"/>
                        </form>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-link"></i> {{ 'bibliometry.export_publications.export_link'|trans }} <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <form target="_blank" action="{{ path('export_publications_team_route', {'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'slug_team': team.slug}) }}" method="get">
                            <li class="dropdown-header">{{ 'bibliometry.export_publications.export_types'|trans }}</li>
                            <label><input type="checkbox" name="giveJournals" value="1" checked="checked"/>{{ 'bibliometry.team.journals'|trans }}</label><br>
                            <label><input type="checkbox" name="giveConferences" value="1" checked="checked"/>{{ 'bibliometry.team.conferences'|trans }}</label><br>
                            <label><input type="checkbox" name="giveOthers" value="1" checked="checked"/>{{ 'bibliometry.team.others'|trans }}</label><br>

                            <li class="dropdown-header">{{ 'bibliometry.export_publications.export_format'|trans }}</li>
                            <label><input type="radio" name="format" value="html" checked/>{{ 'bibliometry.export_publications.link_html'|trans }}</label><br>
                            <label><input type="radio" name="format" value="json"/>{{ 'bibliometry.export_publications.link_json'|trans }}</label><br>

                            <li class="dropdown-header">{{ 'bibliometry.export_publications.sorted'|trans }}</li>
                            <label><input type="radio" name="sort" value="ranked" checked/>{{ 'bibliometry.export_publications.sorted_rank'|trans }}</label><br>
                            <label><input type="radio" name="sort" value="chronological"/>{{ 'bibliometry.export_publications.sorted_chronological'|trans }}</label><br>
                            <label><input type="radio" name="sort" value="alphabetical"/>{{ 'bibliometry.export_publications.sorted_alphabetical'|trans }}</label><br>

                            <input type="hidden" name="apikey" value="{{ app.user.apiKey }}"/>
                            <input type="submit"/>
                        </form>
                    </ul>
                </div><!-- /btn-group -->
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="others">
                {% include "BibliometryMainBundle:Team:showPublicationsTable.html.twig" with {"publications" : publicationsOthers} %}
            </div>
            <div class="tab-pane" id="journals">
                {% include "BibliometryMainBundle:Team:showPublicationsTable.html.twig" with {"publications" : publicationsJournals} %}
            </div>
            <div class="tab-pane" id="conferences">
                {% include "BibliometryMainBundle:Team:showPublicationsTable.html.twig" with {"publications" : publicationsConferences} %}
            </div>
            <div class="tab-pane active" id="all">
                {% include "BibliometryMainBundle:Team:showPublicationsTable.html.twig" with {"publications" : publications} %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.stack.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.categories.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.canvas.min.js') }}" type="text/javascript"></script>
    <script>
        $('#date_picker').popover();
    </script>
    {# Scripts for data table #}
    <!-- DATA TABES SCRIPT -->
    <script src="{{ asset('js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            var oTable = $('.publications_table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        });
    </script>
    <script>
        $('#conferences_tab_link').click(function (e) {
            e.preventDefault();
            $('html,body').animate({scrollTop: $('#publications_tabs').offset().top},'slow');
            $('#publications_tabs a[href="#conferences"]').tab('show');
        })
        $('#journals_tab_link').click(function (e) {
            e.preventDefault();
            $('html,body').animate({scrollTop: $('#publications_tabs').offset().top},'slow');
            $('#publications_tabs a[href="#journals"]').tab('show');
        })
        $('#members_link').click(function (e) {
            e.preventDefault();
            $('html,body').animate({scrollTop: $('#members_box').offset().top},'slow');
        })
    </script>
    {% include 'BibliometryMainBundle:Graphs:export_graphs.html.twig' %}
{% endblock %}