{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.help.add_category.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.help.add_category.page_title'|trans }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('help_show_help') }}">{{ 'bibliometry.help.page_title'|trans }}</a>
    </li>
    <li class="active">
        {{ 'bibliometry.help.add_category.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
<div class="box">
    {{ form_start(form) }}
    <div class="box-body pad">
        {{ form_row(form.title) }}
    </div><!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-success btn-block"> {{ 'bibliometry.help.add_category.submit_button'|trans }}</button>
    </div><!-- /.box-footer-->
    {{ form_end(form) }}
</div>
{% endblock %}