{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}{{ parent() }} - {{ 'bibliometry.help.edit_page.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.help.edit_page.page_title'|trans }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('help_show_help') }}">{{ 'bibliometry.help.page_title'|trans }}</a>
    </li>
    <li class="active">
        {{ 'bibliometry.help.edit_page.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
<div class="box">
    {{ form_start(form) }}
    <div class="box-body pad">
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.categories, {"attr" : {"style" : "width:100%"}}) }}
    </div><!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-success btn-block"> {{ 'bibliometry.help.edit_page.submit_button'|trans }}</button>
    </div><!-- /.box-footer-->
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script>
        $(function() {
            $(".textarea").wysihtml5();
            $("#{{ form.categories.vars.id }}").removeClass("form-control");
            $("#{{ form.categories.vars.id }}").select2();
        });
    </script>
{% endblock %}