{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ category.title }}{% endblock %}

{% block page_title %}
    {{ category.title }} <small>{{ 'bibliometry.help.show_category.page_title'|trans }}</small>
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('help_show_help') }}">{{ 'bibliometry.help.page_title'|trans }}</a>
    </li>
    <li class="active">
        {{ 'bibliometry.help.show_category.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
<div class="box">
    <div class="box-body">
        <ul>
        {% for page in category.pages %}
            <li><a href="{{ path('help_show_page', {'slug_page': page.slug}) }}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
    </div><!-- /.box-body -->
</div>
{% endblock %}