{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ page.title }}{% endblock %}

{% block page_title %}
    {{ page.title|length > 70 ? page.title|slice(0, 70)~"..." : page.title }} <small>{{ 'bibliometry.help.show_page.page_title'|trans }}</small>
    <div style="margin-top:10px">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('help_edit_page', {'slug_page': page.slug}) }}" class="btn btn-danger">{{ 'bibliometry.help.show_page.edit_page'|trans }}</a>
        {% endif %}
        {% for category in page.categories %}
                <a href="{{ path('help_show_category', {'slug_category': category.slug}) }}" class="btn btn-info">{{ category.title }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('help_show_help') }}">{{ 'bibliometry.help.page_title'|trans }}</a>
    </li>
    <li class="active">
        {{ 'bibliometry.help.show_page.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">{{ page.title }}</h3>
    </div>
    <div class="box-body">
        {{ page.content|raw }}
    </div><!-- /.box-body -->
</div>
{% endblock %}