{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'bibliometry.help.page_title'|trans }}
{% endblock %}

{% block page_title %}
    {{ 'bibliometry.help.page_title'|trans }}
    {% if is_granted('ROLE_ADMIN') %}
        <div style="margin-top:10px">
            <a href="{{ path('help_add_category') }}" class="btn btn-danger">{{ 'bibliometry.help.add_cat'|trans }}</a>
            <a href="{{ path('help_add_page') }}" class="btn btn-danger">{{ 'bibliometry.help.add_pge'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.help.page_title'|trans }}
    </li>
{% endblock %}

{% block body %}
    {% for category in categories %}
        {% if loop.index % 3 == 0 %}
            <div class="row">
        {% endif %}
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"><a href="{{ path('help_show_category', {'slug_category': category.slug}) }}">{{ category.title }}</a></h3>
                </div>
                <div class="box-body">
                    <ul>
                        {% for page in category.pages %}
                            <li><a href="{{ path('help_show_page', {'slug_page': page.slug}) }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div><!-- /.box-body -->
            </div>
        </div>
        {% if loop.index % 3 == 0 %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}