<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary btn-sm {{ showPublications == "true" ? 'active':'' }}">
    <input type="radio" name="toggle_publications" id="show_publications" value="true" {{ showPublications == "true" ? 'checked':'' }}> {{ 'bibliometry.stats.show_publications'|trans }}
  </label>
  <label class="btn btn-primary btn-sm {{ showPublications == "false" ? 'active':'' }}">
    <input type="radio" name="toggle_publications" id="hide_publications" value="false" {{ showPublications == "false" ? 'checked':'' }}> {{ 'bibliometry.stats.hide_publications'|trans }}
  </label>
</div>
<div class="form-group">
    <label>{{ 'bibliometry.stats.nb_of_collaborators'|trans }} :</label>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-group"></i>
        </div>
        <input type="number" name="nb_of_collaborators" class="form-control" value="{{ nbOfCollaborators }}" min="1" required />
    </div><!-- /.input group -->
</div>
<button class="btn btn-block btn-primary" id="collaborations_graph_apply_button"><i class="fa fa-fw fa-check"></i> {{ 'bibliometry.stats.apply'|trans }}</button>

<script>
 $( "#collaborations_graph_apply_button" ).click(function() {
    var baseURL = "{{ path('researchers_researcher_stats', {'slug_researcher': researcher.slug, 'beginYear':beginYear, 'endYear':endYear, 'constraint': constraint, 'nbOfCollaborators': 1111,'showPublications':'true'}) }}";
    var wantedURL = baseURL.replace('true', $('input[name=toggle_publications]:checked').attr('value'));
    wantedURL = wantedURL.replace('1111', $("[name=nb_of_collaborators]").val());
    window.location = wantedURL+"#collaborations_graph_box";
});
</script>