{{ 'bibliometry.export_publications.publications_of_researcher'|trans({'%name%': researcher.name, '%surname%': researcher.surname})|upper }} {{ 'bibliometry.export_publications.from'|trans }} {{ ('bibliometry.export_publications.month' ~ beginMonth)|trans }} {{ beginYear }} {{ 'bibliometry.export_publications.to'|trans }} {{ ('bibliometry.export_publications.month' ~ endMonth)|trans }} {{ endYear }} {{ ('bibliometry.base.' ~ constraint)|trans }}

{% if sort == "ranked" %}
{% set section = 0 %}
{% for publication in publications %}
{% if section < 1 and publication.type == "journal" %}
{% set section = 1 %}

{{ 'bibliometry.export_publications.journals_IF'|trans }}

{% elseif section < 2 and publication.type == "conference" %}
{% set section = 2 %}

{{ 'bibliometry.export_publications.conferences_ranking_txt'|trans }}

{% elseif section < 3 and publication.type != "conference"  and publication.type != "journal" %}
{% set section = 3 %}

{{ 'bibliometry.export_publications.other_publication'|trans }}

{% endif %}
{{ letterIndex~loop.index~'.\t' }}{{ "["~referencesPublications[publication.id]~"] "}}{% include "BibliometryMainBundle:Publication:showPublication.txt.twig" with {'publication': publication} %}

{% endfor %}

{% elseif sort == "chronological" %}
{% set lastYear = endYear %}
{% for publication in publications %}
{% if loop.first or publication.year != lastYear %}
{% set lastYear = publication.year %}

{{ lastYear}}

{% endif %}
{{ letterIndex~loop.index~'.\t' }}{{ "["~referencesPublications[publication.id]~"] "}}{% include "BibliometryMainBundle:Publication:showPublication.txt.twig" with {'publication': publication} %}

{% endfor %}
    
{% elseif sort == "alphabetical" %}
{% for publication in publications %}
{{ letterIndex~loop.index~'.\t' }}{{ "["~referencesPublications[publication.id]~"] "}}{% include "BibliometryMainBundle:Publication:showPublication.txt.twig" with {'publication': publication} %}

{% endfor %}
{% endif %}
