[
{% for publication in publications %}
{% include "BibliometryMainBundle:Publication:showPublication.json.twig" with {'publication': publication} %}
{% if not loop.last %},{% endif %}  
{% endfor %}
]
