<li>
    <a href="{{ path('show_team_route', {'slug_team':tree["root"].slug}) }}">{{tree["root"].name}}</a> {{ (researcher==tree['root'].leader)?'<small class="badge pull-center bg-green">Leader</small>':'' }}
    {% if not tree["children"] is empty %}
        {% for child in tree["children"] %}
            {% if belonging_tree.contains(child["root"]) %}
                <ul>
                    {% include "BibliometryMainBundle:Researcher:showOrganization.html.twig" with {"researcher" : researcher, "tree" : child, "belonging_tree" : belonging_tree} %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}    
</li>