{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{researcher.name }} {{ researcher.surname }}{% endblock %}

{% block page_title %}{{researcher.name }} {{ researcher.surname }}
    {% if ('now'|date('Y') < endYear) or ('now'|date('Y') == endYear and 'now'|date('m') <= endMonth) %}
        <div style="margin-top:10px"><small>{{ 'bibliometry.researchers.researcher.page_now'|trans({'%beginYear%': beginYear, '%beginMonth%': beginMonth})|raw}} {{ ('bibliometry.base.' ~ constraint)|trans }}</small>
    {% else %}
        <div style="margin-top:10px"><small>{{ 'bibliometry.researchers.researcher.page_title'|trans({'%beginYear%': beginYear, '%endYear%': endYear, '%beginMonth%': beginMonth, '%endMonth%': endMonth})|raw}} {{ ('bibliometry.base.' ~ constraint)|trans }}</small>
    {% endif %}
{# Date range picker #}
{% set baseURL = path('researchers_researcher_researcher', {'slug_researcher': researcher.slug, 'beginYear':'0000', 'endYear':'1111', 'beginMonth': '2222', 'endMonth': '3333', 'constraint': '4444'}) %}
<button type="button" class="btn btn-sm btn-danger" id="date_picker" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="{% filter escape %}{% include 'dateRangePicker.html.twig' with {'baseURL': baseURL, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint} %}{% endfilter %}">
  {{ 'bibliometry.base.changeFilters'|trans }}
</button></div>{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('researchers_researcher_researchers') }}">{{ 'bibliometry.researchers.researcher.researchers'|trans }}</a>
    </li>
    <li class="active">
        {{researcher.name }} {{ researcher.surname }}
    </li>
{% endblock %}

{% set export_path = 'researchers_researcher_export_stats' %}
{% set slug_name = 'slug_researcher' %}

{% block body %}
{# Main content #}
<div class="col-md-7">
    {# Stats boxes #}
    <div class="row">
        <div class="col-lg-6 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        {{ publicationsConferences|length }}
                    </h3>
                    <p>
                        {{ 'bibliometry.researchers.researcher.publi_conference'|trans }}
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <a href="#" id="conferences_tab_link" data-toggle="tab" class="small-box-footer">
                    {{ 'bibliometry.researchers.researcher.see_publications_conferences'|trans }} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        {{ publicationsJournals|length }}
                    </h3>
                    <p>
                        {{ 'bibliometry.researchers.researcher.publi_journal'|trans }}
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <a href="#" id="journals_tab_link" class="small-box-footer">
                    {{ 'bibliometry.researchers.researcher.see_publications_journals'|trans }} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    {# Graph publi per year #}
    {% include 'BibliometryMainBundle:Graphs:barchart_publications_per_year.html.twig' with {'subject': researcher, 'publicationsJournalsIndexedPerYear': publicationsJournalsIndexedPerYear, 'publicationsConferencesIndexedPerYear': publicationsConferencesIndexedPerYear} %}
</div>

<div class="col-md-5">
{# Box profile #}
    <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-fw fa-user"></i> {{ 'bibliometry.researchers.researcher.profile_title'|trans({'%name%':researcher.name}) }}</h3>
            {% if researcher.hIndex %}
                <div class="box-tools pull-right" style="margin-top:2px;font-size:20px">
                     <a href="{{ researcher.googleProfile }}" target="_blank" style="color:white">{{ 'bibliometry.researchers.researcher.h_index'|trans }} : {{ researcher.hIndex }}</a>
                </div>
            {% endif %}
        </div>
        <div class="box-body" style="overflow:hidden">
            <div class="col-md-4 col-xs-4">
                {% if researcher.photo %}
                    <img src="{{ asset(researcher.photo.getWebPath()) }}" class="img-responsive img-circle" alt="{{researcher.name }} {{ researcher.surname }}" />
                {% else %}
                    <img src="{{ asset('img/default_avatar.png') }}" class="img-responsive img-circle" alt="{{researcher.name }} {{ researcher.surname }}" />
                {% endif %}
            </div>
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-7 col-xs-7">
                {% if researcher.email %}
                    <a href="mailto:{{ researcher.email }}" class="btn btn-primary btn-block"><i class="fa fa-envelope-o"></i> {{ 'bibliometry.researchers.researcher.send_email'|trans }}</a>
                {% endif %}
                <a href="{{ path('researchers_researcher_stats', {'slug_researcher': researcher.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint}) }}" class="btn btn-primary btn-block"><i class="fa fa-bar-chart-o"></i> {{ 'bibliometry.researchers.researcher.see_stats'|trans }}</a>
                {% if researcher.googleProfile %}
                    <a href="{{ researcher.googleProfile }}" class="btn btn-primary btn-block" target="_blank"><img src="{{ asset('img/scholar_icon.png') }}"></img> {{ 'bibliometry.researchers.researcher.google_profile'|trans }}</a>
                {% endif %}
                {% if researcher.dblpProfile %}
                    <a href="{{ researcher.dblpProfile }}" class="btn btn-primary btn-block" target="_blank"><i class="fa fa-fw fa-external-link"></i> {{ 'bibliometry.researchers.researcher.dblp_profile'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{# Box teams #}
{% if all_tree %}
    <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-fw fa-group"></i> {{ 'bibliometry.researchers.researcher.team_title'|trans }}</h3>
        </div>
        <div class="box-body">
            <ul>
                {% include "BibliometryMainBundle:Researcher:showOrganization.html.twig" with {"researcher" : researcher, "tree" : all_tree, "belonging_tree" : belonging_tree} %}
            </ul>
        </div>
    </div>
{% endif %}
{# If not from laboratory, warning #}
{% if not (homeLaboratory.laboratoryTeam in researcher.teams) %}
    <div class="box box-solid bg-red">
        <div class="box-header">
            <h3 class="box-title">{{ 'bibliometry.researchers.researcher.foreigner_warning'|trans }}</h3>
        </div>
        <div class="box-body">
            <p>{{ 'bibliometry.researchers.researcher.foreigner_warning_details'|trans }}</p>
        </div>
    </div>
{% endif %}
{# Bow word cloud #}
    <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-fw fa-cloud"></i> {{ 'bibliometry.researchers.researcher.word_cloud_title'|trans }}</h3>
            <div class="box-tools pull-right">
                <a href="#" id="download_png_button" target="_blank" download="{{ researcher.slug }}_word_cloud.png"><button class="btn btn-primary btn-flat"><i class="fa fa-download"></i> {{ 'bibliometry.researchers.researcher.export'|trans }}</button></a>
            </div>
        </div>
        <div class="box-body" id="word_cloud">
            
        </div>
    </div>
</div>

<div class="col-md-12">
    {# Publications list #}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right" id="publications_tabs">
            <li><a href="#others" data-toggle="tab">{{ 'bibliometry.researchers.researcher.others'|trans }}</a></li>
            <li><a href="#journals" data-toggle="tab">{{ 'bibliometry.researchers.researcher.journals'|trans }}</a></li>
            <li><a href="#conferences" data-toggle="tab">{{ 'bibliometry.researchers.researcher.conferences'|trans }}</a></li>
            <li class="active"><a href="#all" data-toggle="tab">{{ 'bibliometry.researchers.researcher.all'|trans }}</a></li>
            <li class="pull-left header"><i class="fa fa-list"></i> {{ 'bibliometry.researchers.researcher.publications'|trans }}</li>
            <li class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'bibliometry.researchers.researcher.export_publications'|trans }} <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <form target="_blank" action="{{ path('export_publications_researcher_route', {'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'slug_researcher': researcher.slug}) }}" method="get">
                            <li class="dropdown-header">{{ 'bibliometry.export_publications.export_types'|trans }}</li>
                            <label><input type="checkbox" name="giveJournals" value="1" checked="checked"/>{{ 'bibliometry.researchers.researcher.journals'|trans }}</label><br>
                            <label><input type="checkbox" name="giveConferences" value="1" checked="checked"/>{{ 'bibliometry.researchers.researcher.conferences'|trans }}</label><br>
                            <label><input type="checkbox" name="giveOthers" value="1" checked="checked"/>{{ 'bibliometry.researchers.researcher.others'|trans }}</label><br>

                            <li class="dropdown-header">{{ 'bibliometry.export_publications.export_format'|trans }}</li>
                            <label><input type="radio" name="format" value="pdf" checked/>{{ 'bibliometry.export_publications.export_pdf'|trans }}</label><br>
                            <label><input type="radio" name="format" value="doc" />{{ 'bibliometry.export_publications.link_doc'|trans }}</label><br>
                            <label><input type="radio" name="format" value="bib"/>{{ 'bibliometry.export_publications.export_bibtex'|trans }}</label><br>
                            <label><input type="radio" name="format" value="txt"/>{{ 'bibliometry.export_publications.export_txt'|trans }}</label><br>

                            <li class="dropdown-header">{{ 'bibliometry.export_publications.sorted'|trans }}</li>
                            <label><input type="radio" name="sort" value="ranked" checked/>{{ 'bibliometry.export_publications.sorted_rank'|trans }}</label><br>
                            <label><input type="radio" name="sort" value="chronological"/>{{ 'bibliometry.export_publications.sorted_chronological'|trans }}</label><br>
                            <label><input type="radio" name="sort" value="alphabetical"/>{{ 'bibliometry.export_publications.sorted_alphabetical'|trans }}</label><br>

                            <input type="hidden" name="apikey" value="{{ app.user.apiKey }}"/>
                            <input type="submit"/>
                        </form>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-link"></i> {{ 'bibliometry.export_publications.export_link'|trans }} <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <form target="_blank" action="{{ path('export_publications_researcher_route', {'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'slug_researcher': researcher.slug}) }}" method="get">
                            <li class="dropdown-header">{{ 'bibliometry.export_publications.export_types'|trans }}</li>
                            <label><input type="checkbox" name="giveJournals" value="1" checked="checked"/>{{ 'bibliometry.researchers.researcher.journals'|trans }}</label><br>
                            <label><input type="checkbox" name="giveConferences" value="1" checked="checked"/>{{ 'bibliometry.researchers.researcher.conferences'|trans }}</label><br>
                            <label><input type="checkbox" name="giveOthers" value="1" checked="checked"/>{{ 'bibliometry.researchers.researcher.others'|trans }}</label><br>

                            <li class="dropdown-header">{{ 'bibliometry.export_publications.export_format'|trans }}</li>
                            <label><input type="radio" name="format" value="html" checked/>{{ 'bibliometry.export_publications.link_html'|trans }}</label><br>
                            <label><input type="radio" name="format" value="json"/>{{ 'bibliometry.export_publications.link_json'|trans }}</label><br>

                            <li class="dropdown-header">{{ 'bibliometry.export_publications.sorted'|trans }}</li>
                            <label><input type="radio" name="sort" value="ranked" checked/>{{ 'bibliometry.export_publications.sorted_rank'|trans }}</label><br>
                            <label><input type="radio" name="sort" value="chronological"/>{{ 'bibliometry.export_publications.sorted_chronological'|trans }}</label><br>
                            <label><input type="radio" name="sort" value="alphabetical"/>{{ 'bibliometry.export_publications.sorted_alphabetical'|trans }}</label><br>

                            <input type="hidden" name="apikey" value="{{ app.user.apiKey }}"/>
                            <input type="submit"/>
                        </form>
                    </ul>
                </div><!-- /btn-group -->
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="others">
                {% include "BibliometryMainBundle:Researcher:showPublicationsTable.html.twig" with {"publications" : publicationsOthers} %}
            </div>
            <div class="tab-pane" id="journals">
                {% include "BibliometryMainBundle:Researcher:showPublicationsTable.html.twig" with {"publications" : publicationsJournals} %}
            </div>
            <div class="tab-pane" id="conferences">
                {% include "BibliometryMainBundle:Researcher:showPublicationsTable.html.twig" with {"publications" : publicationsConferences} %}
            </div>
            <div class="tab-pane active" id="all">
                {% include "BibliometryMainBundle:Researcher:showPublicationsTable.html.twig" with {"publications" : publications} %}
            </div>
        </div>
    </div>
</div>
<canvas id="canvas" width="1280" height="720"></canvas> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.stack.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.categories.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.canvas.min.js') }}" type="text/javascript"></script>
    <script>
        $('#date_picker').popover();
    </script>
    {# Scripts for data table #}
    <!-- DATA TABES SCRIPT -->
    <script src="{{ asset('js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            var oTable = $('.publications_table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "aaSorting": [[ 1, "desc" ]],
                "columnDefs": [
                    { type: 'num-html', targets: 4 }
                ]
            });
        });
    </script>
    <script>
        $('#conferences_tab_link').click(function (e) {
            e.preventDefault();
            $('html,body').animate({scrollTop: $('#publications_tabs').offset().top},'slow');
            $('#publications_tabs a[href="#conferences"]').tab('show');
        })
        $('#journals_tab_link').click(function (e) {
            e.preventDefault();
            $('html,body').animate({scrollTop: $('#publications_tabs').offset().top},'slow');
            $('#publications_tabs a[href="#journals"]').tab('show');
        })
    </script>
    
    {# Scripts for word cloud #}
    <script src="{{ asset('js/plugins/d3/d3.js') }}"></script>
    <script src="{{ asset('js/plugins/d3/d3.layout.cloud.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/canvg.js') }}"></script> 
    <script>
        $( document ).ready(function() {
            $("#canvas").hide();
        });
        var fill = d3.scale.category20();

        var w = $('#word_cloud').width(),
        h = 180;
        scale = 1;
        words = {{ wordsInterest|json_encode|raw }};
        
        var svg = d3.select("#word_cloud").append("svg")
                .attr("width", w)
                .attr("height", h)
                .attr("id", "word_cloud_svg")
                .attr("version", "1.1")
        
        d3.layout.cloud().size([w, h])
          .words($.map(words.words, function(occurences, word) {
            return {text: word, size: 10 + occurences / words.maxOccurences * 35};
          }))
          .padding(5)
          .rotate(function() { return ~~(Math.random() * 2) * 90; })
          .font("Impact")
          .fontSize(function(d) { return d.size; })
          .on("end", draw)
          .start();

        d3.select("#download_png_button").on("click", downloadPNG);
        
        function draw(words) {
            svg
          .append("g")
            .attr("transform", "translate("+w/2+","+h/2+")")
          .selectAll("text")
            .data(words)
          .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("font-family", "Impact")
            .style("fill", function(d, i) { return fill(i); })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
        }
        
        // Converts a given word cloud to image/png.
        function downloadPNG() {
            var canvas = $("#canvas")[0];
            canvas.width = canvas.width;
            
            // Get size of graph and set it to double for canvas
            var graph_width = $("#word_cloud").children().attr('width');
            var graph_height = $("#word_cloud").children().attr('height');
            canvas.width = graph_width * 2;
            canvas.height = graph_height * 2;
            
            canvg('canvas', $("#word_cloud").html().trim(), {'scaleWidth':graph_width * 2, 'scaleHeight':graph_height * 2, 'ignoreDimensions': true, 'forceRedraw': true});
            canvas = document.getElementById("canvas");
            var img = canvas.toDataURL("image/png");
            d3.select("#download_png_button").attr("href", img);
        }
    </script>
    {% include 'BibliometryMainBundle:Graphs:export_graphs.html.twig' %}
{% endblock %}