{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.researchers.researchers.html_title'|trans }}{% endblock %}

{% block page_title %}{{ 'bibliometry.researchers.researchers.page_title'|trans }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.researchers.researcher.researchers'|trans }}
    </li>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-list"></i> {{ laboratory.name }} ({{ 'bibliometry.researchers.researchers.x_researchers'|trans({'%nb_researchers%': laboratory.laboratoryTeam.researchers|length}) }})</h3>
            </div>
            <div class="box-body">
                <div class="box-body table-responsive">
                    <table class="researchers_table table table-bordered table-striped">
                        <thead>
                            <tr>
                                {% if hasRightToSee %}
                                    <th></th>
                                {% endif %}
                                <th>{{ 'bibliometry.researchers.researchers.surname'|trans }}</th>
                                <th>{{ 'bibliometry.researchers.researchers.name'|trans }}</th>
                                <th>{{ 'bibliometry.researchers.researchers.teams'|trans }}</th>
                                <th>{{ 'bibliometry.researchers.researchers.nb_publications'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for researcher in laboratory.laboratoryTeam.researchers %}
                                <tr>
                                    {% if hasRightToSee %}
                                        <td><a href="{{ path('researchers_researcher_researcher', {'slug_researcher': researcher.slug}) }}"><button class="btn btn-primary btn-sm"><i class="fa fa-fw fa-user"></i> {{ 'bibliometry.researchers.researchers.profile'|trans }}</button></a></td>
                                    {% endif %}
                                    <td>{{ researcher.surname }}</td>
                                    <td>{{ researcher.name }}</td>
                                    <td>
                                        {% for team in researcher.teams %}
                                            {% if team != laboratory.laboratoryTeam %}
                                                <a href="{{ path('show_team_route', {'slug_team': team.slug}) }}" class="btn btn-xs btn-{{ (team.getRootTeam() == laboratory.laboratoryTeam) ? 'primary':'danger' }}">{{ team.name }}</a>
                                                {% if not loop.last %}
                                                    , 
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ researcher.publications|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box-body -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Scripts for data table #}
    <!-- DATA TABES SCRIPT -->
    <script src="{{ asset('js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(function() {
            var oTable = $('.researchers_table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "iDisplayLength": 50,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "aaSorting": [[ 1, "asc" ]]
            });
        });
    </script>
{% endblock %}