{% extends "::base.html.twig" %}

{% set collaborations = researcher.getCollaborations(beginYear, endYear, beginMonth, endMonth, constraint) %}
{% set export_path = 'researchers_researcher_export_stats' %}
{% set slug_name = 'slug_researcher' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/jquery-jvectormap.css') }}" rel="stylesheet">
    <style>
        .linkable{
          cursor:pointer;
        }
    </style>
{% endblock %}

{% block title %}{{ parent() }} - {{researcher.name }} {{ researcher.surname }} - {{ 'bibliometry.stats.html_title'|trans }}{% endblock %}

{% block page_title %}{{researcher.name }} {{ researcher.surname }}
    {% if ('now'|date('Y') < endYear) or ('now'|date('Y') == endYear and 'now'|date('m') <= endMonth) %}
        <div style="margin-top:10px"><small>{{ 'bibliometry.stats.page_now'|trans({'%beginYear%': beginYear, '%beginMonth%': beginMonth})|raw}} {{ ('bibliometry.base.' ~ constraint)|trans }}</small>
    {% else %}
        <div style="margin-top:10px"><small>{{ 'bibliometry.stats.page_title'|trans({'%beginYear%': beginYear, '%endYear%': endYear, '%beginMonth%': beginMonth, '%endMonth%': endMonth})|raw}} {{ ('bibliometry.base.' ~ constraint)|trans }}</small>
    {% endif %}
{# Date range picker #}
{% set baseURL = path('researchers_researcher_stats', {'slug_researcher': researcher.slug, 'beginYear':'0000', 'endYear':'1111', 'beginMonth': '2222', 'endMonth': '3333', 'constraint': '4444'}) %}
<button type="button" class="btn btn-sm btn-danger" id="date_picker" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="{% filter escape %}{% include 'dateRangePicker.html.twig' with {'baseURL': baseURL, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'nbOfCollaborators': nbOfCollaborators, 'showPublications': showPublications} %}{% endfilter %}">
  {{ 'bibliometry.base.changeFilters'|trans }}
</button></div>
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('researchers_researcher_researchers') }}">{{ 'bibliometry.researchers.researcher.researchers'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('researchers_researcher_researcher', {'slug_researcher': researcher.slug, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint}) }}">{{researcher.name }} {{ researcher.surname }}</a>
    </li>
    <li class="active">
        {{ 'bibliometry.stats.page_title_breadcrumb'|trans }}
    </li>
{% endblock %}

{% block body %}
{# Main content #}

<h2>{{ 'bibliometry.stats.conference_per_country'|trans }} <a href="{{ path('researcher_data_to_download_route', {'slug_researcher': researcher.slug, 'data_to_download': 'histogram_conference_countries', 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint}) }}" target="_blank"><button class="btn btn-primary btn-flat"><i class="fa fa-download"></i>{{ 'bibliometry.stats.export'|trans }}</button></a></h2>
<h2>{{ 'bibliometry.stats.author_per_country'|trans }} <a href="{{ path('researcher_data_to_download_route', {'slug_researcher': researcher.slug, 'data_to_download': 'histogram_affiliations_nationalities', 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint}) }}" target="_blank"><button class="btn btn-primary btn-flat"><i class="fa fa-download"></i>{{ 'bibliometry.stats.export'|trans }}</button></a></h2>
<br>

<h2 class="page-header">{{ 'bibliometry.stats.journals'|trans }}</h2>
{# Graph quartile repartition #}
{% include 'BibliometryMainBundle:Graphs:barchart_quartile_repartition.html.twig' with {'subject': researcher, 'quartileRepartition': quartileRepartition} %}

{# Quartile journal repartition #}
{% include 'BibliometryMainBundle:Graphs:piechart_journal_repartition.html.twig' with {'subject': researcher, 'quartileRepartition': quartileRepartition, 'journalRepartitionQuartile': journalRepartitionQuartile} %}

{# Quartile evolution over years #}
{% include 'BibliometryMainBundle:Graphs:linechart_quartile_evolution.html.twig' with {'subject': researcher, 'quartileEvolution': quartileEvolution} %}

{# Average IF evolution over years #}
{% include 'BibliometryMainBundle:Graphs:linechart_average_if_evolution.html.twig' with {'subject': researcher, 'averageIFEvolution': averageIFEvolution} %}

<div class="col-md-12">
    <h2 class="page-header">{{ 'bibliometry.stats.conferences'|trans }}</h2>
</div>

{# Graph conference ranking repartition #}
{% include 'BibliometryMainBundle:Graphs:barchart_conference_ranking_repartition.html.twig' with {'subject': researcher, 'conferenceRepartition': conferenceRankingRepartition} %}

{# Conference repartition per ranking #}
{% include 'BibliometryMainBundle:Graphs:piechart_conference_repartition.html.twig' with {'subject': researcher, 'conferenceRepartition': conferenceRankingRepartition, 'conferenceRepartitionRanking': conferenceRepartitionRanking} %}

{# Conference ranking evolution over years #}
{% include 'BibliometryMainBundle:Graphs:linechart_conference_ranking_evolution.html.twig' with {'subject': researcher, 'conferenceRankingEvolution': conferenceRankingEvolution} %}

{# Collaboration graph #}
<div class="col-md-12">
    <h2 class="page-header">{{ 'bibliometry.stats.collaborations'|trans }}</h2>
    <div class="box box-primary" id="collaborations_graph_box">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-fw fa-group"></i> {{ 'bibliometry.stats.collaborations_graph'|trans }}</h3>
            <button type="button" class="btn btn-sm btn-danger" style="margin-top:5px;margin-left:10px" id="collaborations_graph_options" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="{% filter escape %}{% include 'BibliometryMainBundle:Researcher:collaborationsGraphOptions.html.twig' with {'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'showPublications':showPublications, 'nbOfCollaborators': nbOfCollaborators} %}{% endfilter %}">
                {{ 'bibliometry.stats.collaborations_graph_options'|trans }}
            </button>
            <div class="box-tools pull-right">
                <a href="#" name="download_canvas_graph_png_button" graph_id="collaborations_graph" target="_blank" download="{{ researcher.slug }}_collaborations_graph.png"><button class="btn btn-primary btn-flat"><i class="fa fa-download"></i> {{ 'bibliometry.stats.export'|trans }}</button></a>
            </div>
        </div>
        <div class="box-body chart-responsive">
            <canvas id="collaborations_graph" style="width:100%; height:600px"></canvas> 
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-list"></i> {{ 'bibliometry.stats.collaborations_list'|trans }}</h3>
        </div>
        <div class="box-body">
            {% include "BibliometryMainBundle:Researcher:showCollaboratorsTable.html.twig" with {"collaborations" : collaborations, 'hasRightToSee' : hasRightToSee } %}
        </div>
    </div>
</div>

<canvas id="canvas" width="1280" height="720"></canvas> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Handle date mods and show/hide publications #}
    <script>
        $('#date_picker').popover();
        $('#collaborations_graph_options').popover();
    </script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.stack.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.pie.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.categories.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.canvas.min.js') }}" type="text/javascript"></script>
    {# Scripts for data table #}
    <!-- DATA TABES SCRIPT -->
    <script src="{{ asset('js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            var oTable = $('.collaborators_table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "aaSorting": [[ 1, "desc" ]],
                'iDisplayLength': 20,
            });
        });
    </script>
    {# Arbor.js #}
    <script src="{{ asset('js/arbor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/arbor-tween.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/arbor-graphics.js') }}" type="text/javascript"></script>
    {# Collaborations graph #}
    {% include('BibliometryMainBundle:Researcher:collaborationsGraph.js.twig') with {'researcher': researcher, 'beginYear': beginYear, 'endYear': endYear, 'beginMonth': beginMonth, 'endMonth': endMonth, 'constraint': constraint, 'showPublications': showPublications, 'nbOfCollaborators': nbOfCollaborators, 'collaborations': collaborations, 'hasRightToSee' : hasRightToSee } %}
    {% include 'BibliometryMainBundle:Graphs:export_graphs.html.twig' %}
{% endblock %}