<div class="box-body table-responsive">
    <table class="collaborators_table table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ 'bibliometry.stats.researcher'|trans }}</th>
                <th>{{ 'bibliometry.stats.nb_collaborations'|trans }}&nbsp;&nbsp;&nbsp;</th>
                <th>{{ 'bibliometry.stats.publications_in_collaboration'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for collaborator in collaborations %}
                <tr>
                    <td>
                        {% if hasRightToSee %}
                            <a href="{{ path('researchers_researcher_researcher', {'slug_researcher': collaborator[0].slug}) }}">{{ collaborator[0].name }} {{ collaborator[0].surname }}</a>
                        {% else %}
                            {{ collaborator[0].name }} {{ collaborator[0].surname }}
                        {% endif %}
                    </td>
                    <td>
                        {{ collaborator[2]|length }}
                    </td>
                    <td>
                        <ul style="list-style-type:circle">
                        {% for publication in collaborator[2] %}
                            <li>
                                <a class="{{ publication.type == "conference" ? 'text-aqua' : 'text-red' }}" href="{{ path('publication_route', {'slug_publication': publication.slug}) }}">{{ publication.title }} ({{ publication.year }})</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!-- /.box-body -->