{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'bibliometry.search.html_title'|trans }}{% endblock %}

{% block page_title %}
    {% set sum_results = matchingResearchers|length + matchingTeams|length + matchingPublications|length + matchingConferences|length + matchingJournals|length %}
    {{ 'bibliometry.search.page_title'|transchoice(sum_results, {'%request%': request}) }}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        {{ 'bibliometry.search.search_results'|trans }}
    </li>
{% endblock %}

{% block body %}
    <div class="col-md-12">
    {% if matchingResearchers|length > 0 %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.search.researchers_found'|transchoice(matchingResearchers|length) }}</h3>
            </div>
            <div class="box-body">
                {% for researcher in matchingResearchers %}
                    {% if hasRightToSee %}
                        <a href="{{ path('researchers_researcher_researcher', {'slug_researcher':researcher.slug}) }}">{{ researcher.name|highlightSearch(request)|raw }} {{ researcher.surname|highlightSearch(request)|raw }}</a> 
                    {% else %}
                        {{ researcher.name|highlightSearch(request)|raw }} {{ researcher.surname|highlightSearch(request)|raw }} 
                    {% endif %}
                    {% for team in researcher.teams %}
                            <a href="{{ path('show_team_route', {'slug_team': team.slug}) }}" class="btn btn-xs btn-{{ (team.getRootTeam() == laboratory.laboratoryTeam) ? 'primary':'danger' }}">{{ team.name }}</a>
                            {% if not loop.last %}
                                , 
                            {% endif %}
                    {% endfor %}
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if matchingTeams|length > 0 %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.search.teams_found'|transchoice(matchingTeams|length) }}</h3>
            </div>
            <div class="box-body">
                {% for team in matchingTeams %}
                    <a href="{{ path('show_team_route', {'slug_team':team.slug}) }}">{{ team.name|highlightSearch(request)|raw }}</a> <br>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if matchingPublications|length > 0 %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.search.publications_found'|transchoice(matchingPublications|length) }}</h3>
            </div>
            <div class="box-body">
                {% for publication in matchingPublications %}
                    <a class="my-popover" href="{{ path('publication_route', {'slug_publication':publication.slug}) }}" data-html="true" data-content="{{ publication.abstract|highlightSearch(request)|e }}" data-trigger="hover" data-placement="top">#{{ publication.id }} {{ publication.title|highlightSearch(request)|raw }}</a> <br>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if matchingConferences|length > 0 %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.search.conferences_found'|transchoice(matchingConferences|length) }}</h3>
            </div>
            <div class="box-body">
                {% for conference in matchingConferences %}
                    <a href="{{ path('conference_route', {'slug_conference':conference.slug}) }}">{{ conference.acronym ? ("["~conference.acronym|highlightSearch(request)~"] ")|raw:"" }}{{ conference.title|highlightSearch(request)|raw }}
                    {% set confRanking = conference.getLastConferenceRanking() %}
                    {% if confRanking %}
                        {{ confRanking.value|conf_color|raw }}
                    {% endif %}
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if matchingJournals|length > 0 %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'bibliometry.search.journals_found'|transchoice(matchingJournals|length) }}</h3>
            </div>
            <div class="box-body">
                {% for journal in matchingJournals %}
                    {% set journalIF = journal.getLastIF() %}
                    <a href="{{ path('journal_route', {'slug_journal':journal.slug}) }}">{{ journal.title|highlightSearch(request)|raw }}
                    {% if journalIF %}
                        {{ journalIF.value|if_color(journalIF.quartile)|raw }}
                    {% else %}
                        {{ 'bibliometry.journal.no_ranking'|trans }}
                    {% endif %}
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Scripts for data table #}
    <!-- DATA TABES SCRIPT -->
    <script src="{{ asset('js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(function() {
            var oTable = $('.researchers_table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "iDisplayLength": 50,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "aaSorting": [[ 1, "asc" ]]
            });
        });
    </script>
    <style>
        .popover
        {
            max-width:75% !important;
        }
    </style>
    <script>
        $(".my-popover").popover();
    </script>
{% endblock %}